<esp-opciones-busqueda 
    [showDateFilter]="true"
    [setFilterDateOptionSelected]="'var(--color-CAM-mezclado)'" 
    [setFilterDateTextColour]="'#057EC9'"
    [filterDateAppearance]="2"
    (sendDateFilterWithCeros)="getDataFecha($event)"
    [setFilterDateSelectionBg]="'#008BD2'"
    [setFilterDateButtonBg]="'#008BD2'"
></esp-opciones-busqueda> 

<!--CANDIDATO A COMPONENTE SHARED-->
<div class="infoGeneral">
    <div class="datosAnaliticos">
        <div>
            <div>Total de afiliados</div>
            <div>4050</div>
        </div>
    </div>
</div>
<!---->
<div id="chart">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [dataLabels]="chartOptions.dataLabels"
    [yaxis]="chartOptions.yaxis"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>