<esp-opciones-busqueda 
    [showDateFilter]="true"
    [setFilterDateOptionSelected]="'var(--color-CAM-mezclado)'" 
    [setFilterDateTextColour]="'#057EC9'"
    [filterDateAppearance]="2"
    (sendDateFilterWithCeros)="getDataFecha($event)"
    [setFilterDateSelectionBg]="'#008BD2'"
    [setFilterDateButtonBg]="'#008BD2'"
></esp-opciones-busqueda> 


<div class="infoGeneral text-[var(--color-black-alt)] font-semibold">
    <div class="datosAnaliticos botonApariencia">
        <div>
            <div class="text-[12px]">Total de afiliados</div>
            <div class="text-[18px]">4050</div>
        </div>
        <div class="icono">
            <img class="self-center" src="assets/svg/iconTotalAfiliados.svg">
        </div>
    </div>
    <div class="datosAnaliticos botonApariencia">
        <div>
            <div class="text-[12px]">Nuevos Afiliados</div>
            <div class="text-[18px]">367</div>
        </div>
        <div class="icono">
            <img class="self-center" src="assets/svg/iconNuevosAfiliados.svg">
        </div>
    </div>
    <div class="datosAnaliticos botonApariencia">
        <div>
            <div class="text-[12px]">Activos</div>
            <div class="text-[18px]">3200</div>
        </div>
        <div class="icono">
            <img class="self-center" src="assets/svg/iconActivos.svg">
        </div>
    </div>
    <div class="datosAnaliticos botonApariencia">
        <div>
            <div class="colorDivRojo text-[12px]">Bajas</div>
            <div class="text-[18px]">11</div>
        </div>
        <div class="icono">
            <img class="self-center" src="assets/svg/iconBajas.svg">
        </div>
    </div>
</div>

<div id="chart">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [dataLabels]="chartOptions.dataLabels"
    [yaxis]="chartOptions.yaxis"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>
