
<div [formGroup]="form" class="flex justify-between my-3 space-x-2 w-full">
    <div class="flex space-x-3">
      <div *ngIf="showDateFilter" class="relative rounded-md !h-10" [cdkMenuTriggerFor]="prueba.menu">
        <input  type="text" name="searchdate" id="searchDate" readonly formControlName="frmSearchDate"
        class="inputTextoDialog focusCampo !h-10 pr-6 text-s-14p text-sm ml-0" placeholder="Buscar por fecha">
        <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-2 text-s-14r text-gray-400 text-sm ">
        <span datepicker class="text-s-14r text-gray-400 text-sm ">
            <esp-icon class="text-s-16p text-gray-400" icon="faCalendarAlt"></esp-icon>
        </span>
        </div>
        <esp-filtro-fecha
        [setSelectionBg]="setFilterDateSelectionBg"
        [setButtonBg]="setFilterDateButtonBg"
        [setOptionSelected]="setFilterDateOptionSelected"
        [setTextColour]="setFilterDateTextColour"
        (sendDateFilter)="setDateFilter($event)"
        (sendDateFilterWithCeros)="setDateFilterWithCeros($event)"
        (sendDateFilterWithoutCeros)="setDateFilterWithoutCeros($event)"
        (sendDateFilterUSDate)="setDateFilterUSDate($event)"
        #prueba></esp-filtro-fecha>
      </div>
      <div *ngIf="showSearch">
          <div class="relative rounded-md shadow-sm">
            <input *ngIf="!searchInputAdjustWidth" type="text" name="search" id="search" formControlName="frmSearch" 
            class="inputTextoDialog focusCampo !h-10 pr-7"
            [placeholder] = 'searchInputPlaceHolder'>
            <input *ngIf="searchInputAdjustWidth" type="text" name="search" id="search" formControlName="frmSearch" 
            class="inputTextoDialog focusCampo !h-10 pr-7"
            [placeholder] = 'searchInputPlaceHolder' [size]="searchInputPlaceHolder.length">
            <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-3 opacity-50">
              <span class="text-gray-500 sm:text-sm">
                  <esp-icon icon="faSearch"></esp-icon>
              </span>
            </div>
          </div>
      </div>

    </div>
    <div class="flex space-x-3">
      <div *ngIf="showSecondDisplayFilter">
        <div class="relative rounded-md shadow-sm">
          <select id="acciones" class="bg-slate-50 border border-gray-300 text-gray-600 text-sm rounded-lg focusCampo !h-10 block w-full">
            <option *ngIf="secDisplayFilterPlaceholder.indicador == true" value="" selected>{{secDisplayFilterPlaceholder.placeholder}}</option> 
            <option *ngIf="secDisplayFilterPlaceholder.indicador == false" disabled selected>{{secDisplayFilterPlaceholder.placeholder}}</option>
            
            <option *ngFor="let option of secDisplayFilterData" [value]='option.valor1'>{{option.nombre | titlecase}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="showFirstDisplayFilter">
          <div class="relative rounded-md shadow-sm">
            <select id="docs" class="bg-slate-50 border border-gray-300 text-gray-600 text-sm rounded-lg focusCampo !h-10 block w-full">
              <option *ngIf="firstDisplayFilterPlaceholder.indicador == true" value="" selected>{{firstDisplayFilterPlaceholder.placeholder}}</option> 
              <option *ngIf="firstDisplayFilterPlaceholder.indicador == false" disabled selected>{{firstDisplayFilterPlaceholder.placeholder}}</option>
              
              <option *ngFor="let option of firstDisplayFilterData" [value]='option.valor1'>{{option.nombre | titlecase}}</option>
            </select>
          </div>
      </div>

      <div *ngIf="showotroBtn3">
        <div class="relative rounded-md pr-2 text-s-16p">
          <button typeBtn="submit" class="btnNotasStructure botonApariencia bg_image_descarga text-s-16r text-w-300" (click)="otroBtn3Accion.emit()">
            {{otroBtn3Text}}
          </button>
        </div>
      </div>


      <div *ngIf="showotroBtn2">
        <div class="relative rounded-md pr-2 text-s-16p">
          <button typeBtn="submit" class="btnNotasStructure botonApariencia " (click)="otroBtn2Accion.emit()">
            {{otroBtn2Text}}
          </button>
        </div>
      </div>

      <div *ngIf="showotroBtn">
        <div class="relative rounded-md pr-2 text-s-16p">
          <button typeBtn="submit" class="btnNotasStructure botonApariencia bg_image_upd" (click)="otroBtnAccion.emit()">
            {{otroBtnText}}
          </button>
        </div>
      </div>

      <div *ngIf="showButton">
        <div class="relative rounded-md pr-6 text-s-16p">
          <button typeBtn="submit" class="btnStructure botonApariencia" (click)="buttonAccion.emit()">
            {{buttonText}}
          </button>
        </div>
      </div>



    </div>
  </div>