<div class="info-container">

  <span class="flex w-1/4 flex-col">
    <app-opcion-regresar
    [link]="'/afiliados/afiliados'">
    </app-opcion-regresar>
  </span>

  <span class="flex w-3/4 flex-col additional-text">
    <esp-opciones-busqueda class=""
    
      [showButton]="true"
      [buttonText] = "'Evaluar Afiliado'"
      (buttonAccion)="EvalAfiliado()"
      
      [showotroBtn]="true"
      [otroBtnText] = "'Actualizar Datos'"
      (otroBtnAccion)="Actualizar()"

      [showotroBtn2]="true"
      [otroBtn2Text] = "'Notas'"
      (otroBtn2Accion)="Notas()"    

    ></esp-opciones-busqueda>
   
  </span>


</div>
<div class="div-mat-tab pt-1">
    <div class="d-flex pb-0">  
    </div>
  </div>
 
<div class="d-flex bg-white mr-6 ml-6"> 
  <p class="field-full-width text-s-26p pl-6 pt-2"><b>Ficha de Afiliado</b></p>
  <p class="field-full-width text-end pt-2 pr-6 text-s-16p text-secondary">N° de Historia 
  <br><span class="text-s-20p text-primary2" style="color: #057EC9 !important" >{{dataFicha.numHistoria}}00000000001</span>  <!--{{this.user.numHistoria}}     o   {{dataFicha.numHistoria}}-->
</p>
</div>

<div class="px-4 py-1 bg-white ml-6 mr-6 mb-3 grid grid-cols-3 gap-8" [formGroup]="formContacto">
  <div class="text-gray-600">
      <div class="grid text-center relative justify-center border-gradient-2">
          <p class=" py-1 px-3 my-2 mx-1 anios absolute right-0 text-white text-xl bg-primary3 ">{{edadPersona}} Años</p>
          <img class="my-2 imagen" >
          <p class="pt-1 bordColorEstablecido font-bold text-2xl m-1 text-color-primary2 text-sky-600 " style="line-height: 10px;">{{dataAsegurado.nombres | titlecase}}</p>
          <p class="font-semibold text-lg m-0">{{dataAsegurado.apePaterno | titlecase}} {{dataAsegurado.apeMaterno | titlecase}}</p>
          <p class="font-thin">DNI {{dataAsegurado.numDoc}}</p>
      </div>
      <div class="border-t-2 overflow-y mt-0 font-thin scrollbarra" >
          <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-semibold text-s-18p text-w-500 my-2 mt-2">Datos Personales</p>
          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500 m-1"> Fecha Nacimiento </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAsegurado.fecNacimiento | titlecase}} </p>
          </div>

          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500 m-1"> Sexo </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAsegurado.descSexo | titlecase}} </p>
          </div>          

          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500 m-1"> Estado Civil </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAsegurado.descEstCivil | titlecase}} </p>
          </div>          
 
          <p class="flex w-2/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500 m-1">Lugar de Nacimiento</p>
          <p class="flex w-2/2 flex-col additional-text mx-1 my-0 text-s-16r text-w-300"> {{dataAsegurado.departNacimiento | titlecase}} - {{dataAsegurado.provinNacimiento | titlecase}} - {{dataAsegurado.distriNacimiento | titlecase}}</p>



          <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-bold text-s-18p text-w-500 my-2">Datos De Contacto</p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Dirección Actual</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.nombreDireccion | titlecase}} </p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500" >Distrito</p>
          <p class="py-0 my-0 h-6 text-s-14r text-w-300">{{dataAsegurado.distrito | titlecase}} / {{dataAsegurado.provincia | titlecase}} / {{dataAsegurado.departamento | titlecase}}</p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500" >Correo</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.correo}} </p>
          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500"> Telefono </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAsegurado.telefono | titlecase}} </p>
          </div>             
          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500"> Celular </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAsegurado.celular   | titlecase}} </p>
          </div>             


          <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-bold text-s-18p text-w-500 my-2">Datos De Afiliación CAM</p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Afiliado a</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.centroCAM | titlecase}} </p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Por </p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">Usuario que lo evaluó - {{dataAsegurado.usuarioEvaluo | titlecase}} </p>
          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500"> Desde </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300 mb-3"> {{dataAsegurado.fechaAfilCAM | titlecase}} </p>
          </div>             

          <div class="info-container">
            <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-s-16r text-w-500"> Su estado es </p> 
            <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-700 mb-3" [ngStyle]="{'color': getColorForEstadoCAM()}"> {{dataAsegurado.estadoCAM   | titlecase}} </p>
          </div>             

          <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-bold text-s-18p text-w-500 my-2">Datos Del Seguro</p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Tipo de Asegurado</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.desTitular | titlecase}} </p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Nombre del Seguro</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.nomProdSeguro | titlecase}} </p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">IPRESS de Adscripcion</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.nomIpressAdscrip | titlecase}} </p>
          <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Red Asistencial</p>
          <p class="py-0 my-0 h-6 text-s-16r text-w-300">{{dataAsegurado.nomRedAsisten | titlecase}} </p>   
      </div>
  </div>
  
  <div class="col-span-2">
    <!-- OPERACIONES / EVALUACIONES-->
    <app-tabs></app-tabs>
  </div>
</div>

  