<esp-opciones-botones [listOpciones]="opcionesBotones" (firstFunction)="funcionesExtra(0)"></esp-opciones-botones>
<div class="py-3 flex flex-col gap-4 bg-white px-4 text-[#344563]">
    <span class="font-bold text-lg">Historial de cita</span>
    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2.5 items-center">
            <img src="assets/svg/icon-cita-historial.svg">
            <span>{{historialCita.nombreActividad}}</span>
        </div>
        <span>{{citasModificadas.length}} {{citasModificadas.length > 1 ? 'Registros' : 'Registro'}}</span>
    </div>
    <esp-cartilla-info [cartillas]="citasModificadas"></esp-cartilla-info>
</div>