<div>
  <esp-menu-opciones
  [titulo]="'Usuarios'"
  [links]="links2"
  [setColorTab]="'#057EC9'">
  </esp-menu-opciones>
  <!--<div class="d-flex">
      <div class="d-flex">
        <span class="material-symbols-outlined text-s-20" style="padding-top: 20px !important">
          <a routerLink="/home" class="decorator-none" style="color: #3E4348"> home </a>
        </span>

        <span class="text-s-15p" style="padding-top: 20px;">
          <a routerLink="/home" class="decorator-none" style="color: #3E4348"> INICIO </a>
        </span>
      </div>

      <div class="d-flex ml-3" style="padding-top: 15px !important" *ngIf="breadcrum1?.url">
        <span class="material-symbols-outlined text-s-20 ml-4" style="color: #3E4348">
          / 
        </span>

        <span class="text-s-15p pt-1 ml-5" style="padding-top: 20px">
          <a routerLink="{{ breadcrum1.url }}" class="decorator-none" style="color: #3E4348"> {{breadcrum1.title}}</a>
        </span>
      </div>

      <div class="d-flex ml-3" style="padding-top: 11px !important" *ngIf="breadcrum2?.url">
        <span class="material-symbols-outlined text-s-20 pt-1 ml-5" style="color: #3E4348">
          / 
        </span>

        <span class="text-s-15p pt-1 ml-5" style="padding-top: 6.5px !important;">
          <a routerLink="{{ breadcrum2.url }}" class="decorator-none" style="color: #3E4348"> {{breadcrum2.title}}</a>
        </span>
      </div>

      <div class="d-flex ml-3" style="padding-top: 11px !important;" *ngIf="breadcrum3?.url">
        <span class="material-symbols-outlined text-s-20 pt-1 ml-5" style="color: #3E4348">
          / 
        </span>

        <span class="text-s-15p pt-2 ml-5" style="padding-top: 6.5px !important;">
          <a routerLink="{{ breadcrum3.url }}" class="decorator-none" style="color: #3E4348"> {{breadcrum3.title}}</a>
        </span>
      </div>
    </div> 
  </div> -->
  <router-outlet></router-outlet>
</div>


