<div class="flex flex-row grow w-[450px]">
  <input type="text" 
    class="inputTextoDialog focusCampo" 
    [formControl]="ctrlSearchServicio" 
    [readonly]="esperaBusqueda" 
    [matAutocomplete]="servicios" 
    [placeholder]="esperaBusqueda ? 'Cargando data...' : 'Seleccione el servicio'"
    [ngClass]="{'bg-gray-100': esperaBusqueda}"
    >
    <mat-autocomplete #servicios="matAutocomplete" 
    [displayWith]="displayServicioFiltered" 
    (optionSelected)="onServicioSelect($event)">
    <mat-option *ngFor="let option of serviciosFiltrados" [value]="option">
        {{ option.nombre }}
    </mat-option>
    </mat-autocomplete>

</div>

<esp-opciones-busqueda 
[showDateFilter]="false"
[setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'" 
[setFilterDateTextColour]="'var(--color-CAM)'"
[showButton]="false"
[buttonBg]="'var(--color-CAM-Mezclado)'"
[buttonText]="'Nueva'"
(buttonAccion)="irAAsistencia()"
[filterDateAppearance]="2"
[setFilterDateSelectionBg]="'var(--color-CAM-Claro)'"
[setFilterDateButtonBg]="'var(--color-CAM-Claro)'"
[setDateSelectedDefault]="9"
(sendDateFilterWithCeros)="formBuscar.get('frmSearchDate')?.setValue($event); loadData()"
[showSearch]="false"
(searchInputValue)="formBuscar.get('frmSearch')?.setValue($event.toUpperCase()); loadData()"
[searchInputPlaceHolder]="'Buscar Talleres'"
[searchInputAdjustWidth]="false"
[showFirstDisplayFilter]="false"
[firstDisplayFilterPlaceholder]="{indicador: true, placeholder: 'Todos los estados'}"
(firstDisplayFilterSendValue)="formBuscar.get('frmSearchEstado')?.setValue($event); loadData()"
[firstDisplayFilterData]="opciones"

[menuOpt]="dataAcciones"
></esp-opciones-busqueda>

<esp-data-loading
[dataEmpty]="dataSource.length == 0"
[dataLoading]="loadingData"
></esp-data-loading>

<div *ngIf="!loadingData && dataSource.length > 0">
    <div class="table-container" style="height: 50vh;">
      
    <table cdk-table class="w-full text-sm text-left text-gray-500" [dataSource]="dataSource" >
      <tr cdk-header-row class="text-xs text-gray-700 bg-gray-50" *cdkHeaderRowDef="columns; sticky: true"></tr>
      <tr cdk-row class="bg-white border-b" *cdkRowDef="let row; columns: columns"></tr>
      <ng-container cdkColumnDef="marcar">
        <th cdk-header-cell class="py-[1.25rem] px-6" [style]="'width: 0%;'" *cdkHeaderCellDef> <input type="checkbox" [checked]="seleccionados.length == this.dataSource.length" (change)="afectarTodo($event)"/> </th>
        <td cdk-cell class="py-[1rem] px-6" [style]="'width: 0%;'" *cdkCellDef="let row"> <input type="checkbox" class="checkbox-select" (change)="seleccionarFila($event)" [value]="row.idInscripcion" [checked]="row.marcar"/> </td>
      </ng-container>

      <ng-container cdkColumnDef="descripcion">
        <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef [style]="'padding-left: 0px;'" >Servicio</th>
        <td cdk-cell class="py-[1rem] px-6 text-Name" *cdkCellDef="let row, index as i" [style]="'padding-left: 0px;'">
          <span>{{ row.nombreServicio }}</span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="opciones">
        <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Opciones</th>
        <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row"
         [ngClass]="(row.estado === 'PENDIENTE' ? 'text-[#DC2626]' : '') + (row.estado === 'SIN PROGRAMACION' ? 'text-[#FFBF00]' : '') + (row.estado === 'FINALIZADO' ? 'text-[#008000]' : '')">
         {{row.estado | titlecase}}</td>
      </ng-container>
    </table>
    </div>
   
    <mat-paginator #paginator class="demo-paginator paginatorDatos" 
    [length]="total"
    [pageSize]="pageSize"
    showFirstLastButtons="true"
    [pageSizeOptions]="pageSizeOptions.length > 0 ? pageSizeOptions : []"
    [pageIndex]="pageIndex"
    aria-label="Select page">
    </mat-paginator>
</div>