
<div class="my-3 w-full flex place-content-between">
  <div class="flex cursor-pointer text-base text-[#37474F]" routerLink="usuarios">
      <img class="h-6 self-center" src="assets/circle-arrow-left2.svg"> <span class="self-center ml-2">Regresar</span>
  </div>
  <div class="flex space-x-3">
    <button typeBtn="submit" class="btnStructure botonApariencia btnOtrasOpciones" routerLink="/usuarios">
      Cancelar
    </button>
    <button typeBtn="submit" class="btnStructure botonApariencia btnOtrasOpciones" routerLink="/usuarios/edit/{{ id }}">
      <div class="flex"><img class="h-5 self-center" src="assets/editor.svg"><span class="ml-1"> Editar</span></div>
    </button>
    <button typeBtn="submit" class="btnStructure botonApariencia btnAccion" (click)="loadModalActivarUsuario()">
      Activar
    </button>
  </div>
</div>
<div class="cards-contents" style="height: 500px">
  <mat-card class="d-flex">
    <div class="text-secondary w-full">
      <div class="">
        <div class="justify-content-center d-flex text">
          <span class="material-symbols-outlined text-s-5r">
            <img src="assets/search-sharp.svg"/> 
          </span>
        </div>
        <div
          class="justify-content-center d-flex text-s-18r text-uppercase text-w-semibold mt-2"
        >
        <span *ngIf="this.user?.nombres"> 
          {{ this.user.nombres }}
        </span>
        </div>
         <div class="w-100 text-s-16r text-w-bold mt-2" style="text-align: center; letter-spacing: 0.15px; line-height: 20px;" >
         <span *ngIf="this.user?.numDoc">
          {{ this.user.tipoDoc === "1" ? "DNI" : "" }} {{ this.user.numDoc }}
        </span>
      </div>
      </div>
      <div class="mt-4">
        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">Perfil</div>
          <div class="w-70 text-s-16r">
            <span *ngIf="this.user?.perfil">
            {{ this.user.perfil }}
            </span>
          </div>
        </div>
        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">Celular</div>
          <div class="w-70 text-s-16r">
            <span *ngIf="this.user?.celular">
            {{ this.user.celular }}
            </span>
          </div>
        </div>
        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
              Correo
          </div>
          <div class="w-70 text-s-16r">
            <!--<span *ngIf="this.user?.email">-->
            <span>
            {{ user.correo }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-50 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Fecha nacimiento 
          </div>
          <div class="w-50 text-s-16r">
            <span *ngIf="this.user?.nacimiento">
              {{ this.user.nacimiento }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Sexo
          </div>
          <div class="w-70 text-s-16r">
            <span *ngIf="this.user?.Sexo">
              {{ this.user.Sexo }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Dirección
          </div>
          <div class="w-70 text-s-16r">
            <span *ngIf="this.user?.direccion">
              {{ this.user.direccion }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-50 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Fecha Registro
          </div>
          <div class="w-50 text-s-16r">
            <span *ngIf="this.user?.fechReg">
              {{ this.user.fechReg }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Regimen
          </div>
          <div class="w-70 text-s-16r">
            <span *ngIf="this.user?.Regimen">
              {{ this.user.Regimen }}
            </span>
          </div>
        </div>

        <div class="d-flex p-1" >
          <div class="w-50 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Código Planilla
          </div>
          <div class="w-50 text-s-16r">
            <span *ngIf="this.user?.Planilla">
              {{ this.user.Planilla }}
            </span>
          </div>
        </div>       
        
        <div class="d-flex p-1" >
          <div class="w-50 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">
            Centro de labor
          </div>
          <div class="w-50 text-s-16r text-uppercase">
            <span *ngIf="this.user?.Centro">
              {{ this.user.Centro }}
            </span>
          </div>
        </div>       

        <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-16r" style="line-height: 20px; letter-spacing: 0.15px">Estado</div>
          <div class="w-70 text-s-16r" *ngIf="this.user?.roles">
            <span
              *ngIf="!user.tieneVigencia"
              class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded border-sky"
            >
              <svg
                aria-hidden="true"
                class="w-3 h-3"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              ACTIVO
            </span>
            <span
              *ngIf="user.tieneVigencia"
              class="bg-red-100 text-red-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-blue-700 dark:text-gray-400 border-red"
            >
              <svg
                aria-hidden="true"
                class="w-3 h-3 mr-1"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              EN PROCESO
            </span>
          </div>
        </div>

        <!-- <div class="d-flex p-1" >
          <div class="w-30 text-w-bold text-s-11 text-uppercase">
            ROLES DE USUARIO
          </div>
          <div class="w-70 text-s-14 text-uppercase" *ngIf="this.user?.roles">
            <span
              *ngFor="let rol of this.user.roles"
              class="inline-flex items-center p-2 mr-2 text-sm font-fine text-blue-800 bg-slate-200 rounded dark:bg-gray-700 dark:text-blue-400"
            >
              {{ rol.codigo }}
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </mat-card>
  <mat-card class="d-block" >
    <div class="d-flex" >
      <!--<span
        class="mt-2 d-flex text-uppercase text-secondary text-s-18 text-w-semibold"
      >
        historil&nbsp;&nbsp;
      </span>-->
      <div class="d-flex" style="border: none;">
        <div class="d-flex" *ngIf="subBreadcrum1.url">
          <!--
          <span
            class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2"
          >
            <a
              routerLink="{{ subBreadcrum1.url }}"
              class="text-secondary decorator-none"
            >
              {{ subBreadcrum1.title }}</a
            >
          </span>

          -->
        </div>

        <div class="d-flex pb-2" *ngIf="subBreadcrum2.url">
          <span
            class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5"
          >
            /
          </span>

          <span
            class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2 ml-5"
          >
            <a
              routerLink="{{ subBreadcrum2.url }}"
              class="text-secondary decorator-none"
            >
              {{ subBreadcrum2.title }}
            </a>
          </span>
        </div>

        <div class="d-flex pb-2" *ngIf="subBreadcrum3.url">
          <span
            class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5"
          >
            /
          </span>

          <span
            class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2 ml-5"
          >
            <a
              routerLink="{{ subBreadcrum3.url }}"
              class="text-secondary decorator-none"
            >
              {{ subBreadcrum3.title }}
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
          mat-tab-link
          *ngFor="let link of subLinks"
          (click)="subActiveTab = link.url"
          routerLink="{{ link.url }}"
          [active]="subActiveTab == link.url"
        >
          {{ link.title }}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
