<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!ready">
  <div class="text-gray-600 w-full text-center">
      <span class="py-1 font-bold text-2xl">
          <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
          Obteniendo datos...
      </span>
  </div>
</div>
<div class="flex flex-col" *ngIf="ready">
    <esp-opciones-botones [rutaRegreso]="'../..'" [listOpciones]="opcionesBotones" (firstFunction)="Notas()" (thirdFunction)="evaluarAfiliado()"></esp-opciones-botones>
    <div class="bg-white botonApariencia flex flex-row text-[var(--color-black-alt)]">
        <div class="w-[280px] shrink-0 flex flex-col border-r border-r-[#dceef7]">
            <div class="flex flex-col">
                <div class="flex flex-col gap-1 py-2 items-center relative leading-5">
                    <p class="py-1 px-3 bg-cam absolute right-0 text-white text-lg bg-black">{{edadPersona}} Años</p>
                    <!--<img src="data:image/JPEG;base64,{{dataFicha.asegurado.foto}}" class="w-[60px] h-[75px]">-->
                      <!--<img class="my-2 imagen" src='data:image/jpeg;base64,{{dataFichaAfiliado.asegurado.foto}}'>-->
                    <img  class="w-[60px] h-[75px]" src='assets/images/imgReemplazo.png'>
                    <!-- <img src="assets/images/avatar-user.png" class="w-[75px] rounded-full border-2 border-[var(--color-CAM)]"> -->
                    <p class="font-bold text-2xl text-sky-600 text-center">{{dataFicha.asegurado.apePaterno + ' ' + dataFicha.asegurado.apeMaterno | titlecase}}</p>
                    <p class="font-semibold text-lg m-0">{{dataFicha.asegurado.nombres | titlecase}}</p>
                    <p>{{dataFicha.asegurado.descTipoDoc}} {{dataFicha.asegurado.numDoc}}</p>
                </div>
                <div class="flex flex-col py-3 gap-3 border-t border-t-[#dceef7]">
                    <div class="flex flex-row gap-3 items-center justify-center h-[42px] pl-2.5 pr-1" [ngClass]="checkIfAnswered(evaluacionService.formDataTestPfi) ? null : 'opacity-50'">
                        <div class="bg-[var(--color-CAM)] text-white text-xl w-10 h-10 flex items-center justify-center font-semibold rounded shrink-0 select-none">
                            <span>A</span>
                        </div>
                        <div class="flex flex-col text-sm grow">
                            <span class="text-[var(--color-CAM)]">Test Pfeiffer</span>
                            <span>Evaluación Cognitiva</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3 items-center justify-center h-[42px] pl-2.5 pr-1" [ngClass]="checkIfAnswered(evaluacionService.formDataTestKatz) ? null : 'opacity-50'">
                        <div class="bg-[var(--color-CAM)] text-white text-xl w-10 h-10 flex items-center justify-center font-semibold rounded shrink-0 select-none">
                            <span>B</span>
                        </div>
                        <div class="flex flex-col text-sm grow">
                            <span class="text-[var(--color-CAM)]">Test de Katz</span>
                            <span>Evaluación funcional</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3 items-center justify-center h-[42px] pl-2.5 pr-1" [ngClass]="checkIfAnswered(evaluacionService.formDataTestGij) ? null : 'opacity-50'">
                        <div class="bg-[var(--color-CAM)] text-white text-xl w-10 h-10 flex items-center justify-center font-semibold rounded shrink-0 select-none">
                            <span>C</span>
                        </div>
                        <div class="flex flex-col text-sm grow">
                            <span class="text-[var(--color-CAM)]">Escala de Gijón</span>
                            <span>Evaluación socio familiar</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3 items-center justify-center h-[42px] pl-2.5 pr-1" [ngClass]="checkIfAnswered(evaluacionService.formDataTestYesa) ? null : 'opacity-50'">
                        <div class="bg-[var(--color-CAM)] text-white text-xl w-10 h-10 flex items-center justify-center font-semibold rounded shrink-0 select-none">
                            <span>D</span>
                        </div>
                        <div class="flex flex-col text-sm grow">
                            <span class="text-[var(--color-CAM)]">Test Yesavage</span>
                            <span>Escala de depresión geriátrica</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-[7px] px-4 grow pb-4">
            <div class="flex flex-row justify-between py-1.5">
                <div class="flex flex-col">
                    <span class="text-lg font-semibold">Evaluación Gerontológica</span>
                    <span class="text-[#64748B] text-sm">De Las Personas Adultas Mayores</span>
                </div>
                <div class="flex flex-col items-end">
                    <span class="text-[#64748B] text-sm">N° de Solicitud</span>
                    <span class="text-[var(--color-CAM)] text-lg">{{dataFicha.fichaAdmision.numHistoria}}</span>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>