<div>
  <div class="mb-2">
    <span class="text-s-26p d-block"
      ><b>CENTROS DE ADULTO MAYOR</b></span
    >
    <div class="d-flex">
      <div class="d-flex">
        <span class="material-symbols-outlined text-s-15 pt-2">
          <a routerLink="/home" class="decorator-none"> home </a>
        </span>

        <span class="text-w-fine text-style-cursiva text-s-12 pt-2">
          <a routerLink="/home" class="decorator-none"> INICIO </a>
        </span>
      </div>

      <div class="d-flex ml-5" *ngIf="breadcrum1?.url">
        <span class="material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-s-12 pt-2 ml-5">
          <a routerLink="{{ breadcrum1.url }}" class="decorator-none"> {{breadcrum1.title}}</a>
        </span>
      </div>

      <div class="d-flex ml-5" *ngIf="breadcrum2?.url">
        <span class="material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-s-12 pt-2 ml-5">
          <a routerLink="{{ breadcrum2.url }}" class="decorator-none"> {{breadcrum2.title}}</a>
        </span>
      </div>

      <div class="d-flex ml-5" *ngIf="breadcrum3?.url">
        <span class="material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-s-12 pt-2 ml-5">
          <a routerLink="{{ breadcrum3.url }}" class="decorator-none"> {{breadcrum3.title}}</a>
        </span>
      </div>
    </div>
  </div>
  <mat-card class="bg-primarydeg" style="border-left: none;">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
        mat-tab-link
        *ngFor="let link of links"
        (click)="activeTab = link.url"
        routerLink="{{ link.url }}"
        [active]="activeTab == link.url"
      >
        {{ link.title }}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
    <router-outlet></router-outlet>
  </mat-card>
</div>
