<div class="px-4 py-3 bg-primary-700 flex justify-between text-white">
    <span><b>¿Requiere apoyo de otra persona? *</b></span>
    <button (click)="onClose()"><esp-icon icon="faClose"></esp-icon></button>
</div>
<div class="px-4 py-3 bg-white">
    <ul class="grid w-full gap-3 md:grid-cols-2 mb-2" [formGroup]="formApoyo">
        <li class="self-center">
            <b>Datos de la persona de apoyo.</b>
        </li>
        <li>
            <div class="rounded-md shadow-sm">
              <select
                formControlName="frmSelectParentesco"
                class=" bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-400 block w-full"
              >
                <option value="" disabled selected>Parentesco</option>
                <option *ngFor="let relacion of opcionesRelacion" [value]='relacion.idParametros'>{{relacion.nombre | titlecase}}</option>
              </select>
            </div>
            <div *ngIf="formApoyo.controls.frmSelectParentesco.touched && formApoyo.controls.frmSelectParentesco.invalid">
                <p *ngIf="formApoyo.controls.frmSelectParentesco.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Seleccione un tipo de parentesco
                </p>
            </div>
        </li>
        <li>
            <div class="rounded-md shadow-sm">
              <select
                formControlName="frmSelectDoc" #mySelect (change)='print(mySelect.value)'
                class="space-x-5 bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-400 block w-full"
              >
                <option value="" disabled selected>Seleccione su tipo de documento</option>
                <option *ngFor="let documento of opcionesDocumento" [value]='documento.idParametros'>{{documento.nombre | titlecase}}</option>
              </select>
            </div>
            <div *ngIf="formApoyo.controls.frmSelectDoc.touched && formApoyo.controls.frmSelectDoc.invalid">
                <p *ngIf="formApoyo.controls.frmSelectDoc.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Seleccione un tipo de documento
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmDoc"
            class="inputTextoDialog focusCampo"
            placeholder="Nº de documento">
            <div *ngIf="formApoyo.controls.frmDoc.touched && formApoyo.controls.frmDoc.invalid">
                <p *ngIf="formApoyo.controls.frmDoc.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmNombres"
            class="inputTextoDialog focusCampo"
            placeholder="Nombres">
            <div *ngIf="formApoyo.controls.frmNombres.touched && formApoyo.controls.frmNombres.invalid">
                <p *ngIf="formApoyo.controls.frmNombres.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmApellidos"
            class="inputTextoDialog focusCampo"
            placeholder="Apellidos">
            <div *ngIf="formApoyo.controls.frmApellidos.touched && formApoyo.controls.frmApellidos.invalid">
                <p *ngIf="formApoyo.controls.frmApellidos.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmTelefono"
            class="inputTextoDialog focusCampo"
            placeholder="Telefono">
            <div *ngIf="formApoyo.controls.frmTelefono.touched && formApoyo.controls.frmTelefono.invalid">
                <p *ngIf="formApoyo.controls.frmTelefono.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmCorreo"
            class="inputTextoDialog focusCampo"
            placeholder="Correo">
            <div *ngIf="formApoyo.controls.frmCorreo.touched && formApoyo.controls.frmCorreo.invalid">
                <p *ngIf="formApoyo.controls.frmCorreo.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
            <div *ngIf="formApoyo.controls.frmCorreo.touched && formApoyo.controls.frmCorreo.invalid">
                <p *ngIf="formApoyo.controls.frmCorreo.hasError('email')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Ingrese una dirección de correo electrónico válida.
                </p>
            </div>
        </li>
        <li>
            <div class="flex h-10 justify-between items-center">
                <span class="font-thin">¿Tiene WhatsApp?</span>
                <div class="flex">
                    <div class="flex items-center mr-4">
                        <input id="inline-radio" type="radio" value="SI" formControlName="frmWsp" class="bordColorEstablecido w-4 h-4 focusCampo dark:focusCampo">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Si</label>
                    </div>
                    <div class="flex items-center">
                        <input id="inline-2-radio" type="radio" value="NO" formControlName="frmWsp" class="bordColorEstablecido w-4 h-4 focusCampo dark:focusCampo">
                        <label for="inline-2-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
                    </div>
                </div>
            </div>
            <div *ngIf="formApoyo.controls.frmWsp.touched && formApoyo.controls.frmWsp.invalid">
                <p *ngIf="formApoyo.controls.frmWsp.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmCelular"
            class="inputTextoDialog focusCampo"
            placeholder="Celular">
            <div *ngIf="formApoyo.controls.frmCelular.touched && formApoyo.controls.frmCelular.invalid">
                <p *ngIf="formApoyo.controls.frmCelular.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Campo obligatorio
                </p>
            </div>
        </li>
    </ul>
    <div class="flex justify-center space-x-2">
    <div class="w-1/4">
        <div class="relative mt-2 rounded-md shadow-sm botonApariencia">
            <app-btn color="white" (click)="onClose()">Cancelar
            </app-btn>
        </div>
    </div>
    <div class="w-1/4">
        <div class="relative mt-2 rounded-md shadow-sm botonApariencia">
            <app-btn color="success" class="botonMezclado" (click)="onSave()">Guardar
            </app-btn>
        </div>
    </div>
    </div>
</div>