
<div class="px-4 py-3 bg-white w-full mt-3 grid" *ngIf="waiting">
    <div class="text-gray-600 w-full text-center">
        <p class="py-1 font-bold text-2xl">
            <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
            Obteniendo datos...
        </p>
    </div>
</div>
<div class="flex flex-col gap-[12px]"  *ngIf="!waiting">
    <esp-opciones-botones [listOpciones]="opcionesBotones"></esp-opciones-botones>
    
    <div class="infoFicha text-[#64748B]">
        <div class="fichaFirst w-[35%]">
            <!-- <img class="rounded-full w-[135px] h-[134px]" [src]="infoFicha.imgPersona"> -->
            <img class="rounded-full w-[120px] h-[134px]" src="data:image/jpeg;base64,{{datosFicha.asegurado.foto}}">
            <div class="flex flex-col h-full">
                <span class="text-center text-[var(--color-CAM)] text-lg font-bold">{{datosFicha.asegurado.nombres | titlecase}} {{datosFicha.asegurado.apePaterno | titlecase}} {{datosFicha.asegurado.apeMaterno | titlecase}}</span>
                <div class="h-full flex flex-col justify-between">
                    <div class="flex gap-2"><span class="w-1/2 text-right">{{datosFicha.asegurado.tipoDoc === '01' || '1' ? 'DNI' : datosFicha.asegurado.descTipoDoc | titlecase}}</span><span class="w-1/2">{{datosFicha.asegurado.numDoc}}</span></div>
                    <div class="flex gap-2"><span class="w-1/2 text-right">Nació</span><span class="w-1/2">{{datosFicha.fichaAdmision.fechaRegistro | date:'dd/MM/yyyy'}}</span></div>
                    <div class="flex gap-2"><span class="w-1/2 text-right">Edad</span><span class="w-1/2">{{edadPersona}} años</span></div>
                    <div class="flex gap-2"><span class="w-1/2 text-right">Estado Civil</span><span class="w-1/2">{{datosFicha.asegurado.descEstCivil | titlecase}}</span></div>
                </div>
            </div>
        </div>
        <div class="fichaSecond w-[45%] text-center">
            <div class="flex flex-col relative">
                <img class="absolute opacity-50 top-0 right-8" src="assets/svg/Edit.svg">
                <span class="text-[var(--color-CAM)] text-lg font-bold">Datos de contacto</span>
                <span class="text-sm">{{datosFicha.fichaAdmision.datosContacto.celular}}</span>
                <span class="text-sm">{{datosFicha.fichaAdmision.datosContacto.correo}}</span>
            </div>
            <div class="flex flex-col relative" *ngIf="datosFicha.fichaAdmision.datosAcompaniante.requiereApoyo === 'SI'">
                <img class="absolute opacity-50 top-0 right-8" src="assets/svg/Edit.svg">
                <span class="text-[var(--color-CAM)] text-lg font-bold">Datos del Acompañante</span>
                <span class="text-sm">{{datosFicha.fichaAdmision.datosAcompaniante.celular}}</span>
                <span class="text-sm">{{datosFicha.fichaAdmision.datosAcompaniante.correo}}</span>
            </div>
        </div>
        <div class="fichaThird w-[20%] text-center flex flex-col justify-between">
            <span class="text-center text-[var(--color-CAM)] text-lg font-bold">Nº HIS - {{datosFicha.fichaAdmision.numHistoria}}</span>
            <div class="flex flex-col grow justify-center">
                <span>Hace {{diasDesdeRegistro}} {{diasDesdeRegistro == 1 ? 'día' : 'días'}}</span>
                <span>Registro del {{datosFicha.fichaAdmision.fechaRegistro | date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
    </div>

    <div class="infoCitas">
        <esp-menu-opciones [links]="rutasCitas" [setColorTab]="'var(--color-CAM)'" [showBottomLine]="false">
        </esp-menu-opciones>
        <router-outlet class="text-[#64748B]"></router-outlet>
    </div>
</div>