.login-form {
    display: flex;
    /*height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../../../../assets/img/cam_login.png);
    background-repeat: no-repeat;
    background-size: contain;*/
}

.login-form__div {
    /* max-width: 335px; */
    /* margin: 2rem auto; */
    text-align: center;
    /* height: 490px; */
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1); */
}


.login-form__div_reg {
    /* max-width: 335px; */
    /* margin: 2rem auto; */
    text-align: center;
    height: hug(841.1px);
    border-radius: 5px;
    max-width: 750px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
     

    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1); */
}



.login-form__div h1{
    font-family: Roboto;
    color: #038AD3;
    /* color: #009EAD; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    margin: 55px 0;
}

.full-width-input, button {
    width: 100%;
}


.regular-width-input, button {
    width: 95%;
}


.separator {
    margin-bottom: 2rem;
}

.img-logo{
    width: 100%;
    max-width: 250px;
    /* margin-top: 2rem; */
}

.img-logoCAM{
    width: 250px;
    height: 128.69px;
}

.img-logoEssl{
    width: 400px !important;
    height: 89.52px;
}

.img-hand{
    align-content: center;
    width: 90px;
    height: 72px;
}

form {
    margin: 0 3rem;
    font-size: 16px;
}
form mat-form-field {
    margin-bottom: .5rem;
}

.btn-login {
    margin: 1rem 0;
}

.btn-login button{
    background: #008BD2;
    color: #fff;
    font-size: 20px;
    height: 45px;
}
.btn-mat-primary {
    background: #008BD2;
    color: #fff;
}

.btn-login button:disabled{
    background: #e5e5e5;
    color: #fff;
}
mat-icon {
    color: #A4A4A4;
}
.font-boton {
    font-size: 17.5px;
}

.font-primary {
    color: #008bd2 !important;
}
.font-secondary {
    color: #365df4 !important;
}
.mat-card {
    padding: 35px 16px;
}


.form-div-datos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    grid-template-rows: 70px;
    gap: 10px;
}
.contRegistro{
    height: 95%;
}
@media screen and (max-width:400px){
    .responsiv1{
        display: none !important;
    }
}
@media screen and (max-height:600px) {
    .contRegistro{
        height: 1500px !important;
    }
}
 ::ng-deep.formRegistro{
    .mat-form-field-flex{
            height: 60px !important;
    }
 }
 .custom-dialog-container .mat-dialog-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
 
/* ::ng-deep.mat-form-field-flex{
    height: 50px !important;
} */
/* 
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #009EAD;
}
::ng-deep .mat-form-field-appearance-outline:hover {
    color: #009EAD;
} */