<div class="login-form">
  <!-- <div>
        <img src="assets/img/cam_login.png" alt="">
    </div> -->
  <mat-card class="login-form__div">
    <div>
      <img class="img-logo" src="assets/img/logo-essalud.png" />
    </div>
    <h1>Registrarse</h1>
    <form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
      <div>
        <div class="form-div-datos">
          <mat-form-field class="full-width-input">
            <mat-label>TIPO DOCUMENTO</mat-label>
            <mat-select formControlName="tipoDocumentoCtrl">
              <mat-option value="1"
                >DNI - Documento Nacional de Identidad</mat-option
              >
              <mat-option value="2">CE - Carnét de Extranjería</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-label>Número de documento</mat-label>
            <input matInput formControlName="nroDocumentoCtrl" />
          </mat-form-field>
        </div>
        <div class="form-div-datos">
          <mat-form-field class="full-width-input">
            <mat-label>Código de planilla</mat-label>
            <input matInput formControlName="codigoPlanCtrl" />
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="correoCtrl" />
          </mat-form-field>
        </div>
        <div class="form-div-datos">
          <mat-form-field class="full-width-input">
            <mat-label>Nombres y apellidos</mat-label>
            <input matInput formControlName="nombresCtrl" />
          </mat-form-field>
        </div>
      </div>

      <div class="form-div-datos">
        <mat-form-field class="full-width-input">
          <mat-label>Crear contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="passwordCtrl"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon> {{ hide ? "visibility_off" : "visibility" }} </mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPasswordCtrl"
            [type]="hide2 ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
          >
            <mat-icon> {{ hide2 ? "visibility_off" : "visibility" }} </mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-div-datos">

                 <mat-form-field class="anchor80">
            <mat-label>UNIDAD OPERATIVA</mat-label>
            <input
              name="cam"
              formControlName="cam"
              matInput
              placeholder="Ejm Rebaleategui"
              [(ngModel)]="unidadOperativa"
              [matAutocomplete]="auto"
            />
            <button
              *ngIf="unidadOperativa"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelection()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete
              [panelWidth]="600"
              #auto="matAutocomplete"
              (optionSelected)="onSelected()"
              [displayWith]="displayWith"
            >
              <mat-option *ngIf="isCargando" class="is-loading"
                >Cargando...</mat-option
              >
              <ng-container *ngIf="!isCargando" class="w-100">
                <mat-option
                  *ngFor="let uo of filterUnidadOperativas"
                  [value]="uo"
                >
                  <span
                    ><b>{{ uo.nombre }} </b></span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>

            <mat-hint *ngIf="unidadOperativa">
              <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 1" >
                Tipo: RED 
              </span>

              <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 2" >
                Tipo: CAM 
              </span>

              <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 3" >
                Tipo: CIRAM 
              </span>
            </mat-hint >

          </mat-form-field>


      </div>

      <div class="form-div-datos">
        <mat-checkbox
          formControlName="accept"
          checked="true"
          (change)="onCheckBox($event)"
        >
          Acepto los terminos y condiciones
        </mat-checkbox>
      </div>

      <div class="btn-login">
        <button
          type="submit"
          mat-raised-button
          class="btn-mat-primary"
          [disabled]="registroForm.invalid || loading"
        >
          {{ loading ? "Validando..." : "Registrar" }}
        </button>
      </div>
      <div class="btn-login">
          <span class="text-s-14 text-gray-500 ">Ya tienes cuenta? </span>
          <span class="text-s-14 text-sky-500 cursor" (click)="volverLogin()">Inicia session</span>
      </div>
    </form>
  </mat-card>
</div>
