<div class="bg-primary3 d-flex h-100v align-items-center justify-content-center">

  <div class="col-md-5 d-none d-md-flex flex-column align-items-center justify-content-center h-100">
    <img class="img-logoEssl my-4" src="assets/img/logo-essalud-white.svg" />
    <img class="img-hand " src="assets/img/hand.png" />
    <p class="text-w-bold pt-4  text-white text-s-40 text-center">SCAM</p>
    <div class="text-center">
      <span class="text-w-semibold text-white text-s-20">Sistema de Centro del Adulto Mayor</span>
    </div>
  </div>

  <div class="col-md-7 col-sm-12 col-11 d-md-flex flex-column align-items-center justify-content-center">
    <mat-card class="col-md-8 m-0 p-0">
      <div class="d-flex px-4 pb-2 pt-4 justify-content-between">
        <div class="flex-column">
          <p class="text-s-20 mb-3 pb-1 d-inline-block" style="border-bottom: 3px solid #057ec9; color: #057ec9;">
            Registro de Usuario </p>

        </div>
        <div class="m-0 col-md-4 col-5  ">
          <img class="w-auto" src="assets/img/cam-logo.png" />
        </div>

      </div>
      <div class="px-4">
        <p class="text-s-20 ">Información del Usuario </p>
        <p class="text-s-14 ">Vamos a preparar todo para que pueda verificar su cuenta de usuario</p>
      </div>

      <form [formGroup]="registroForm" class="m-0 px-4" (ngSubmit)="registrarUsuario()">
        <div class="p-0 m-0">
          <div class="form-div-datos">
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Tipo de Documento</mat-label>
              <mat-select formControlName="tipoDocumentoCtrl">
                <mat-option value="1">DNI - Documento Nacional de Identidad</mat-option>
                <mat-option value="2">CE - Carnét de Extranjería</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="formRegistro text-s-16r text-w-fine">Número de documento</mat-label>
              <input matInput formControlName="nroDocumentoCtrl" />
            </mat-form-field>
          </div>
          <div class="form-div-datos">
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Código de Planilla</mat-label>
              <input matInput formControlName="codigoPlanCtrl" />
            </mat-form-field>
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Correo Electrónico</mat-label>
              <input matInput formControlName="correoCtrl" />
            </mat-form-field>
          </div>
          <div class="form-div-datos">
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Nombres y Apellidos</mat-label>
              <input matInput formControlName="nombresCtrl" />
            </mat-form-field>
          </div>

          <div class="form-div-datos">
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Contraseña</mat-label>
              <input matInput type="password" formControlName="passwordCtrl" [type]="hide ? 'password' : 'text'" />
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>
                  {{ hide ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="formRegistro full-width-input">
              <mat-label class="text-s-16r text-w-fine">Confirma Contraseña</mat-label>
              <input matInput type="password" formControlName="confirmPasswordCtrl"
                [type]="hide2 ? 'password' : 'text'" />
              <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
                <mat-icon>
                  {{ hide2 ? "visibility_off" : "visibility" }}
                </mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-div-datos">
            <mat-form-field class="formRegistro anchor80">
              <!--<mat-label class="text-s-16r text-w-fine">Unidad Operativa</mat-label>
              <input name="cam" formControlName="cam" matInput placeholder="Ejm Rebagliati"
                [(ngModel)]="unidadOperativa" [matAutocomplete]="auto" />
              <button *ngIf="unidadOperativa" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
                <mat-icon>close</mat-icon>
              </button>-->
              <mat-label class="text-s-16r text-w-fine">Unidad Operativa</mat-label>
              <mat-select formControlName="unidadOperativaCtrl">
                <mat-option *ngFor="let uo of unidadOperativa" [value]="uo.idUnidadOperativa">
                  <span>{{ uo.nombre }}</span>
                </mat-option>
                <!--<mat-autocomplete>
                  <mat-option *ngFor="let uo of unidadOperativa" [value]="uo">
                    <span><b>{{ uo.nombre }} </b></span>
                  </mat-option>
                </mat-autocomplete>-->
              </mat-select>
              <!--<mat-autocomplete [panelWidth]="600" #auto="matAutocomplete" (optionSelected)="onSelected()"
                [displayWith]="displayWith">
                <mat-option *ngIf="isCargando" class="is-loading">Cargando...</mat-option>
                <ng-container *ngIf="!isCargando" class="w-100">
                  <mat-option *ngFor="let uo of filterUnidadOperativas" [value]="uo">
                    <span><b>{{ uo.nombre }} </b></span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>-->

              <!--<mat-hint *ngIf="unidadOperativa">
                <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 1">
                  Tipo: RED
                </span>

                <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 2">
                  Tipo: CAM
                </span>

                <span class="font-w-semibold" *ngIf="unidadOperativa.nivel === 3">
                  Tipo: CIRAM
                </span>
              </mat-hint>-->
            </mat-form-field>
          </div>


          <mat-checkbox formControlName="accept" color="primary" class="py-3 custom-checkbox fw-light text-s-18"
            checked="true" (change)="onCheckBox($event)">Acepto terminos y
            condiciones
          </mat-checkbox>


          <div class="btn-login text-s-18 text-w-bold mb-3">
            <button type="submit" mat-raised-button class="btn-mat-primary w-100 bg-primary3">
              {{ loading ? "Validando..." : "Registrarme" }}
            </button>
          </div>
          <div class="text-center py-3">
            <span class="text-s-20  fw-light">Ya tienes una cuenta?
            </span>
            <span class="text-s-20 text-primary4 cursor fw-normal" (click)="volverLogin()">Inicia Sesión</span>
          </div>
        </div>
      </form>
    </mat-card>
  </div>

</div>