.filasPseudoTabla{
  span{
    padding-left: 0.5rem;
    align-self: center;
    font-weight: 600;
  }
}

.dataPseudoTabla{
  font-size: 14px;
  padding-bottom: 0.5rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-bottom-width: 1px;
  gap: 0.25rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: grid;
  margin-top: 1rem;
  span{
    padding-left: 0.5rem;
    align-self: center;
  }
}