
<div class="px-8 py-5 bg-white rounded-md text-[#344563]">
    <div class="flex flex-col gap-4 items-center">
        <img class="w-20" src="assets/svg/check-confirmation.svg">
        <h3 class="text-xl">Se ha registrado correctamente</h3>
        <span class="text-sm">Ahora puedes imprimir los detalles de las cita.</span>
        <div class="flex flex-row gap-4">
            <div class="relative rounded-md shadow-sm botonApariencia">
                <app-btn color="white" (click)="onClose()">Cancelar
                </app-btn>
            </div>
            <div class="relative rounded-md shadow-sm botonApariencia">
                <app-btn color="mezclado" (click)="onSave()">Guardar
                </app-btn>
            </div>
        </div>
    </div>
</div>