<form [formGroup]="form" novalidate (ngSubmit)="saveProgram()">
  <div class="div-mat-tab">
    <div class="d-flex bg-ligth2 p-2 w-100">
      <div class="w-50 justify-content-start">
        <div class="d-flex">
          <a routerLink="/cams/cirams" class="text-primary2 decorator-none">
            <span class="material-symbols-outlined text-s-15 pt-2">
              keyboard_backspace
            </span>
            <span class="text-w-fine text-w-semibold text-s-15 pt-2">
              REGRESAR
            </span>
          </a>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end">
        <app-btn
          typeBtn="submit"
          color="success"
          [loading]="status === 'loading'"
          >GUARDAR CAMBIOS
        </app-btn>

        <app-btn
          class="ml-3"
          typeBtn="submit"
          color="danger"
          [loading]="status === 'loading'"
          >GUARDAR Y REGISTRAR OTRO 
        </app-btn>
      </div>
    </div>
  </div>

  <div class="cards-contents">
    <mat-card>
      <div class="">
        <!--BORDER PRINCIPAL, SI ES QUE ES NECESARIO -->
        <div class="p-11">
          <mat-card-title
            class="text-secondary text-w-bold text-uppercase text-s-15"
          >
            Información general sobre la cartera de servicios <br />
            <span class="text-s-10 text-w-fine text-secondary"
              >1) Complete los datos de la cartera de servicios, luego click en
              el boton "GUARDAR PROGRAMA"</span
            >
          </mat-card-title>

          <mat-card-content>
            <div class="div-content-form">
              <mat-form-field class="p-1">
                <mat-label> PROGRAMA</mat-label>
                <input
                  #nameInput
                  formControlName="descAsignatura"
                  placeholder="PROGRAMA DE AUTOCUIDADO BIENESTAR FÍSICO E INTELECTUAL"
                  matInput
                  type="text"
                />
                <mat-hint
                  *ngIf="
                    form.controls.descAsignatura.touched &&
                    form.controls.descAsignatura.invalid &&
                    form.controls.descAsignatura.hasError('required')
                  "
                  class="text-danger"
                >
                  Codigo de asignatura es obligatorio
                </mat-hint>
                <mat-hint
                  *ngIf="
                    form.controls.descAsignatura.touched &&
                    form.controls.descAsignatura.invalid &&
                    form.controls.descAsignatura.hasError('minlength')
                  "
                  class="text-danger"
                >
                  Código de asignatura inválido - Mínimo 6 Caracteres
                </mat-hint>
              </mat-form-field>
              <app-btn
                typeBtn="button"
                color="secondary"
                [loading]="status === 'loading'"
                >CREAR PROGRAMA
              </app-btn>
            </div>
          </mat-card-content>
        </div>

        <div class="m-11 p-11">
          <div class="border-left-2 pl-11">
            <mat-card-title
              class="text-secondary text-w-bold text-uppercase text-s-15"
            >
              detalle de los subprogramas
              <span *ngIf="newProgram?.descripcion"> del programa "{{newProgram.descripcion}}" </span>
              <br />
              <span class="text-s-12 text-w-fine text-secondary"
                >2) Click en el boton "AGREGAR SUB PROGRAMA" Y LLENE LOS DATOS
                DEL sub programa. Repita la operación para crear los sub
                programas necesarios</span
              >
            </mat-card-title>


            <mat-card-content >
              <div class="d-block bg-ligth2 p-2 mt-5" *ngFor="let forSubPrograma of newProgram?.subProgramas; let indexSubPrograma=index"> <!-- SUB PROGRAMA -->
                <div class="d-flex">
                  <mat-form-field class="p-1 w-100">
                    <mat-label>TITULO DEL SUB PROGRAMA</mat-label>
                    <input
                      style="border-color: #075985;"
                      #nameInput
                      placeholder="Ejm. Taller de mejora funcional"
                      matInput
                      [(ngModel)]="this.forSubPrograma.descripcion"
                      [ngModelOptions]="{standalone: true}"
                      type="text"
                    />
                    <mat-hint *ngIf="true" class="text-danger">
                      {{messageAlertSubPrograma}} 
                    </mat-hint>
                  </mat-form-field>
                  <button
                    mat-raised-button
                    class="text-uppercase mat-btn-danger p-2 heigth-fit mt-2"
                    type="button"
                    (click)="delSubPrograma(forSubPrograma.idFront)"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
                <div class="m-11 p-11 bg-white">

                  <div class="border-left-2-sky pl-11">
                    <mat-card-title
                      class="text-sky text-w-bold text-uppercase text-s-15"
                    >
                      detalle de los servicios
                      <span *ngIf="newProgram?.descripcion"> del sub programa "{{forSubPrograma.descripcion}}" </span>
                      <br />
                      <span class="text-s-12 text-w-fine text-sky text-w-bold"
                        >3) Click en el boton "AGREGAR SERVICIO" Y LLENE LOS
                        DATOS DEL NUEVO SERVICIO. Repita la operación para crear
                        los servicios necesarios</span
                      >
                    </mat-card-title>

                    <mat-card-content>
                      <div class="d-block bg-warning-ligth p-4 m-4" *ngFor="let forServicio of forSubPrograma.servicios; let indexServicio=index"><!-- SERVICIOS - unidad mínima -->
                        <div class="d-flex">
                          <mat-form-field class="p-1 w-100">
                            <mat-label>TITULO DEL SERVICIO</mat-label>
                            <input
                              #nameInput
                              placeholder="Ejm. Servicio de mejora funcional"
                              matInput
                              type="text"
                            />
                            <mat-hint *ngIf="true" class="text-danger">
                                {{ messageAlertServicio }}
                            </mat-hint>
                          </mat-form-field>
                          <button
                            mat-raised-button
                            class="text-uppercase mat-btn-warning p-2 heigth-fit mt-2"
                            type="button"
                            (click)="delServicio(indexSubPrograma, forServicio.idFront )"
                          >
                            <span class="material-symbols-outlined">
                              delete
                            </span>
                          </button>
                        </div>
                        <div class="m-11 p-11">
                          
                        </div>
                      </div><!-- SERVICIOS - unidad mínima -->

                      <button
                        mat-raised-button
                        type="button"
                        class="text-uppercase mat-btn-sky"
                        (click)="addServicio(indexSubPrograma)"
                      >
                        AGREGAR SERVICIO
                      </button>
                    </mat-card-content>
                  </div>
                </div> <!-- END SERVICIOS  - UNIDAD MÍNIMA -->
              </div> <!-- END SUB PROGRAMA -->

              <button
                mat-raised-button
                type="button"
                class="text-uppercase mat-btn-secondary mt-5"
                (click)="addSubPrograma()"
              >
                AGREGAR SUB PROGRAMA
              </button>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</form>