<form [formGroup]="form" novalidate (ngSubmit)="saveProgram()">
  <div class="div-mat-tab">
    <div class="d-flex bg-ligth2 p-2 w-100">
      <div class="w-50 justify-content-start">
        <div class="d-flex">
          <a routerLink="/cams/cirams" class="text-primary2 decorator-none">
            <span class="material-symbols-outlined text-s-15 pt-2">
              keyboard_backspace
            </span>
            <span class="text-w-fine text-w-semibold text-s-15 pt-2">
              REGRESAR
            </span>
          </a>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end">
        <app-btn
          typeBtn="submit"
          color="success"
          [loading]="status === 'loading'"
          >GUARDAR CAMBIOS
        </app-btn>

        <app-btn
          class="ml-3"
          typeBtn="submit"
          color="danger"
          [loading]="status === 'loading'"
          >GUARDAR Y REGISTRAR OTRO 
        </app-btn>
      </div>
    </div>
  </div>

  <div class="cards-contents">
    <mat-card>
      <div class="">
        <!--BORDER PRINCIPAL, SI ES QUE ES NECESARIO -->
        <div class="p-11">
          <mat-card-title
            class="text-secondary text-w-bold text-uppercase text-s-15"
          >
            Información general sobre la cartera de servicios <br />
            <span class="text-s-10 text-w-fine text-secondary"
              >1) Complete los datos de la cartera de servicios, luego click en
              el boton "GUARDAR PROGRAMA"</span
            >
          </mat-card-title>

          <mat-card-content>
            <div class="div-content-form">
              <mat-form-field class="p-1">
                <mat-label> PROGRAMA</mat-label>
                <input
                  #nameInput
                  formControlName="idAsignatura"
                  placeholder="PROGRAMA DE AUTOCUIDADO BIENESTAR FÍSICO E INTELECTUAL"
                  matInput
                  type="text"
                />
                <mat-hint
                  *ngIf="
                    form.controls.idAsignatura.touched &&
                    form.controls.idAsignatura.invalid &&
                    form.controls.idAsignatura.hasError('required')
                  "
                  class="text-danger"
                >
                  Codigo de asignatura es obligatorio
                </mat-hint>
                <mat-hint
                  *ngIf="
                    form.controls.idAsignatura.touched &&
                    form.controls.idAsignatura.invalid &&
                    form.controls.idAsignatura.hasError('minlength')
                  "
                  class="text-danger"
                >
                  Código de asignatura inválido - Mínimo 6 Caracteres
                </mat-hint>
              </mat-form-field>
              <app-btn
                typeBtn="button"
                color="secondary"
                [loading]="status === 'loading'"
                >CREAR PROGRAMA
              </app-btn>
            </div>
          </mat-card-content>
        </div>

        <div class="m-11 p-11">
          <div class="border-left-2 pl-11">
            <mat-card-title
              class="text-secondary text-w-bold text-uppercase text-s-15"
            >
              detalle de los subprogramas<br />
              <span class="text-s-12 text-w-fine text-secondary"
                >2) Click en el boton "AGREGAR SUB PROGRAMA" Y LLENE LOS DATOS
                DEL sub programa. Repita la operación para crear los sub
                programas necesarios</span
              >
            </mat-card-title>

            <mat-card-content>
              <div class="d-block">
                <div class="d-flex">
                  <mat-form-field class="p-1 w-100">
                    <mat-label>TITULO DEL SUB PROGRAMA</mat-label>
                    <input
                      style="border-color: #075985;"
                      #nameInput
                      placeholder="Ejm. Taller de mejora funcional"
                      matInput
                      type="text"
                    />
                    <mat-hint *ngIf="false" class="text-danger">
                      Título del Sub Programa es obligatorio
                    </mat-hint>
                    <mat-hint *ngIf="false" class="text-danger">
                      Título del Sub Programa es inválido - Mínimo 6 Caracteres
                    </mat-hint>
                  </mat-form-field>
                  <button
                    mat-raised-button
                    class="text-uppercase mat-btn-danger p-2 heigth-fit mt-2"
                    type="button"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
                <div class="m-11 p-11"><!-- SERVICIOS - unidad mínima -->

                  <div class="border-left-2-sky pl-11">
                    <mat-card-title
                      class="text-sky text-w-bold text-uppercase text-s-15"
                    >
                      detalle de los subprogramas<br />
                      <span class="text-s-12 text-w-fine text-sky text-w-bold"
                        >3) Click en el boton "AGREGAR SERVICIO" Y LLENE LOS
                        DATOS DEL NUEVO SERVICIO. Repita la operación para crear
                        los servicios necesarios</span
                      >
                    </mat-card-title>

                    <mat-card-content>
                      <div class="d-block">
                        <div class="d-flex">
                          <mat-form-field class="p-1 w-100">
                            <mat-label>TITULO DEL SUB PROGRAMA</mat-label>
                            <input
                              #nameInput
                              placeholder="Ejm. Taller de mejora funcional"
                              matInput
                              type="text"
                            />
                            <mat-hint *ngIf="false" class="text-danger">
                              Título del Sub Programa es obligatorio
                            </mat-hint>
                            <mat-hint *ngIf="false" class="text-danger">
                              Título del Sub Programa es inválido - Mínimo 6
                              Caracteres
                            </mat-hint>
                          </mat-form-field>
                          <button
                            mat-raised-button
                            class="text-uppercase mat-btn-danger p-2 heigth-fit mt-2"
                            type="button"
                          >
                            <span class="material-symbols-outlined">
                              delete
                            </span>
                          </button>
                        </div>
                        <div class="m-11 p-11">
                          <!-- SERVICIOS - unidad mínima -->
                        </div>
                      </div>

                      <button
                        mat-raised-button
                        type="button"
                        class="text-uppercase mat-btn-sky"
                      >
                        AGREGAR SERVICIO
                      </button>
                    </mat-card-content>
                  </div>
                </div>
                <!-- END SERVICIOS  - UNIDAD MÍNIMA -->
              </div>

              <button
                mat-raised-button
                type="button"
                class="text-uppercase mat-btn-secondary"
              >
                AGREGAR SUB PROGRAMA
              </button>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</form>

<!--

        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> Codigo de asignatura </mat-label>
            <input
              #nameInput
              formControlName="codAsignatura"
              placeholder="Codigo de asignatura"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.codAsignatura.touched &&
                form.controls.codAsignatura.invalid &&
                form.controls.codAsignatura.hasError('required')
              "
              class="text-danger"
            >
              Codigo de asignatura es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.codAsignatura.touched &&
                form.controls.codAsignatura.invalid &&
                form.controls.codAsignatura.hasError('minlength')
              "
              class="text-danger"
            >
              Codigo de asignatura inválida - Mínimo 6 Caracteres
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> Descripción de la asignatura</mat-label>
            <input
              #nameInput
              formControlName="descAsignatura"
              placeholder="Descripción de la asignatura"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.descAsignatura.touched &&
                form.controls.descAsignatura.invalid &&
                form.controls.descAsignatura.hasError('required')
              "
              class="text-danger"
            >
              Descripción de la asignatura es obligatorio.
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.descAsignatura.touched &&
                form.controls.descAsignatura.invalid &&
                form.controls.descAsignatura.hasError('minlength')
              "
              class="text-danger pl-5"
            >
              Descripción de la asignatura inválido, mínimo 7 Caracteres.
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.descAsignatura.touched &&
                form.controls.descAsignatura.invalid &&
                form.controls.descAsignatura.hasError('pattern')
              "
              class="text-danger pl-5"
            >
              Solo numeros.
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> Nivel </mat-label>
            <input
              #nameInput
              formControlName="nivel"
              placeholder="Nivel"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.nivel.touched &&
                form.controls.nivel.invalid &&
                form.controls.nivel.hasError('required')
              "
              class="text-danger"
            >
              Nivel es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.nivel.touched &&
                form.controls.nivel.invalid &&
                form.controls.nivel.hasError('nivel')
              "
              class="text-danger"
            >
              Nivel inválido
            </mat-hint>
          </mat-form-field>
        </div>


      -->
