<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!dataContrato">
    <div class="text-gray-600 w-full text-center">
        <span class="py-1 font-bold text-2xl">
            <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
            Obteniendo datos...
        </span>
    </div>
  </div>
<div *ngIf="dataContrato">
    <esp-opciones-botones [listOpciones]="opcionesBotones" (thirdFunction)="goToConfirm()"></esp-opciones-botones>
    <div class="flex flex-col gap-2.5">
        <div class="bg-white botonApariencia p-3 flex flex-row text-[#37474F]">
            <div class="flex flex-col gap-2.5 h-full border-r border-[#D4D4D4] w-full">
                <span class="text-[22px] text-[var(--color-CAM)] font-semibold leading-[20px]">Tallerista</span>
                <div class="flex flex-row gap-2.5">
                    <img src="assets/svg/icon-contrato-person.svg">
                    <div class="flex flex-col gap-2">
                        <span class="text-[18px] font-semibold">{{dataContrato.datosTallerista.usuarioTallerista | uppercase}}</span>
                        <span><b>DNI:</b> {{dataContrato.datosTallerista.nroDoc}}</span>
                    </div>
                </div>
            </div>
            <div class="pl-3 flex flex-col gap-2.5 border-r border-[#D4D4D4] w-full">
                <span class="text-[22px] text-[var(--color-CAM)] font-semibold leading-[20px]">Contrato</span>
                <div class="flex flex-col gap-2 leading-5 text-[18px]">
                    <span><b>Orden de  Compra :</b> {{dataContrato.datosContrato.nroContrato}}</span>
                    <span><b>Desde :</b> {{dataContrato.datosContrato.fechaInicio | date:'dd/MM/yyyy'}} al {{dataContrato.datosContrato.fechaFin | date:'dd/MM/yyyy'}}</span>
                </div>
            </div>
            <div class="pl-3 flex items-center justify-center shrink-0">
                <app-btn class="botonApariencia flex" color="bordeado" (click)="addTablaUnid(1)">
                    <esp-icon icon="faAdd"></esp-icon> Mas Unidades
                </app-btn>
            </div>
    
        </div>
        <div class="bg-white botonApariencia px-[22px] py-2.5 flex flex-col gap-3">
            <div class="pt-2 flex flex-col gap-3" *ngFor="let controles of dataTables.controls, index as ix">
                <div class="py-3 flex flex-row justify-between items-center" *ngIf="ix > 0">
                    <span class="font-semibold">Asignar servicios a mas de una unidad operativa.</span>
                    <app-btn class="botonApariencia flex" color="transparenteCancel" (click)="deleteTablaUnid(ix)">Eliminar</app-btn>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col gap-2 w-full">
                        <span>Unidad Operativa <span class="text-red-500">*</span></span>
                        <div class="relative rounded-md shadow-sm">
                            <input type="text" name="unidOperativ" id="search" class="inputTextoDialog focusCampo !h-10 pr-7" placeholder="Buscar Unidad Operativa">
                            <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-3 opacity-50">
                                <span class="text-gray-500 sm:text-sm">
                                    <esp-icon icon="faSearch"></esp-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 shrink-0">
                        <span>Fecha de Registro</span>
                        <div class="relative">
                          <mat-form-field style="position: absolute; visibility:hidden;">
                            <input #input matInput [matDatepicker]="picker">
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          <input type="text" name="search" readonly (click)="picker.open()" class="inputTextoDialog focusCampo !h-10 pr-7">
                            <div class="absolute inset-y-0 right-0 flex items-center pr-3 z-10 !h-9" (click)="picker.open()">
                              <span class="text-gray-500 sm:text-sm">
                                <img src="assets/svg/icon-calendar-simple.svg">
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2.5 items-start">
                    <esp-tabla-adaptable class="w-full" [identificadorVisible]="false" [dataColumnas]="dataColumnas" [dataIngresante]="getTablaAndAttribute(ix, 'dataServiciosEnviado')" (sendData)="getTablaAndAttribute(ix, 'ctrlDataObt').setValue($event)"></esp-tabla-adaptable>
                    <app-btn class="botonApariencia flex" #prueba color="transparente" (click)="addServiceToTablaUnid(ix, 1)">
                        <esp-icon icon="faAdd"></esp-icon> Agregar Servicio
                    </app-btn>
                </div>
            </div>
    
        </div>
    </div>
</div>