::ng-deep.botonOpciones{
    button{
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
        padding: 6px 10px !important;
    }
}

.contenedorOpcionesBotones{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
    display: flex;
    place-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}