<div class="contenedorOpcionesBotones">
    <div class="flex cursor-pointer flex-row gap-2.5" [routerLink]="[rutaRegreso ? rutaRegreso : '..']">
        <img class="h-6 self-center" src="assets/svg/circle-arrow-left.svg"> <span class="self-center text-base text-[#37474F] hover:text-[var(--color-CAM)]">Regresar</span>
    </div>
    <div class="flex space-x-3.5">
        <app-btn class="flex flex-row botonApariencia botonOpciones" *ngFor="let opcion of listOpciones, index as i" [color]="opcion.colorBtn ? opcion.colorBtn : 'white'" [disabled]="opcion.deshabilitado!" [loading]="opcion.loading!"
        (click)="emitirFuncionesEstaticas(i)">
            <div class="flex gap-[5px]"><img *ngIf="opcion.esImagen && opcion.rutaIcono" class="h-5 self-center" [src]="opcion.rutaIcono">{{opcion.texto}}</div>
        </app-btn>
    </div>
</div>