<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!dataListCams">
    <div class="text-gray-600 w-full text-center">
        <span class="py-1 font-bold text-2xl">
            <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
            Obteniendo datos...
        </span>
    </div>
</div>

<div class="flex flex-row gap-2.5 mt-3" *ngIf="dataListCams">
    <div class="bg-white botonApariencia py-3 px-2.5 w-[300px] flex flex-col shrink-0">
        <div class="py-2">
            <div class="relative rounded-md shadow-sm">
                <input type="text" name="search" id="search" [formControl]="ctrlSearchCam" class="inputTextoDialog focusCampo !h-10 pr-7" placeholder="Buscar">
                <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-3 opacity-50">
                    <span class="text-gray-500 sm:text-sm">
                        <esp-icon icon="faSearch"></esp-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="py-2 whitespace-nowrap text-ellipsis overflow-hidden text-[18px] font-semibold text-[var(--color-CAM)]">
            <span>{{dataListCams.nombreRed | uppercase}}</span>
        </div>
        <div class="pr-2.5 flex flex-col gap-1 overflow-auto max-h-[66vh] scrollbarra">
            <div class="flex flex-col gap-1 text-[#64748B]" *ngFor="let cam of filteredList, index as i">
                <div class="flex flex-row justify-between items-center hover:bg-[#F0FCFE] cursor-pointer" (click)="setDataSelected(cam, 1, $event)" [ngClass]="camElegido ? (cam.idUnidadOperativa == camElegido.idUnidadOperativa  ? 'bg-[#F0FCFE]' : null) : null">
                    <div class="py-2.5 pl-1.5 flex flex-row items-center gap-1.5 whitespace-nowrap text-ellipsis overflow-hidden" [ngClass]="camElegido ? (cam.idUnidadOperativa == camElegido.idUnidadOperativa  ? 'text-Name' : null) : null">
                        <img src="assets/svg/icon-house-full.svg">
                        <span>{{cam.nombreCam}}</span>
                    </div>
                    <div class="w-6 h-6 flex items-center justify-center rounded hover:bg-[#C3C3CB] cursor-pointer mr-1.5" (click)="cam.activo = !cam.activo; setDataSelected(cam, 0, $event)" *ngIf="cam.listaCiram.length > 0">
                        <esp-icon [icon]="cam.activo ? 'faChevronUp' :'faChevronDown'"></esp-icon>
                    </div>
                </div>
                <div class="flex flex-col pl-6" *ngIf="cam.activo">
                    <div class="pl-1.5 py-2 pr-1.5 gap-1.5 flex flex-row items-center justify-between hover:text-[var(--color-CAM)] hover:bg-[#F0FCFE] cursor-pointer" *ngFor="let subCam of cam.listaCiram, index as j" (click)="setDataSelected(subCam, 2, $event)" [ngClass]="camElegido ? (subCam.idUnidadOperativa == camElegido.idUnidadOperativa  ? 'bg-[#F0FCFE]' : null) : null">
                        <div class="flex flex-row gap-1.5 whitespace-nowrap text-ellipsis overflow-hidden" [ngClass]="camElegido ? (subCam.idUnidadOperativa == camElegido.idUnidadOperativa  ? 'text-Name' : null) : null">
                            <img src="assets/svg/icon-house-rounded.svg">
                            <span>{{subCam.nombre}}</span>
                        </div>
                        <esp-icon icon="faChevronRight" [ngClass]="camElegido ? (subCam.idUnidadOperativa == camElegido.idUnidadOperativa  ? 'text-[var(--color-CAM)]' : null) : null"></esp-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white botonApariencia w-full pt-3 px-2.5 flex flex-col text-[var(--color-black-alt)]">
        <div class="py-2 text-[18px] flex flex-row justify-between font-semibold">
            <span class="text-[var(--color-CAM)]">CONTRATO DE TALLERISTAS</span>
            <span>{{ camElegido ? (camElegido.opt == 2 ? camElegido.nombre : camElegido.nombreCam) : 'No se eligió un CAM'}}</span>
        </div>
        <esp-opciones-busqueda 
          [showDateFilter]="true"
          [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'" 
          [setFilterDateTextColour]="'#057EC9'"
          [filterDateAppearance]="2"
          [setFilterDateSelectionBg]="'#008BD2'"
          [setFilterDateButtonBg]="'#008BD2'"
          [setDateSelectedDefault]="5"
          (sendDateFilterWithCeros)="getDataFecha($event)"
          [showSearch]="true"
          (searchInputValue)="formBuscar.get('frmSearch')?.setValue($event.toUpperCase()); getDateFromService()"
          [searchInputPlaceHolder]="'Buscar tallerista'"
          [showFirstDisplayFilter]="true"
          [firstDisplayFilterPlaceholder]="{indicador: true, placeholder: 'Todos los estados'}"
          [firstDisplayFilterData]="optEstado"
          (firstDisplayFilterSendValue)="formBuscar.get('frmSearchEstado')?.setValue($event); getDateFromService()"
          [showButton]="true"
          [buttonBg]="'var(--color-CAM-Mezclado)'"
          [buttonText]="'Nuevo Contrato'"
          (buttonAccion)="nuevoContrato()"
        ></esp-opciones-busqueda>
        <div class="mt-2 grid grid-cols-6 gap-1 border-b-2 border-gray-300 pb-2 text-[14px] filasPseudoTabla">
          <span class="col-span-2">Tallerista</span>
          <span>Orden de Compra</span>
          <span>Fecha Registro</span>
          <span>Estado</span>
          <span>Opc</span>
        </div>
        <div *ngIf="listContratos.length == 0" class="w-full h-3/4 flex items-center">
          <div class="m-auto w-fit text-center py-6">
            <img class="m-auto" src="assets/svg/empty-data.svg" alt="">
            <h3 class="text-gray-500 mt-2 font-light">No existen registros aun.</h3>
          </div>
        </div>
        <div *ngIf="listContratos.length > 0">
          <div class="dataPseudoTabla" *ngFor="let contrato of listContratos, index as i">
            <span class="col-span-2">{{contrato.tallerista | uppercase}}</span>
            <span class="text-[var(--color-CAM)]" [routerLink]="contrato.estado === 'CONFIRMADO' ? [appRoute.CONTRATOS_CONFIRMAR_SERVICIOS + '/' + contrato.numOc] : null" [ngClass]="contrato.estado === 'CONFIRMADO' ? 'cursor-pointer' : null">{{contrato.numOc}}</span>
            <span>{{contrato.fechaContrato | date:'dd/MM/yyyy'}}</span>
            <span 
            [ngClass]="{'text-green-500' : contrato.estado == 'CONFIRMADO', 'text-red-500' : contrato.estado == 'ANULADO'}"
            [ngStyle]="{'color': contrato.estado == 'REGISTRADO' ? '#F59E0B' : ''}">
            {{contrato.estado | titlecase}}</span>
            <div class="text-center self-center text-[20px]">
                <esp-icon icon="faEllipsis" class="cursor-pointer" [cdkMenuTriggerFor]="optionsSidenav"></esp-icon>
            </div>
            <ng-template #optionsSidenav>
                <div class="botonApariencia bg-white !text-[var(--color-black-alt)] text-sm" cdkMenu>
                    <div class="p-1 flex flex-col gap-px"cdkMenuGroup>
                        <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem (click)="contrato.estado === 'CONFIRMADO' ? notificationService.warning('La Orden de Compra '+ contrato.numOc + ' ha sido confirmada. No puede editarse') : router.navigate(['/app/'+ appRoute.CONTRATOS + '/' + appRoute.CONTRATOS_ASIGNAR_SERVICIOS + '/' + contrato.numOc])">
                            <div class="text-[16px]">
                                <esp-icon [icon]="'faEdit'"></esp-icon>
                            </div>
                            <span>Editar</span>
                        </div>
                        <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem (click)="downloadFile(contrato)">
                            <div class="text-[16px]">
                                <esp-icon [icon]="'faDownload'"></esp-icon>
                            </div>
                            <span>Descargar OC</span>
                        </div>
                        <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem (click)="contrato.estado === 'CONFIRMADO' ? notificationService.warning('La Orden de Compra '+ contrato.numOc + ' ha sido confirmada. No puede eliminarse') : deleteItem(contrato)">
                            <div class="text-[16px]">
                                <esp-icon [icon]="'faTrashCan'"></esp-icon>
                            </div>
                            <span>Eliminar</span>
                        </div>
                    </div>
                </div>
            </ng-template>
          </div>
        </div>
    </div>
</div>
