<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!dataListCams">
    <div class="text-gray-600 w-full text-center">
        <span class="py-1 font-bold text-2xl">
            <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
            Obteniendo datos...
        </span>
    </div>
</div>

<div class="flex flex-row gap-2.5 mt-3" *ngIf="dataListCams">
    <div class="bg-white botonApariencia py-3 px-2.5 w-[300px] flex flex-col shrink-0">
        <div class="py-2">
            <div class="relative rounded-md shadow-sm">
                <input type="text" name="search" id="search" class="inputTextoDialog focusCampo !h-10 pr-7" placeholder="Buscar">
                <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-3 opacity-50">
                    <span class="text-gray-500 sm:text-sm">
                        <esp-icon icon="faSearch"></esp-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="py-2 whitespace-nowrap text-ellipsis overflow-hidden text-[18px] font-semibold text-[var(--color-CAM)]">
            <span>{{dataListCams.nombreRed | uppercase}}</span>
        </div>
        <div class="pr-2.5 flex flex-col gap-1 overflow-auto max-h-[66vh] scrollbarra">
            <div class="flex flex-col gap-1 text-[#64748B]" *ngFor="let cam of dataListCams.listarCam, index as i">
                <div class="py-2.5 pl-1.5 flex flex-row items-center gap-1.5 whitespace-nowrap text-ellipsis overflow-hidden hover:bg-[#F4F4F5] cursor-pointer" (click)="cam.activo = !cam.activo">
                    <img src="assets/svg/icon-house-full.svg">
                    <span>{{cam.nombreCam}}</span>
                </div>
                <div class="flex flex-col pl-6" *ngIf="cam.activo">
                    <div class="border-l-2 pl-1.5 border-[var(--color-black-alt)] py-2 pr-1.5 gap-1.5 flex flex-row items-center justify-between hover:bg-[#F4F4F5] cursor-pointer" *ngFor="let subCam of cam.listaCiram, index as j" (click)="camElegido = subCam" [ngClass]="subCam == camElegido ? 'text-[var(--color-black-alt)] bg-[#F4F4F5]' : null">
                        <div class="flex flex-row gap-1.5 whitespace-nowrap text-ellipsis overflow-hidden">
                            <img src="assets/svg/icon-house-rounded.svg">
                            <span>{{subCam.nombre}}</span>
                        </div>
                        <esp-icon icon="faChevronRight"></esp-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white botonApariencia w-full pt-3 px-2.5 flex flex-col text-[var(--color-black-alt)]">
        <div class="py-2 text-[18px] flex flex-row justify-between font-semibold">
            <span class="text-[var(--color-CAM)]">CONTRATO DE TALLERISTAS</span>
            <span>{{ camElegido ? camElegido.nombre : 'No se eligió un CAM'}}</span>
        </div>
        <esp-opciones-busqueda 
          [showDateFilter]="true"
          [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'" 
          [setFilterDateTextColour]="'#057EC9'"
          [filterDateAppearance]="2"
          [setFilterDateSelectionBg]="'#008BD2'"
          [setFilterDateButtonBg]="'#008BD2'"
          [showSearch]="true"
          [searchInputPlaceHolder]="'Buscar tallerista'"
          [showFirstDisplayFilter]="true"
          [firstDisplayFilterPlaceholder]="{'indicador': false, 'placeholder': 'Estado'}"
          [showButton]="true"
          [buttonBg]="'var(--color-CAM-Mezclado)'"
          [buttonText]="'Nuevo Contrato'"
          (buttonAccion)="nuevoContrato()"
        ></esp-opciones-busqueda>
        <div class="mt-2 grid grid-cols-6 gap-1 border-b-2 border-gray-300 pb-2 text-[14px] filasPseudoTabla">
          <span class="col-span-2">Tallerista</span>
          <span>Orden de Compra</span>
          <span>Fecha Registro</span>
          <span>Estado</span>
          <span>Opc</span>
        </div>
        <div *ngIf="!camElegido" class="w-full h-3/4 flex items-center">
          <div class="m-auto w-fit text-center">
            <img class="m-auto" src="assets/svg/empty-data.svg" alt="">
            <h3 class="text-gray-500 mt-2 font-light">No existen registros aun.</h3>
          </div>
        </div>
        <div *ngIf="camElegido">
          <div class="dataPseudoTabla">
            <span class="col-span-2">{{'ROXANA ESTRADA ARIAS'}}</span>
            <span class="text-[var(--color-CAM)]">{{'0450620384'}}</span>
            <span>{{'2024-02-09' | date:'dd/MM/yyyy'}}</span>
            <span [ngClass]="true ? 'text-green-500':'text-red-500'">{{'Confirmado'}}</span>
            <div class="text-center self-center text-[20px]">
                <esp-icon icon="faEllipsis"></esp-icon>
            </div>
          </div>
        </div>
    </div>
</div>
