<h1 class="font-semibold pt-2 text-gray">
  <span class="border-b-2 border-success-700 pb-2"> Recuperar Contraseña </span>
</h1>
<div *ngIf="emailSent" class="mt-5">
  <div class="flex justify-center py-4">
    <img loading="lazy" class="w-20" src="assets/svg/check-email.svg" alt="logo" />
  </div>
  <p class="text-justify">Hemos enviado el código de recuperación al correo:</p>
  <p class="font-bold text-center">{{email}}</p>
  <div [formGroup]="formCambio">
    <div>
      <input placeholder="Codigo recibido" type="text" formControlName="codigo"
        class="text-sm w-full rounded bg-white border-gray-400 my-2 border-1 px-4 py-2 font-light focusCampo" />
      <div *ngIf="formCambio.controls.codigo.touched && formCambio.controls.codigo.invalid" class="mb-2">
        <p *ngIf="formCambio.controls.codigo.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
          El código de activación es obligatorio
        </p>
      </div>
    </div>
    <div class="relative">
      <input placeholder="Nueva contraseña" [type]="showPassword ? 'text' : 'password'" formControlName="newPass"
        class="text-sm w-full rounded bg-white border-gray-400 my-2 border-1 pl-4 pr-8 py-2 font-light focusCampo" />
      <button type="button" class="p-2 absolute right-0 h-full" (click)="showPassword = !showPassword">
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
      <div *ngIf="formCambio.controls.newPass.touched && formCambio.controls.newPass.invalid" class="mb-2">
        <p *ngIf="formCambio.controls.newPass.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
          Se necesita una nueva contraseña
        </p>
      </div>
    </div>
    <div class="relative">
      <input placeholder="Confirmar contraseña" [type]="showConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPass"
        class="text-sm w-full rounded bg-white border-gray-400 my-2 border-1 pl-4 pr-8 py-2 font-light focusCampo" />
      <button type="button" class="p-2 absolute right-0 h-full" (click)="showConfirmPassword = !showConfirmPassword">
        <fa-icon [icon]="showConfirmPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
      <div *ngIf="formCambio.controls.confirmPass.touched && formCambio.controls.confirmPass.invalid" class="mb-2">
        <p *ngIf="formCambio.controls.confirmPass.hasError('required')"
          class="font-medium text-red-500 text-xs mt-1 ml-1">
          Debe confirmar su contraseña
        </p>
      </div>
      <p *ngIf="validPass" class="font-medium text-red-500 text-xs mt-1 ml-1">
        Las contraseñas no coinciden, por favor verificar.
      </p>
      <!--<div *ngIf="validPass=true">
        <p *ngIf="validPass=true" class="font-medium text-red-500 text-xs mt-1 ml-1">
          El número de documento es obligatorio
        </p>
      </div>-->
    </div>
    <div>
      <app-btn class="botonApariencia block" (click)="sendChange()" typeBtn="submit" color="success"
        [loading]="statusConfirm === 'loading'">Confirmar cambio</app-btn>
    </div>
  </div>
</div>
<form *ngIf="!emailSent" [formGroup]="form" novalidate class="space-y-4 mt-5" (ngSubmit)="sendLink()">
  <div>
    <div class="relative">
      <label for="email" class="block text-xs my-2">Número de documento del que se recuperará la contraseña</label>
      <input #nameInput formControlName="numDoc" placeholder="Número de documento" type="text" name="doc"
        class="w-full rounded bg-white border-gray-400 border-1 px-4 py-3 font-light focusCampo" />
    </div>
    <div *ngIf="form.controls.numDoc.touched && form.controls.numDoc.invalid">
      <p *ngIf="form.controls.numDoc.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
        El número de documento es obligatorio
      </p>
    </div>
  </div>
  <div>
    <app-btn class="botonApariencia block" typeBtn="submit" color="primary" [loading]="status === 'loading'">Recuperar contraseña</app-btn>
  </div>
</form>