.spacer {
    flex: 1 1 auto;
}
.right-spacer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #000000bd;
}
.icon-menu {
    margin: 0 1rem 0 0;
}

.mat-toolbar.mat-primary {
    background: #fff;
    color: #494949;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-weight: 400;
}
::ng-deep.mat-toolbar{
    p{
        margin: 0 !important;
    }
}