<div class="flex justify-center">
    <div class="p-6 flex flex-col gap-3 !text-[var(--color-black-alt)] botonApariencia bg-white">
        <div class="flex flex-col py-2 px-4 justify-center items-center">
            <span class="text-[26px]">Administración de SCAM</span>
            <span>Seleccionar una Unidad Operativa</span>
        </div>
        <div class="flex flex-col gap-2.5 bg-[#F4F5F7] py-4 px-3">
            <div class="px-3 py-2 flex flex-row bg-white justify-between w-[676px] items-center">
                <div class="py-2 flex flex-row gap-2.5 items-center">
                    <img src="assets/svg/icon-select-CERP.svg"/>
                    <span>{{unidadesOperativas.unidOperativa}}</span>
                </div>
                <button class="bg-[#F4F5F7] px-2.5 h-[30px]" (click)="AsignarUnidadOperativa(unidadesOperativas.idUnidOperativa)">Seleccionar</button>
                <!--<button class="bg-[#F4F5F7] px-2.5 h-[30px]" (click)="AsignarUnidadOperativa(unidOperativa.idUnidOperativa)">Seleccionar</button>-->
            </div>
        </div>
    </div>
</div>