.div-container {
  margin: 1.5rem;
}
.btn-raised {
  height: 3rem;
}
.success {
  background: #03b76b !important;
  color: #fff !important;
  margin: 5px;
}
.div-margin-btn {
  margin-top: 0.3rem;
}
.div-filtro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 1rem;
}
/* .div-filtro-matform {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
        gap: 1rem;
    } */
.filtros-notif-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 1rem;
}
.filtros-notif-right {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.mat-full-width {
  width: 100%;
}
.table-responsive {
  overflow-x: auto;
}
table {
  width: 100%;
}
table td button {
  margin: 5px;
}
::ng-deep .mat-table thead {
  background: #b2b2b21c;
}
::ng-deep .mat-table thead tr th {
  color: #000;
}
.field-full-width {
  width: 100%;
}
.div-btn-new {
  display: flex;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  padding: 0 5px;
}

.div-botton {
  margin: 1rem 0;
}

.div-botton_btn {
  text-align: end;
}

.filtros-notif {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.div-margin-btn {
  margin-top: 0.3rem;
}
.btn-raised {
  height: 3rem;
}
.btn-buscar {
  background: #03b76b;
  color: #fff;
}

.modal-detalle {
  color: #369fed;
}
.evento-grave {
  font-size: 15px;
  color: #ff1616;
  font-weight: 500;
}
.evento-incidente {
  font-size: 15px;
  color: #00a809;
  font-weight: 500;
}
.evento-moderado {
  font-size: 15px;
  color: #ff8401;
  font-weight: 500;
}
.td-buttons-flex {
  display: flex;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
}
.div-mat-tab {
  padding-top: 1.5rem;
  margin: 0 1rem;
}
.cards-contents {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
  gap: 2rem;
}
.div-content-form {
  display: flex;
  gap: 1rem;
}
.div-content-form mat-form-field {
  width: 100%;
}
.div-content-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.div-img-pre {
  margin-top: 2rem;
  text-align: center;
}
.div-img-pre img {
  width: 100%;
  max-width: 400px;
}


