.encabezadoDia, .operacionCuadro{
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #0000001F;
}

.encabezadoDia{
    background-color: #F5F7FA;
}

.operacionCuadro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    .horaAtencion{
        width: 110px;
        line-height: 1rem;
    }
    .descripcion{
        line-height: 1.25rem;
        color: #00000099;
    }
}