<div *ngIf="programas.length > 0; else templateElse">
  <div class="div-mat-tab bg-ligth p-3">
      <div class="programa p-2 mt-3 bg-white" *ngFor="let program of programas; let i = index">
      <div class="headProgram d-flex w-100 ">
        <div class="title w-90">
          <span class="text-s-20 text-w-semibold uppercase text-primary2"
            >{{program.descripcion}}</span
          >
        </div>
        <div class="actions w-10 d-flex justify-end content-end mr-10">
          <button mat-raised-button class="text-uppercase mat-btn-secondary">
            EDITAR
          </button>
        </div>
      </div>

      <div *ngIf="program.subProgramas">
      <div class="detailProgram flex w-full " *ngIf="program.subProgramas.length > 0 ; else templateNODATA">
        <span class=" text-success uppercase text-w-semibold text-s-10">Cant. subprogramas: {{program.subProgramas?.length}}</span>
        <span class=" text-success uppercase text-w-semibold text-s-10">&nbsp;-&nbsp;</span>
        <span class=" text-success uppercase text-w-semibold text-s-10">Cant. servicios: {{ program.cant_servicios }}</span>
      </div>

      <ng-template #templateNODATA class="detailProgram flex w-full " >
        <span class="text-success uppercase text-w-semibold text-s-13 uppercase">no hay información para mostrar</span>
      </ng-template>
      </div>
      <div class="subPrograms w-full p-2">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel class="subprograma1 bg-ligth2 mt-3 ml-3 p-3" *ngFor="let subprogram of program.subProgramas; let i_sub = index"  >

            <mat-expansion-panel-header>
          <div class="headSubprograma d-flex w-100 bg-red uppercase mr-10">
            <div class="title w-100 bg-secondary p-1">
              <span class="text-white text-s-14 text-w-semibold uppercase">
               {{subprogram.descripcion}} 
              </span>
            </div>
          </div>
            </mat-expansion-panel-header>

            <mat-panel-description class="w-100 d-flex w-full">
              <div *ngIf="subprogram.servicios" class="flex w-100">
                <div *ngIf="subprogram.servicios.length > 0 ; else templateNODATASERVICE" class="d-flex w-100">
          <div class="servicios w-full w-100 bg-white p-2">
            <div class="servicio1 d-flex" *ngFor="let servicio of subprogram.servicios ; let i_sub_servicios = index"   >
              <span>
                <img class="img-logo" src="assets/services.svg" />
              </span>
              <span class="text-primary3 uppercase text-w-semibold "> {{servicio.descripcion}}</span>
            </div>
          </div>
                </div>

              </div>

              <ng-template #templateNODATASERVICE class="detailservice flex w-full" >
        <span class="text-success uppercase text-w-semibold text-s-13 uppercase">no hay servicios para mostrar</span>
              </ng-template>
          

            </mat-panel-description>

          </mat-expansion-panel>
        </mat-accordion>

      </div>



      </div>

  

  </div>
</div>


<ng-template #templateElse>
  <mat-card class="bg-ligth3">
    <div class="d-block text-secondary text-w-semibold text-uppercase mt-4">
      <div class="text-s-2r d-flex justify-content-center">
        no hay servicios creados
      </div>
      <div class="text-s-12 d-flex justify-content-center mt-3">
        Aún no se han agregado servicios. Inicie su administración agregando la
        primera cartera de servicios
      </div>
      <div class="text-s-1r d-flex justify-content-center mt-2">
        <button
          mat-raised-button
          class="text-uppercase mat-btn-primary"
          routerLink="/cams/servicios/new"
        >
          nueva cartera de servicios
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/img/new-services.png" alt="" />
      </div>
    </div>
  </mat-card>
</ng-template>
