<!-- superadmin, admin, registrador, usuarioadmin -->
<div class="div-sidenav-img ">
  <img src="assets/img/logo-essalud.png" alt="" />
</div>
<div class="div-desc-mod mt-4 mb-2 flex ">
  <span class=" text-s-12 text-w-semibold">
    CENTRO DE ADULTO MAYOR
</span>
</div>
<mat-nav-list>
  <div class="">
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
       home 
      </span>
      <span class="text-s-12">DASHBOARD</span>
    </a>
    <a mat-list-item routerLink="/cams" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        hr_resting
      </span>
      <span class="text-s-12">
        CAMS
      </span>
    </a>
    <a mat-list-item routerLink="/asegurados" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
       groups 
      </span>
      <span class="text-s-12">
        ASEGURADOS
      </span>
    </a>
    <a mat-list-item routerLink="/planificacion" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        network_locked
      </span>
      <span class="text-s-12">
        PLANEAMIENTO
      </span>
    </a>
    <a mat-list-item routerLink="/talleres" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        sports_gymnastics
      </span>
      <span class="text-s-12">
        TALLERES
      </span>
    </a>
    <a mat-list-item routerLink="/usuarios" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        person 
      </span>
      <span class="text-s-12">
        USUARIOS
      </span>
    </a>
    <a mat-list-item routerLink="/eventos" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
       event_available
      </span>
      <span class="text-s-12">
        EVENTOS
      </span>
    </a>
    <a mat-list-item routerLink="/afiliados" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        beenhere
      </span>
      <span class="text-s-12">
        AFILIADOS
      </span>
    </a>
    <div class="pl-5">
    <a mat-list-item routerLink="/reportes" routerLinkActive="list-item-activo">
      <span class="material-symbols-outlined" style="color:#0284c7">
        leaderboard
      </span>
      <span class="text-s-12 text-secondary">
        REPORTES
      </span>
    </a>
    </div>

  </div>
</mat-nav-list>