<div class="relative w-full sm:w-8/12 md:w-7/12 lg:w-6/12 m-auto">
  <div class="bg-white rounded shadow-lg py-4 px-4 md:px-9">
    <app-header></app-header>
    <div class="mb-4">
      <app-forgot-password-form></app-forgot-password-form>
    </div>
    <div
      class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
    >
      <a routerLink="/login" class=" text-xs text-blue-400 font-bold">Ingresar</a>
      <span class="text-gray-400 hidden md:block">•</span>
      <a routerLink="/register" class="text-xs text-blue-400 font-bold"
        >Registrarme</a>
    </div>
  </div>
</div>