.div-dialog-form {
    text-align: center;
}

.div-dialog-form_content {
    padding: 0px !important;
   /* padding: 0 45px;*/
   
}

.div-dialog-form_content form {
    display: grid;
}

.div-dialog-form_content h1 {
    font-size: 27px;
    color: #008BD2;
    font-weight: 500px;
}

.div-dialog-form_content h2 {
    color: #057EC9;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;   
    /*color: #777; */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.div-dialog-form_content p {
    color: #057EC9;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    /*color: #008BD2; 
    font-weight: 400;
    font-size: 25px;*/
}

.mat-input-element {
    font-size: 1.3em;
}
.mat-dialog-actions {
    padding: 10px 21px 30px !important;
    display: grid !important;
    gap: 1rem !important;
}

.btn-dialog button{
    font-size: 17px;
    width: 100%;
}

.btn-dialog button_RegCod{
    width: 40px !important;
}


.btn-mat-primary {
    background: #008BD2;
    color: #fff;
}

.line-horizontal{
    border-top: 0.2px solid rgba(0, 0, 0, 0.4);
 }

 .custom-dialog-container{
        padding: 0px !important;
 }
  
 ::ng-deep.formRegistroCod{
    .mat-form-field-flex{
            height: 42px !important;
            padding-top: 0px;
            padding-bottom: 10px;
            margin-top: 1px;
    }
    .mat-form-field-infix{
        padding: 0px !important;
        height: 40px !important;
        margin-top: 0px;
    }
    .mat-form-field-autofill-control{
        margin-top: 0px !important;
        margin-bottom: 1px !important;
        padding-top:0px !important;
        height: 28px !important;
        border: none !important;
    }
    .mat-form-field-wrapper{
        margin-top: 2px !important;
        margin-bottom: 3px !important;
        padding-bottom:  0px !important;
    }
 }


