.div-dialog-form {
    text-align: center;
}

.div-dialog-form_content {
    padding: 0 45px;
}

.div-dialog-form_content form {
    display: grid;
}

.div-dialog-form_content h1 {
    font-size: 27px;
    color: #008BD2;
    font-weight: 500;
}

.div-dialog-form_content h2 {
    color: #777; 
}

.div-dialog-form_content p {
    color: #008BD2; 
    font-weight: 400;
    font-size: 25px;
}

.mat-input-element {
    font-size: 1.3em;
}
.mat-dialog-actions {
    padding: 10px 21px 30px !important;
    display: grid !important;
    gap: 1rem !important;
}
.btn-dialog button{
    font-size: 17px;
    width: 100%;
}

.btn-mat-primary {
    background: #008BD2;
    color: #fff;
}