<div class="div-dialog-form" style="height: 374px !important">
    <!-- <div>
            <img src="assets/img/cam_login.png" alt="">
        </div> -->
   
    <mat-dialog-content class="div-dialog-form_content custom-dialog-container" style="height: 294px !important;">
      <h1 class="text-s-18r" style="color: #FFFFFF; text-align: left !important; background-color: #008BD2;"> {{data.title}} </h1>
      <h2 class="text-s-20r">Se envió un código de activación a tu correo electrónico<br><br></h2>
      <div > </div>

      <div > </div>

      <p> {{data.data.email}} </p>

      <div class="d-flex content-textos-small"> </div>

      <h2 class="text-s-20r" style="color: #000000 !important;letter-spacing: 0.15px !important;">Ingresa el código para activar tu cuenta<br></h2>

      <div class="d-flex content-textos-small"> </div>

      <form [formGroup]="form" style="align-content: center !important; justify-content: center !important;">
        <mat-form-field class="full-width-input" style="width: 190px !important; height: 40px !important;">
          <mat-label class="text-s-16p" style="color: #64748B !important; text-align: center !important; padding-top: 0px !important;">Código de Activación</mat-label>
          <input type="text" formControlName="codigoCtrl" matInput required style="text-align: center !important" />
          <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
          <!-- <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">
                Mínimo 8 dígitos
              </mat-error> -->
        </mat-form-field>
      </form>
      <div > </div> 
      <div > </div>
      <div class="line-horizontal custom-dialog-container" style="margin-top: 10px;"></div>
    </mat-dialog-content>
  
    <div class="line-horizontal custom-dialog-container" ></div>
    <mat-dialog-actions class="custom-dialog-container" style="height: 80px !important;">
      <div class="btn-dialog_RegCod text-s-18p" style="color: #3E4348 !important;">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button
          (click)="registrarUsuario()"
          mat-raised-button
          [disabled]="form.invalid || loading"
          class="btn-mat-primary"
          cdkFocusInitial
        >
          {{ loading ? "Validando..." : "CONFIRMAR" }}
        </button>
      </div>
      
    </mat-dialog-actions>
  
  </div>
