<esp-opciones-busqueda [showDateFilter]="true" [setFilterDateTextColour]="'#057EC9'"
  [setFilterDateOptionSelected]="'linear-gradient(90.57deg, #057EC9 13.31%, #28C2FF 99.53%)'"
  [setFilterDateSelectionBg]="'#008BD2'" [setFilterDateButtonBg]="'#008BD2'" [showSearch]="true"
  [searchInputPlaceHolder]="'Busqueda de Usuarios'" [showFirstDisplayFilter]="true"
  [firstDisplayFilterPlaceholder]="{'indicador': false, 'placeholder': 'Todos los estados'}"
  [firstDisplayFilterData]="optEstados" [showSecondDisplayFilter]="true"
  [secDisplayFilterPlaceholder]="{'indicador': false, 'placeholder': 'Acciones'}"
  [secDisplayFilterData]="optAcciones"></esp-opciones-busqueda>
<div class="div-mat-tab" style="margin-left: 0px; border: none !important;">
  <div class="">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nombres" class="">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r" style="font-weight: 0.1px">N° de Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.numDoc }}
        </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r" style="font-weight: 0.1px">Nombres</th>
        <td mat-cell *matCellDef="let element" class="justify-left" style="align-content: start">
          <a class="decorator-none text-primary3 text-w-semibold" (click)="setLink2(element.nombres, element.guiid)"
            routerLink="/usuarios/show/{{ element.guiid }}">
            {{ element.nombres }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="cam">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r text-uppercase" style="font-weight: 0.1px">Unidad
          Operativa</th>
        <td mat-cell *matCellDef="let element">
          {{ element.unidadOperativa }}</td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r" style="font-weight: 0.1px">Rol</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rol }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tieneVigencia">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r" style="font-weight: 0.1px">Estado</th>
        <td mat-cell *matCellDef="let element">

          <span *ngIf="element.estado=='ACTIVADO'">
            <img class="img-logo" style="margin-left: 10px" src="assets/userAzul.svg" />
          </span>
          
          <span *ngIf="element.estado=='CONFIRMADO'">
            <img class="img-logo" style="margin-left: 10px" src="assets/userVerde.svg" />
          </span>

          <span *ngIf="element.estado=='CREADO'">
            <img class="img-logo" style="margin-left: 10px" src="assets/userAzul.svg" />
          </span>

        </td>
      </ng-container>

      <!-- SE AGREGA COLUMNA FECHA DE REGISTRO-->
      <ng-container matColumnDef="fechReg">
        <th mat-header-cell *matHeaderCellDef class="text-s-14r" style="font-weight: 0.1px">Fecha de Registro</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechReg.split("T")[0] }}
        </td>
      </ng-container>

      <!-- SE AGREGA COLUMNA DE SELECCION (CHECK)-->
      <ng-container matColumnDef="seleccion">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [(ngModel)]="selectAll" (change)="toggleSelectAll()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{ headerRow: true }"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns; index as i"></tr> <!-- [ngClass]="getClassRow(i)" -->

      -


    </table>
    <mat-paginator #paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>