<div class="info-container">
    <p class="flex w-100 py-1 pl-1 text-menucolor text-s-16p my-2 mt-2" style="font-weight: 300;">{{ textEval }}</p>
    <p class="flex w-10 py-1 text-s-14p text-sky my-1 mt-2 justify-center text-color-primary border-sky-light"> 
    <img src="assets/img/dotCircle.png" alt="" id="imagenEscalaOriginal" />  
    </p>
    <p class="flex w-2"></p>
    <p class="flex w-10 py-1 text-s-14p my-1 mt-2 justify-center border-gray">
    <img src="assets/img/dotCircle.png" alt="" id="imagenEscalaGrises" />  
    </p>
</div>