.table-container{
    height: 30vh; 
    overflow-y: auto; 
    position: relative;
    background-color: white;
    border-top: 1px solid #e5e7eb !important;
    border-left: 1px solid #e5e7eb !important;
    border-right: 1px solid #e5e7eb !important;
}
