<div class="div-mat-tab flex bg-sky-100 p-3 w-full space-x-5">
  <div class="block w-30 bg-white">
    <div class="pl-3 pt-3">
      <p class="text-slate-600 uppercase text-s-20 font-semibold">
        unidades operativas
      </p>
    </div>
    <div class="pl-3 pr-3">
      <mat-form-field class="w-full">
        <mat-label> Consultar</mat-label>
        <input
          #nameInput
          placeholder="Consultar"
          matInput
          type="text"
          (keyup)="applyFilter($event)"
        />
      </mat-form-field>
    </div>
    <div class="pl-3 pr-3 block overflow-y-auto h-100c space-y-1">
      <div
        class="bg-slate-50 flex w-full hover:bg-slate-200 cursor"
        *ngFor="let uo of list_uo; let i = index"
      >
        <!-- NG-FOR -->
        <a
          *ngIf="uo.idCam"
          routerLink="/talleres/programacion/{{ uo.idCam }}"
          (click)="setLink2(uo.descripcion, uo.idCam.toString(), uo)"
          class="flex w-full"
        >
          <div class="flex p-1 text-slate-400 w-90">
            <span *ngIf="true">
              <img class="" src="assets/eventos-casa-cam.svg" />
            </span>
            <span class="ml-2 text-slate-600"> {{ uo.descripcion }}</span>
          </div>
          <div class="text-slate-400 w-10 flex justify-end pt-1 text-slate-600">
            {{ i }}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="w-70 bg-white block">
    <!--
    <div class="block pl-3 pt-3">
      <p class="text-slate-600 uppercase text-s-20 font-semibold">
        talleristas
      </p>
    </div>
    <div class="flex bg-slate-100 p-2 m-2">
      <div class="w-70 flex">
        <div class="flex items-center bg-white">
          <div class="">
            <mat-date-range-picker #picker></mat-date-range-picker>
          </div>
          <div class="">
            <mat-date-range-input
              [formGroup]="range"
              [rangePicker]="picker"
              class="ml-3 p-2"
            >
              <input
                matStartDate
                formControlName="start"
                placeholder="Fecha de inicio"
                class="ml-2"
              />
              <input
                matEndDate
                formControlName="end"
                placeholder="Fecha de fin"
              />
            </mat-date-range-input>
          </div>
          <div class="">
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
          </div>
          <mat-error
            *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </div>
      </div>
      <div class="w-30 space-x-2 flex justify-end">
        <div>
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>TODOS</option>
            <option value="1">SOLO DISPONIBLES</option>
            <option value="2">SOLO NO DISPONIBLES</option>
          </select>
        </div>

        <button mat-raised-button class="text-uppercase mat-btn-primary">
          agregar
        </button>
      </div>
    </div>
    <div class="m-2">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombres" class="">
          <th mat-header-cell *matHeaderCellDef class="">DNI</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="justify-left"
            style="align-content: start"
          >
            <a
              class="decorator-none text-primary3 text-w-semibold"
              (click)="setLink2(element.nombres, element.guiid)"
              routerLink="/usuarios/show/{{ element.guiid }}"
            >
              {{ element.usuario }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombres }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cam">
          <th mat-header-cell *matHeaderCellDef>CAM</th>
          <td mat-cell *matCellDef="let element">CAM ALMENARA</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef>ROLES</th>
          <td mat-cell *matCellDef="let element">
            {{ element.rol }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tieneVigencia">
          <th mat-header-cell *matHeaderCellDef>Activo</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.tieneVigencia">
              <img class="img-logo" src="assets/userAzul.svg" />
            </span>

            <span *ngIf="element.tieneVigencia">
              <img class="img-logo" src="assets/userVerde.svg" />
            </span>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          [ngClass]="{ headerRow: true }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; index as i"
          [ngClass]="getClassRow(i)"
        ></tr>
        -
      </table>
    </div>
  -->
    <router-outlet></router-outlet>
  </div>
</div>
