<div class="container bg-white my-4 p-4 shadow-lg w-full">
    <div class="container mt-4 bg-white">
        <div class="mb-1">
            <h1 class="text-2xl font-bold mb-1">Administración de los Círculos de Adulto Mayor - CIRAM</h1>
            <p class="mb-4">Gestiona los Círculos de adulto Mayor</p>
        </div>
    </div>
    <esp-opciones-busqueda [showDateFilter]="true" [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'"
        [setFilterDateTextColour]="'#057EC9'" [filterDateAppearance]="2"
        (sendDateFilterWithCeros)="getDataFecha($event)" [setFilterDateSelectionBg]="'#008BD2'"
        [setFilterDateButtonBg]="'#008BD2'" [setDateSelectedDefault]="9" [showSearch]="true"
        [searchInputPlaceHolder]="'Busquedar'" [showButton]="true" [buttonText]="'Nuevo CIRAM'" (buttonAccion)="nuevoCiram()"
        [buttonBg]="'#057EC9'"></esp-opciones-busqueda>


    <!--10 (searchInputValue)="formBuscar.get('frmSearch')?.setValue($event.toUpperCase()); onLoadData()"-->
    <!--20 (buttonAccion)="nuevoAsegurado()"-->

    <!-- status-list.component.html -->
    <div class="bg-gray-100 p-3">
        <div class="flex justify-between bg-gray-100 items-center mb-4">
            <h2 class="text-lg font-semibold ">Activos</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Repeat this section for each active item -->
            <div *ngFor="let unidCiram of listCiramActivos, index as i"
                class="flex items-center justify-between p-4 bg-white rounded-lg shadow-md cursor-pointer" (click)="editUoCiram(unidCiram.idUnidadOperativa)">
                <div>
                    <div class="py-2 flex flex-row gap-2.5 items-center">
                        <img class="select-none" src="assets/svg/icon-unid-ciram.svg" />
                        <div>
                            <h3 class="font-bold">CIRAM {{unidCiram.nombre}}</h3>
                            <p class="text-sm">{{unidCiram.direccion}}</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <button class="p-2 rounded-full bg-white text-gray-600">⋮</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 p-3 mt-4">
        <div class="flex justify-between items-center mt-1 mb-4">
            <h2 class="text-lg font-semibold">Inactivos</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Repeat this section for each inactive item -->
            <div *ngFor="let unidCiram of listCiramInactivos, index as i"
                class="flex items-center justify-between p-4 bg-white rounded-lg shadow-md">
                <div>
                    <div class="py-2 flex flex-row gap-2.5 items-center">
                        <img class="select-none" src="assets/svg/icon-unid-ciram.svg" />
                        <div>
                            <h3 class="font-bold">CIRAM {{unidCiram.nombre}}</h3>
                            <p class="text-sm">{{unidCiram.direccion}}</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <button class="p-2 rounded-full bg-white text-gray-600">⋮</button>
                </div>
            </div>
            <!-- End of repeated section -->
        </div>
    </div>
</div>