<div>

    <!--
    <esp-tabla-desplazable>
    </esp-tabla-desplazable>
    -->
      <esp-opciones-busqueda 
        [showDateFilter]="true"
        [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'" 
        [setFilterDateTextColour]="'#057EC9'"
        [filterDateAppearance]="2"
        (sendDateFilterWithCeros)="getDataFecha($event)"
        [setFilterDateSelectionBg]="'#008BD2'"
        [setFilterDateButtonBg]="'#008BD2'"
        [showSearch]="true"
        (searchInputValue)="formBuscar.get('frmSearch')?.setValue($event.toUpperCase()); onLoadData()"
        [searchInputPlaceHolder]="'Busqueda de Asegurados'"

        [showFirstDisplayFilter]="false"
        [firstDisplayFilterPlaceholder]="{'indicador': true, 'placeholder': 'Todos los estados'}"
        [firstDisplayFilterData]="opciones"
        (firstDisplayFilterSendValue)="firstDisplayValue($event)"
        (firstDisplaySelectedValue)="false"
  
        [showSecondDisplayFilter]="true"
        [secDisplayFilterPlaceholder]="{'indicador': true, 'placeholder': 'Todos los CAM'}"
        [secDisplayFilterData]="opciones_cam"
        (secDisplayFilterSendValue)="secDisplayValue($event)"

        [showThirdDisplayFilter]="true"
        [thirdDisplayFilterPlaceholder]="{'indicador': true, 'placeholder': 'Todas las Redes'}"
        [thirdDisplayFilterData]="opciones_red"
        (thirdDisplayFilterSendValue)="thirdDisplayValue($event)"
        
        [menuOpt]="dataAcciones"
        (primerActionMenu)="imprimirLista()"
      ></esp-opciones-busqueda>
  </div>
  
  <esp-data-loading
  [dataEmpty]="dataSource.length == 0"
  [dataLoading]="loadingData"
  ></esp-data-loading>
  
  <div *ngIf="!loadingData && dataSource.length > 0">
    <div class="table-container">
      <table cdk-table class="w-full text-sm text-left text-gray-500" [dataSource]="dataSource" >
        <tr cdk-header-row class="text-xs text-gray-700 bg-gray-50 " *cdkHeaderRowDef="columns; sticky: true"></tr>
         <tr cdk-row class="bg-white border-b" *cdkRowDef="let row; columns: columns"></tr>
        
        <ng-container cdkColumnDef="marcar">
          <th cdk-header-cell class="py-[1.25rem] px-6" [style]="'width: 0%;'" *cdkHeaderCellDef> <input type="checkbox" [checked]="seleccionados.length == this.dataSource.length" (change)="afectarTodo($event)"/> </th>
          <td cdk-cell class="py-[1rem] px-6" [style]="'width: 0%;'" *cdkCellDef="let row"> <input type="checkbox" class="checkbox-select" (change)="seleccionarFila($event)" [value]="false" [checked]="row.marcar"/> </td>
        </ng-container>
  
        <ng-container cdkColumnDef="desctipdocident">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Apellidos y Nombres</th>
          <td cdk-cell class="py-[1rem] px-6 font-semibold" *cdkCellDef="let row, index as i" ><span class="cursor-pointer" >{{ row.desctipdocident}}</span></td>
        </ng-container>

        <ng-container cdkColumnDef="numdocident">
            <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>DNI/CEXT/PAS</th>
            <td cdk-cell class="py-[1rem] px-6 font-semibold" *cdkCellDef="let row">{{ row.numdocident}}</td>
          </ng-container>
    
          <ng-container cdkColumnDef="apePaterno">
            <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>N° de Documento</th>
            <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.apePaterno + " " + row.apeMaterno }}</td>
          </ng-container>

        <ng-container cdkColumnDef="nombres">
            <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Fecha de Registro</th>
            <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.nombres}}</td>
        </ng-container>

        <ng-container cdkColumnDef="red">
            <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Red</th>
            <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.red}}</td>
        </ng-container>
  
        <ng-container cdkColumnDef="cam">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>CAM</th>
          <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.cam}}</td>
        </ng-container>
  
        <ng-container cdkColumnDef="actividades">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Actividades</th>
          <td cdk-cell class="py-[1rem] px-6 font-semibold" *cdkCellDef="let row">{{row.actividades }}</td>
        </ng-container>
  
        <ng-container cdkColumnDef="fechaEvaluado">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Fecha Evaluado</th>
          <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.fechaEvaluado | date : 'dd/MM/yyyy' }}</td>
        </ng-container>
  
        <ng-container cdkColumnDef="codigoEvaluador">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Codigo Evaluador</th>
          <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.codigoEvaluador }}</td>
        </ng-container>
        
        <ng-container cdkColumnDef="nombresEvaluador">
          <th cdk-header-cell class="py-[1rem] px-6" *cdkHeaderCellDef>Nombre Evaluador</th>
          <td cdk-cell class="py-[1rem] px-6" *cdkCellDef="let row">{{row.nombresEvaluador}}</td>
        </ng-container>
      </table>
    </div>
      <mat-paginator #paginator class="demo-paginator paginatorDatos" 
      (page)="handlePageEvent($event)"
      [length]="total"
      [pageSize]="pageSize"
      showFirstLastButtons="true"
      [pageSizeOptions]="pageSizeOptions.length > 0 ? pageSizeOptions : []"
      [pageIndex]="pageIndex"
      aria-label="Select page">
      </mat-paginator>
  </div>      