<div class="login-form">
  <!-- <div>
        <img src="assets/img/cam_login.png" alt="">
    </div> -->
  <mat-card class="login-form__div">
    <div>
      <img class="img-logo" src="assets/img/logo-essalud.png" />
    </div>
    <h1>Recuperación de contraseña</h1>
    <form [formGroup]="form" (ngSubmit)="cambiarPassword()">
      <mat-form-field class="full-width-input">
        <mat-label>Usuario</mat-label>
        <input type="text" formControlName="username" matInput required />
        <mat-icon matSuffix>account_circle</mat-icon>
        <!-- <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">
            Mínimo 8 dígitos
          </mat-error> -->
      </mat-form-field>
      <div class="btn-login">
        <button
          type="submit"
          mat-raised-button
          [disabled]="form.invalid || loading"
          class="btn-mat-primary"
        >
          {{ loading ? "Validando..." : "Cambiar contraseña" }}
        </button>
      </div>
      <div class="btn-login">
        <button mat-raised-button (click)="volverLogin()">Cancelar</button>
      </div>
    </form>
  </mat-card>
</div>
