<div class="info-container">

  
  </div>
  
  <div class="div-mat-tab pt-1">
    <div class="d-flex pb-0">  
    </div>
  </div>
  
  <div class="d-flex bg-white mr-6 ml-6"> 
    <p class="field-full-width text-s-26p pl-6 pt-2"><b></b></p> <!--Ficha de Solicitud-->
    
  </div>
  
  <div class="px-4 py-1 bg-white ml-6 mr-6 mb-3 grid grid-cols-3 gap-8" >    <!-- ...gap-8" [formGroup]="formContacto" -->
    <div class="text-gray-600">
        <div class="grid text-center relative justify-center border-sky-light border-l-0 border-t-0">
            <p class=" py-1 px-3 my-2 mx-1 anios absolute right-0 text-white text-xl bg-primary3 ">{{edadPersona}} Años</p>
            <img class="my-2 imagen" >
            <p class="pt-1 font-bold text-2xl m-1 text-color-primary2 text-sky-600 " >{{dataAsegurado.nombres | titlecase}}</p>
            <p class="font-semibold text-lg m-0">{{dataAsegurado.apePaterno | titlecase}} {{dataAsegurado.apeMaterno | titlecase}}</p>
            <p class="font-thin">DNI {{dataAsegurado.numDoc}}</p>
        </div>
        
        <div class="border-t-2 overflow-y mt-0 font-thin scrollbarra " >
          
          <div class="info-container">
            <a class="block mt-0 h-40px w-40p"><img src="assets/img/opcA.png" alt=""></a> 
            <div>            
              <p class="w-4/6 pl-2 text-sky-600 font-bold text-s-14p my-0 mt-2">Test Pfeiffer</p>                         
              <p class="pl-2 text-menucolor text-s-14p mb-1">Evaluación Cognitiva</p>
            </div>
          </div>
  
          <div class="info-container">
            <a class="block mt-0 h-40px w-40p"><img src="assets/img/opcB.png" alt=""></a> 
            <div>            
              <p class="w-4/6 pl-2 text-sky-600 font-bold text-s-14p my-0 mt-2">Test de Katz</p>                         
              <p class="pl-2 text-menucolor text-s-14p mb-1">Evaluación Funcional</p>
            </div>
          </div>
  
          <div class="info-container">
            <a class="block mt-0 h-40px w-40p"><img src="assets/img/opcC.png" alt=""></a> 
            <div>            
              <p class="w-4/6 pl-2 text-sky-600 font-bold text-s-14p my-0 mt-2">Escala de Gijón</p>                         
              <p class="pl-2 text-menucolor text-s-14p mb-1">Evaluación Socio Familiar</p>
            </div>
          </div>
  
          <div class="info-container opacydad">
            <a class="block mt-0 h-40px w-40p"><img src="assets/img/opcD.png" alt=""></a> 
            <div>            
              <p class="w-4/6 pl-2 text-sky-600 font-bold text-s-14p my-0 mt-2">Test Yesavage</p>                         
              <p class="pl-2 text-menucolor text-s-14p mb-1">Escala de Depresión Geriátrica</p>
            </div>
          </div>
          
        </div>
    </div>
    
    <div class="col-span-2">
    
      <!-- TIPOS DE TEST -->
      <div class="info-container">
        <p class="flex w-3/4 font-semibold bordColorEstablecido text-s-18p mb-1"> Evaluacion Gerontológica</p>
         <p class="w-1/4 text-end text-s-14p text-secondary mb-1">N° de Historia </p> 
      </div>
      <div class="info-container">
         <p class="flex w-3/4 text-s-14p text-secondary"> De Las Personas Adulto Mayores </p>
          <p class="field-full-width text-end text-s-18p text-primary2" style="color: #057EC9 !important" >{{dataFicha.numHistoria}}00000000001
          </p>
      </div>
  
      <!-- Evaluacion --> 
  
      <div class="info-container">
        <p class="flex w--1/5 py-1 border-l-8 border-[#057EC9] pl-2 text-sky-600 font-semibold text-s-18p my-2 mt-2">ESCALA DE GIJON &nbsp; </p>
        <p class="flex w-75 text-s-14p text-secondary my-2">Evaluación socio familiar</p>
        
        <p class="flex w-2"></p>
        
      </div>
      <p class="flex w-100 py-1 pl-2 font-semibold text-s-16p my-2 mt-2">SITUACIÓN FAMILIAR </p>
      <app-pregunt1opc [textEval]="' 1. Vive con pareja y/o familia sin conflicto.'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 2. Vive con pareja de similar edad'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 3. Vive con pareja y/o familia sin conflicto.'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 4. Vive con pareja y/o familia sin conflicto.'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 5. Vive con pareja y/o familia sin conflicto.'">  </app-pregunt1opc>
      <p class="flex w-100 py-1 pl-2 font-semibold text-s-16p my-2 mt-2">RELACIONES Y CONTACTOS SOCIALES </p>
      <app-pregunt1opc [textEval]="' 1. Mantiene relaciones sociales fuera del domicilio'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 2. Sólo se relaciona con familia/vecinos/otros, sale de casa'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 3. Sólo se relaciona con familia, sale de casa'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 4. No sale de su domicilio, recibe familia o visitas (< 1 por semana)'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 5. No sale del domicilio, ni recibe visitas (> 1 por semana)'">  </app-pregunt1opc>
      <p class="flex w-100 py-1 pl-2 font-semibold text-s-16p my-2 mt-2">APOYOS RED SOCIAL </p>
      <app-pregunt1opc [textEval]="' 1. No necesita ningún apoyo'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 2. Recibe apoyo de la familia y/o vecinos'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 3. Recibe apoyo social formal suficiente (centro de día, trabajador/a familiar, vive en residencia, etc.)'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 4. Tiene soporte social, pero es insuficiente'">  </app-pregunt1opc>
      <app-pregunt1opc [textEval]="' 5. No tiene ningún soporte social y lo necesita'">  </app-pregunt1opc>

      <div class="flex justify-center space-x-2">
        <div class="w-1/6 w-30">
            <div class="relative mt-2 rounded-md shadow-sm">
                <app-btn color="none" (click)="onAnterior()">Anterior
                </app-btn>
            </div>
        </div>
        <div class="w-1/6 w-30">
            <div class="relative mt-2 rounded-md shadow-sm px-0 ">
                <app-btn typeBtn="submit" (click)="onNext()">Siguiente &nbsp; <img src="assets/img/flechaSig.png"/>
                </app-btn>
            </div>
        </div>
        </div>  
  
    </div>
    
  </div>
  