.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.botonMezclado {
    ::ng-deep.bg-success-700{
    background: var(--color-CAM-Mezclado) !important;
  }
  border-radius: 5px;
}