.botonMezclado {
    ::ng-deep.bg-success-700{
    background: var(--color-CAM-Mezclado) !important;
  }
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #00000066;
}

h2{
    font-size: revert;
    align-self: center;
    font-weight: 600;
    color: #3E4348;
}

.labelHistoria{
    font-size: 14px;
    font-weight: 300;      
    color: #64748B;
}

.nHistoria{
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #339999;  
}

.imagen{
    width: 120px;
    height: 150px;
    justify-self: center;
}

.iconEditar{
    cursor: pointer;
    margin-bottom: 0.5rem;
    height: 1.25rem;
    margin-right: 0.625rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
.iconEditar:hover{
    border-color: rgb(20 184 166);
    border-width: 2px;
    height: 1.45rem;
    background-color: #f3f4f6;
}
.anios{
    background: var(--color-CAM-Mezclado);
}