.hoverCalendar:hover{
    border-color: rgb(20 184 166);
    border-width: 2px;
    cursor: pointer;
}


.imagen{
    width: 80px;
    height: 95px;
    justify-self: center;
  }


 .disabled-fecha {
    background-color: #cccccc70;
    padding: 8px;
}