<div class="w-full h-full">
  <esp-opciones-busqueda class="w-full"
  [showDateFilter]="true"
  [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'"
  [setFilterDateTextColour]="'#339999'"
  [filterDateAppearance]="2"
  (sendDateFilterWithCeros)="AsignarFiltro($event)"
  [showSearch]="true"
  (searchInputValue)="form.get('frmSearch')?.setValue($event); onLoadData()"
  [showFirstDisplayFilter]="true"
  [firstDisplayFilterPlaceholder]="{'indicador': true, 'placeholder': 'Todos los estados'}"
  [firstDisplayFilterData]="opciones"
  (firstDisplayFilterSendValue)="firstDisplayValue($event)"
  [showButton]="true"
  [buttonBg]="'var(--color-CAM-Mezclado)'"
  [buttonText]="'Nueva Ficha de Admisión'"
  (buttonAccion)="showNuevaFichaAdmision()"
  ></esp-opciones-busqueda>
  <table cdk-table class="w-full text-sm text-left text-gray-500 tablaDatos" [dataSource]="dataSource" >
  <tr cdk-header-row class="text-xs text-gray-700 bg-gray-50" *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row class="bg-white border-b" *cdkRowDef="let row; columns: columns"></tr>
  <ng-container cdkColumnDef="numHistClinica">
    <th cdk-header-cell class="py-5 px-6" *cdkHeaderCellDef>N° Historia</th>
    <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
      {{row.numHistClinica}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="fullName">
    <th cdk-header-cell class="py-5 px-6" *cdkHeaderCellDef>Nombre del Asegurado</th>
    <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
      <a class="text-Name" [routerLink]="[row.id]">{{ row.nombres }} {{ row.apePaterno }} {{ row.apeMaterno }}</a>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="documento">
    <th cdk-header-cell class="py-5 px-6" *cdkHeaderCellDef>Doc.</th>
    <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">{{ row.tipDocIdent === "1" || "01" ? 'DNI' : row.descTipDocIdent }}</td>
  </ng-container>

  <ng-container cdkColumnDef="dni">
    <th cdk-header-cell class="py-5 px-6" *cdkHeaderCellDef>N° de Documento</th>
    <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">{{row.numDocIdent}}</td>
  </ng-container>

  <ng-container cdkColumnDef="date">
    <th cdk-header-cell class="py-5 px-6" *cdkHeaderCellDef>Registrado</th>
    <td cdk-cell class="py-4 px-6 fechaRoboto" *cdkCellDef="let row">{{ row.fecRegistro | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <th cdk-header-cell class="py-5 px-6 text-center" *cdkHeaderCellDef>Estado</th>
    <td cdk-cell class="py-4 px-6 text-sky-400 text-center" *cdkCellDef="let row">{{row.estado | titlecase}}</td>
  </ng-container>
    <!-- <tr mat-header-row class="text-xs text-gray-700 uppercase bg-gray-50" *matHeaderRowDef="columns"></tr>
    <tr mat-row class="bg-white border-b" *matRowDef="let row; columns: columns;"></tr> -->
</table>
<mat-paginator #paginator class="demo-paginator paginatorDatos" 
  (page)="handlePageEvent($event)"
  [length]="total"
  [pageSize]="pageSize"
  showFirstLastButtons="true"
  [pageSizeOptions]="pageSizeOptions.length > 0 ? pageSizeOptions : []"
  [pageIndex]="pageIndex"
  aria-label="Select page">
</mat-paginator></div>