<div class="flex flex-col">
    <div class="flex flex-row justify-between items-center py-2.5">
        <div class="flex flex-row gap-3 items-center">
            <p class="subTitulo"> TEST DE KATZ</p>
            <span class="text-[#64748B] text-[14px]">Actividades Básicas de la vida diaria</span>
        </div>
        <div class="flex flex-row gap-2 select-none">
            <div class="flex items-center justify-center border border-[var(--color-CAM)] text-Name w-[45px] h-8 cursor-pointer" (click)="selectAll(dataTestB.titulo1)" [matTooltip]= "'Marcar todas las preguntas como ' + (dataTestB.titulo1 | titlecase)" matTooltipPosition="above">
                <span>{{dataTestB.titulo1}}</span>
            </div>
            <div class="flex items-center justify-center border border-[#64748B] text-[#64748B] w-[45px] h-8 cursor-pointer" (click)="selectAll(dataTestB.titulo2)" [matTooltip]= "'Marcar todas las preguntas como ' + (dataTestB.titulo2 | titlecase)" matTooltipPosition="above">
                <span>{{dataTestB.titulo2}}</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="h-10 flex flex-row items-center" *ngFor="let pregunta of preguntas, index as i">
            <div class="flex flex-row items-center gap-2 text-lg grow" [ngClass]="(validated && evaluacionService.formDataTestKatz.controls['pregKatz_' + i].invalid) ? 'text-red-500' : 'text-[var(--color-black-alt)]'">
                <span class="w-[20px] text-right">{{i+1}}.</span>
                <span class="max-w-[45vw] leading-5">{{pregunta.pregunta}}</span>
            </div>
            <div class="shrink-0">
                <ul class="flex flex-row gap-2" [formGroup]="evaluacionService.formDataTestKatz">
                    <li class="relative w-[45px] radioBgDiferente flex items-center justify-center">
                        <input type="radio" [id]="'pregKatz_'+ i + '_' + 1" [formControlName]="'pregKatz_' + i" [value]="dataTestB.titulo1" class="peer absolute focusCampo cursor-pointer">
                        <label [for]="'pregKatz_'+ i + '_' + 1" class="flex selectRadioBoolean h-8">
                        </label>
                    </li>
                    <li class="relative w-[45px] radioBgDiferente flex items-center justify-center">
                        <input type="radio" [id]="'pregKatz_'+ i + '_' + 2" [formControlName]="'pregKatz_' + i" [value]="dataTestB.titulo2" class="peer absolute focusCampo cursor-pointer">
                        <label [for]="'pregKatz_'+ i + '_' + 2" class="flex selectRadioBoolean h-8">
                        </label>
                    </li>
                  </ul>
            </div>
        </div>
        <div *ngIf="evaluacionService.formDataTestKatz.touched && evaluacionService.formDataTestKatz.invalid && validated" class=" text-center">
            <span class="font-medium text-red-500 text-xs my-1 ml-1">
                Quedan preguntas sin responder.
            </span>
        </div>
        <div class="py-1.5 flex justify-center gap-2.5">
            <app-btn class="flex flex-row botonApariencia botonOpciones" color="mezclado" routerLink="..">
                Anterior
            </app-btn>
            <app-btn class="flex flex-row botonApariencia botonOpciones" color="mezclado" (click)="validateFormNextPage()">
                Siguiente
                <fa-icon class="ml-2" [icon]="faArrowAltCircleRight"></fa-icon>
            </app-btn>
        </div>
    </div>
</div>
