<div class="w-screen h-screen bg-white bg-gradient relative md:py-14 md:px-20">
    <!--
    <app-background></app-background>
    -->
    <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-2 autorizacion">
      <div class="brand relative m-auto">
        <div class="flex flex-col items-center gap-10 text-center">
          <div>
            <img src="assets/images/logo/logo-essalud-white.svg" alt="">
            <img class="w-2/6 m-auto mt-6" src="assets/images/hand.png">
          </div>
          <h1 class="text-white text-5xl font-bold">SCAM</h1>
          <h2 class="text-white text-4xl font-bold px-20">Sistema de Centro del Adulto Mayor</h2>
        </div>
      </div>
      <div class="self-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  