        <div class="div-mat-tab">
          <div class="filtros-notif" [formGroup]="form">
            <div class="filtros-notif-left">
              <mat-form-field class="mat-full-width">
                <mat-icon matPrefix>search</mat-icon>
                <input
                  (keyup)="applyFilter($event)"
                  matInput
                  placeholder="Búscar"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select>
                  <mat-option value="1">DISPONIBLES</mat-option>
                  <mat-option value="2">SUSPENDIDO</mat-option>
                  <mat-option value="3">NO DISPONIBLE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filtros-notif-right ">
              
              <button
                mat-raised-button
                class="mat-btn-primary text-uppercase"
              >
                Nueva unidad operativa 
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">
   <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i+1 }}</td>
      </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>RED</th>
                <td mat-cell *matCellDef="let element">
                  <a
                    class="btn-flat-info"
                    (click)="setLink2(element.nombre, element.idred)"
                    routerLink="/cams/redes/show/{{element.idred}}"
                  >
                    {{ element.nombre}} 
                  </a>
                </td>
              </ng-container>

             <ng-container matColumnDef="redasiscod">
                <th mat-header-cell *matHeaderCellDef>RED ASISTENCIAL</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.redasiscod }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>TIPO</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.tipo}}
                </td>
              </ng-container>

              <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef>REGION</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.region }}
                </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                <td mat-cell *matCellDef="let element">

          <span *ngIf="element.estado === '1'">
            <img class="img-logo" src="assets/casaVerde.svg" />
          </span>
          <span *ngIf="element.estado === '2'">
            <img class="img-logo" src="assets/casaRoja.svg" />
          </span>

                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns" [ngClass]="{'headerRow':true}"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; index as i" [ngClass]="getClassRow(i)"
              ></tr>

            </table>
            <mat-paginator
              #paginator
              [pageSizeOptions]="[25, 50, 100]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>