
.botonMezclado {
    ::ng-deep.bg-primary2{
    background: var(--color-CAM) !important;
  }
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px #00000066;
}

.boxMsgSatisf{
    margin-top: 16px;   
    width: 100%; 
    text-align: center;
    .boxSpanMsg{
        padding: 12px 0;
        color: #057EC9;
        border-bottom: 0.5px solid #3e434859;
    }
    .btnSgte{
        margin: 12px 0;
        display: flex;
        justify-content: center;
    }
}

.centrar {
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

}

.text-wright{
    text-align: -webkit-right;
}