<div class="max-w-5xl mx-0 p-6 bg-white rounded-lg shadow-md">


    <h1 class="font-bold mt-4">Nivel Educativo</h1>
    <div class="relative border-b-2 border-gray-200 py-1 bg-gray-200 mt-4">
        <span class="relative px-2 -translate-y-1/2 transform top-1/2 font-bold">
            Datos sobre estudios realizados
        </span>
    </div>
    <div [formGroup]="formDatosFormacion">
        <div class="relative rounded-md shadow-sm mt-5">
            <label class="block text-gray-700 mb-2">Nivel de educación actual</label>
            <select id="searchNivelEstudio" formControlName="frmNivelEstudio"
                class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                <option [ngValue]="null" disabled [selected]="!formDatosFormacion.controls['frmNivelEstudio'].value">
                    Nivel de Educación Actual</option>
                <option *ngFor="let nivelEdu of opcionesNivelEducativo" [value]="nivelEdu.idParametros">
                    {{ nivelEdu.nombre }}
                </option>
            </select>
        </div>
        <div class="mt-5">
            <label class="block text-gray-700 mb-1">Nombre de la institucion Educativa</label>
            <input type="text"
                class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                formControlName="frmInstEduca">
        </div>
        <div class="relative rounded-md shadow-sm mt-5">
            <label class="block text-gray-700 mb-1">Año de graduación</label>
            <select id="searchAnioGraduacion" formControlName="frmAnioGraduacion"
                class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                <option [ngValue]="null" disabled [selected]="!formDatosFormacion.controls['frmAnioGraduacion'].value">
                    Año de Graduación
                </option>
                <option *ngFor="let anio of yearsGrad" [value]="anio">{{ anio }}</option>
            </select>
        </div>

        <div class="flex justify-end mt-6">
            <app-btn class="botonApariencia flex" type="submit" color="mezclado" (click)="grabarDatosFormacion()">
                Guardar Cambios
            </app-btn>
        </div>
    </div>