<div class="w-full">
  <!-- <h1 class="text-lg font-bold mb-4">
    <fa-icon [icon]="faClock"></fa-icon> Recently viewed
  </h1> -->
  <div class="grid grid-cols-4 gap-4">
    <a
      routerLink="/app/board/1"
      class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >Board 190</a
    >
    <a
      routerLink="/app/board/1"
      class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >Board 1</a
    >
    <a
      routerLink="/app/board/1"
      class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >Board 1</a
    >
    <a
      routerLink="/app/board/1"
      class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >Board 1</a
    >
  </div>
</div>
