<div class="info-container flex items-center mt-2">
    <div *ngFor="let button of buttons; let i = index" class="flex justify-start mt-6">
        <app-btn class="botonApariencia flex mr-4" type="submit" [color]="activeButton === i ? 'mezclado' : 'white'"
            (click)="setActive(i)">
            {{ button.label }}
        </app-btn>
    </div>
</div>
<div class="mt-4 info-container flex cursor-pointer">
    <div  *ngIf="ListaProgramacines.length>0" class="w-2/6 mr-4">
        <div *ngFor="let prog of ListaProgramacines" class="">
            <div (click)="selectProg(prog)"class="p-4 bg-white shadow-lg h-full">
                <div class="info-container flex justify-between items-center">
                    <div>
                        <div class="text-lg font-bold text-xl mr-4">{{prog.fecha.split("-")[2]}}</div>
                        <div class="text-lg text-xs mr-4">{{getMes(prog.fecha)}}</div>
                    </div>

                    <div class="mr-12">
                        <div class="text-sm font-semibold"> {{prog.nombre}}</div>
                        <div class="text-gray-600 text-xs"> {{formatoFecha(prog.fecha)}} de {{prog.horaInicio}} -
                            {{prog.horaFin}}</div>
                        <div class="text-gray-600 text-xs">CAM {{prog.nombreCam}}</div>
                        <div class="text-indigo-500 text-xs">{{prog.distrito}}</div>
                    </div>
                    <div class="mr-12">
                        <div *ngIf="!imagenFoto" class="my-1 imagen w-24 h-24 border-b-2 bg-gray-400"></div>
                        <div class="text-gray-600 text-xs ml-4">{{prog.modalidad}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedProgramacion" class="w-4/6 mr-4">
        <div class="p-4 bg-white shadow-lg">
            <div class="info-container flex items-center">
                <div>
                    <div class="text-lg font-bold text-xl mr-4">{{selectedProgramacion.fecha.split("-")[2]}}</div>
                    <div class="text-lg text-xs mr-4">{{getMes(selectedProgramacion.fecha)}}</div>
                </div>
                <div>
                    <div class="mr-1">
                        <div class="text-sm font-semibold"> TALLER DE {{selectedProgramacion.nombre}}</div>

                        <div class="text-indigo-500 text-xs">{{selectedProgramacion.distrito}}</div>
                    </div>
                </div>
            </div>
            <div class="info-container flex items-center">
                <div class="mr-12">
                    <div *ngIf="!imagenFoto" class="my-1 imagen w-32 h-32 border-b-2 bg-gray-400"></div>
                </div>
                <div class="mr-12">
                    <div *ngIf="!imagenFoto" class="my-1 imagen w-32 h-32 border-b-2 bg-gray-400"></div>
                </div>
                <div class="mr-12">
                    <div *ngIf="!imagenFoto" class="my-1 imagen w-32 h-32 border-b-2 bg-gray-400"></div>
                </div>
                <div class="mr-12">
                    <div *ngIf="!imagenFoto" class="my-1 imagen w-32 h-32 border-b-2 bg-gray-400"></div>
                </div>
            </div>
            <div>
                <div class="text-sm font-semibold mt-5">Detalles</div>
                <div class="text-gray-600 text-xs mt-4"> {{formatoFecha(selectedProgramacion.fecha)}} de
                    {{selectedProgramacion.horaInicio}} -
                    {{selectedProgramacion.horaFin}}</div>
                <div class="text-gray-600 text-xs mt-4">CAM {{selectedProgramacion.nombreCam}}</div>
                <div class="info-container flex justify-between items-center">
                    <div class="text-gray-600 text-xs mt-4">{{selectedProgramacion.ubicacion}}</div>
                    <div class="text-gray-600 text-xs mt-4">{{selectedProgramacion.modalidad}}</div>
                </div>
            </div>
        </div>
    </div>
</div>