.iconoEscalaGris{
    filter: invert(50%) sepia(27%) saturate(855%) hue-rotate(179deg) brightness(42%) contrast(30%);
}

.programacionSelected{
    color: white;
    background: linear-gradient(52.75deg, #057EC9 34.02%, #0160AE 80.1%);
}