<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!dataContrato">
    <div class="text-gray-600 w-full text-center">
        <span class="py-1 font-bold text-2xl">
            <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
            Obteniendo datos...
        </span>
    </div>
</div>
<div *ngIf="dataContrato">
    <esp-opciones-botones [rutaRegreso]="'../..'" [listOpciones]="opcionesBotones" (firstFunction)="goToProgramacion()"></esp-opciones-botones>
    <div class="bg-white botonApariencia pl-[15px] pr-2.5 pt-2.5 pb-5 flex flex-col gap-2.5">
        <div class="flex flex-row gap-2.5">
            <div class="bg-[#FAFAFA] flex flex-col items-end gap-2.5 py-[5px] px-2.5 w-1/2 botonApariencia">
                <span class="font-bold">Orden de Compra</span>
                <span>Periodo</span>
                <span>Estado</span>
                <span class="font-bold">Proveedor</span>
                <span class="font-bold">{{dataContrato.datosContrato.tipoDoc}}</span>
                <span>Registrado desde</span>
                <span>Fecha de Nacimiento</span>
                <span>Género</span>
            </div>
            <div class="flex flex-col gap-2.5 py-[5px] px-[5px]">
                <span class="text-[var(--color-CAM)] font-bold">{{dataContrato.datosContrato.numOC}}</span>
                <span>Del {{dataContrato.datosContrato.fechInicio | date:'dd/MM/yyyy'}} al {{dataContrato.datosContrato.fechFin | date:'dd/MM/yyyy'}}</span>
                <span>{{dataContrato.datosContrato.estadoContrato | titlecase}}</span>
                <span class="text-[var(--color-CAM)] font-bold">{{dataContrato.datosContrato.nombreProveedor | titlecase}}</span>
                <span>{{dataContrato.datosContrato.numDoc}}</span>
                <span>{{dataContrato.datosContrato.fechaRegistro | date:'dd/MM/yyyy'}}</span>
                <span>{{dataContrato.datosContrato.fechaNacimiento ? (dataContrato.datosContrato.fechaNacimiento | date:'dd/MM/yyyy') : '-'}}</span>
                <span>{{dataContrato.datosContrato.genero ? (dataContrato.datosContrato.genero | titlecase) : '-'}}</span>
            </div>
        </div>
        <div>
            <esp-menu-opciones [links]="rutasContrato" [setColorTab]="'var(--color-CAM)'" [showBottomLine]="false">
            </esp-menu-opciones>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>