<div  class="botonApariencia">
    <div class="px-4 py-3 bg-cam flex justify-between text-white rounded-t-md">
        <span>Nuevo Registro</span>
        <button (click)="onClose()"><esp-icon icon="faClose"></esp-icon></button>
    </div>
    
    <div class="px-4 py-3 bg-white rounded-b-md flex flex-col gap-y-2.5 text-[#64748B]">
        <div class="flex">
            <div class="iconoCita">
                <img src="assets/svg/icon-cita-calendar.svg" alt="">
                <span class="text-Name !font-medium">Programación</span>
            </div>
        </div>
        <div class="flex flex-col gap-y-2 text-sm text-[var(--color-black-alt)]">
            <div class="flex flex-row gap-x-3">
                <div class="grow flex flex-col gap-y-1">
                    <span>Servicio <b class="text-red-500">*</b></span>
                    <input [formControl]="ctrlServicio" type="text" [matAutocomplete]="servicios" class="inputTextoDialog focusCampo" placeholder="Buscar Servicio">
                    <mat-autocomplete #servicios="matAutocomplete" [displayWith]="displayServicioFiltered" (optionSelected)="onSelectedServicioSelect($event)">
                        <ng-container *ngFor="let unidades of listFiltered, index as i">
                            <mat-optgroup [label]=" (unidades.idUnid == data.serviciosContrato.idUnidOpeCam ? 'CAM ' : 'CIRAM ') + (unidades.nomUnid | titlecase)" class="font-bold">
                                <mat-option *ngFor="let option of unidades.servicios" [value]="option">
                                    {{option.nombreServicio | titlecase}}
                                </mat-option>
                            </mat-optgroup>
                        </ng-container>
                    </mat-autocomplete>
                    <div *ngIf="ctrlServicio.touched">
                        <div *ngIf="ctrlServicio.invalid">
                            <p *ngIf="ctrlServicio.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                Servicio asignado requerido
                            </p>
                        </div>
                        <div *ngIf="ctrlServicio.value">
                            <p *ngIf="isNotObject(ctrlServicio.value)" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                Debe seleccionar una de las opciones listadas
                            </p>
                            <p *ngIf="!isNotObject(ctrlServicio.value) ? comprobarSimilaridadSemana(asAny(ctrlServicio.value).idServicio).validacion : false" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                {{comprobarSimilaridadSemana(asAny(ctrlServicio.value).idServicio).message}}
                            </p>
                            <p *ngIf="!isNotObject(ctrlServicio.value) ? comprobarCantidadSesiones(asAny(ctrlServicio.value).idServicio) == 3 : false" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                El servicio alcanzó su limite de sesiones en la semana (3 sesiones)
                            </p>
                            <p *ngIf="!isNotObject(ctrlServicio.value) ? comprobarLimiteSesiones(asAny(ctrlServicio.value).idServicio) >= (data.dataContrato.nroEntregables*12) : false"  class="font-medium text-red-500 text-xs mt-1 ml-1">
                                El servicio alcanzó su limite de sesiones a contratar (máx. {{data.dataContrato.nroEntregables*12}} sesiones) 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-y-1 w-[168px]">
                    <span>Tipo Evento <b class="text-red-500">*</b></span>
                    <select [formControl]="ctrlTipo" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]">
                        <option [value]="null" disabled selected></option>
                        <ng-container *ngFor="let opcion of listParamTipo, index as i">
                            <option [value]="opcion.idParametros">{{opcion.nombre | titlecase}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="shrink-0 w-[50px] mt-6">
                    <div class="bg-[#F5F8FA] w-full h-[40px] flex flex-col items-center" *ngIf="dataTipo">
                        <span>{{dataTipo.valor1 ? dataTipo.valor1 : 60}}</span>
                        <span>min</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-row gap-x-3" [formGroup]="formSchedule">
                <div class="flex w-full flex-col gap-y-1">
                    <span>Fecha</span>
                    <select formControlName="frmFecha" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                        <option value="" disabled selected>Seleccione una Fecha</option>
                        <ng-container *ngFor="let opcion of listaHorariosFiltrados, index as i">
                            <option [value]="opcion.diaFecha">{{(opcion.diaFecha | date:'EEEE dd') | titlecase}} de {{(opcion.diaFecha | date:'MMMM') | titlecase}} de {{opcion.diaFecha | date:'yyyy'}}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="formSchedule.controls.frmFecha.touched && formSchedule.controls.frmFecha.invalid">
                        <p *ngIf="formSchedule.controls.frmFecha.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                            Fecha de asignación requerida
                        </p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex flex-row gap-3">
                        <div class="flex flex-col gap-y-1 w-[168px]">
                            <span>Desde</span>
                            <select formControlName="frmInicioHorario" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                                <option [value]="null" disabled selected></option>
                                <ng-container *ngFor="let opcion of listaRangosHorariosFiltrados, index as i">
                                    <option [value]="opcion.horaSeleccionable">{{opcion.horaSeleccionable | date:'hh:mm aa'}}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="formSchedule.controls.frmInicioHorario.touched && formSchedule.controls.frmInicioHorario.invalid">
                                <p *ngIf="formSchedule.controls.frmInicioHorario.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                    Hora de inicio requerida
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 w-[168px]">
                            <span>Hasta</span>
                            <select formControlName="frmFinHorario" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                                <option [value]="null" disabled selected></option>
                                <ng-container *ngFor="let opcion of listaLimitesHorarios, index as i">
                                    <option [value]="opcion.horaFin">{{opcion.horaFin | date:'hh:mm aa'}}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="formSchedule.controls.frmFinHorario.touched && formSchedule.controls.frmFinHorario.invalid">
                                <p *ngIf="formSchedule.controls.frmFinHorario.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                    Hora de fin requerida
                                </p>
                            </div>
                        </div>
                        <div class="shrink-0 w-[50px] mt-6">
                            <div class="bg-[#F5F8FA] w-full h-[40px] flex flex-col items-center" *ngIf="horarioFinElegido">
                                <span>{{horarioFinElegido.cantidadCupos}}</span>
                                <span>Ses</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-end gap-x-3">
                <div class="grow flex flex-col gap-y-1">
                    <span>Ubicación</span>
                    <input type="text" [formControl]="ctrlDireccion" class="inputTextoDialog focusCampo" placeholder="Lugar donde se llevara el evento">
                    <div *ngIf="ctrlDireccion.touched && ctrlDireccion.invalid">
                        <p *ngIf="ctrlDireccion.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                            Dirección requerida
                        </p>
                    </div>
                </div>
                <div class="w-[50px] h-[40px] flex items-center justify-center shrink-0">
                    <img src="assets/svg/icon-gray-location.svg" alt="">
                </div>
            </div>
            <div class="flex pt-2">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" [formControl]="ctrlPersonalizado" class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-[var(--color-CAM)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-cam"></div>
                    <span class="ms-3 text-sm font-medium">Programar para CIRAM</span>
                </label>
            </div>
            <div class="py-2 flex flex-col text-[#344563]" *ngIf="ctrlPersonalizado.value">
                <div class="grow flex flex-col gap-y-1">
                    <span>CIRAM</span>
                    <input [formControl]="ctrlCiram" type="text" [matAutocomplete]="ciram" class="inputTextoDialog focusCampo" placeholder="Buscar CIRAM">
                    <mat-autocomplete #ciram="matAutocomplete" [displayWith]="displayCiramFiltered" (optionSelected)="onSelectedCiramSelect($event)">
                        <mat-option *ngFor="let option of getOptionsFilteresCiram()" [value]="option">
                            {{option.nombre | titlecase}}
                        </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="ctrlPersonalizado.value">
                        <div *ngIf="ctrlCiram.touched">
                            <div *ngIf="ctrlCiram.invalid">
                                <p *ngIf="ctrlCiram.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                    Ciram asignado requerido
                                </p>
                            </div>
                            <div *ngIf="ctrlCiram.value">
                                <p *ngIf="isNotObject(ctrlCiram.value)" class="font-medium text-red-500 text-xs mt-1 ml-1">
                                    Debe seleccionar una de las opciones listadas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center gap-x-5 pt-5 border-t-[#D9D9D9] border-t-[0.0125rem] border-solid">
            <div class="w-full flex justify-end">
                <div class="relative rounded-md shadow-sm botonApariencia">
                    <app-btn color="white" (click)="onClose()">Cancelar
                    </app-btn>
                </div>
            </div>
            <div class="w-full flex">
                <div class="relative rounded-md shadow-sm botonApariencia">
                    <app-btn color="mezclado" (click)="onSave()" [loading]="status === 'loading'">Guardar
                    </app-btn>
                </div>
            </div>
        </div>
    </div>
</div>