<div  class="botonApariencia">
    <div class="px-4 py-3 bg-cam flex justify-between text-white rounded-t-md">
        <span>Nuevo Registro</span>
        <button (click)="onClose()"><esp-icon icon="faClose"></esp-icon></button>
    </div>
    
    <div class="px-4 py-3 bg-white rounded-b-md flex flex-col gap-y-2.5 text-[#64748B]" [formGroup]="formSchedule">
        <div class="flex">
            <div class="iconoCita">
                <img src="assets/svg/icon-cita-calendar.svg" alt="">
                <span class="text-Name !font-medium">Programación</span>
            </div>
        </div>
        <div class="flex flex-col gap-y-2 text-sm text-[var(--color-black-alt)]">
            <div class="flex flex-row items-end gap-x-3">
                <div class="grow flex flex-col gap-y-1">
                    <span>Servicio <b class="text-red-500">*</b></span>
                    <!-- <input [formControl]="ctrlActividad" type="text" [matAutocomplete]="actividad" class="inputTextoDialog focusCampo" placeholder="Buscar Actividad"> -->
                    <input type="text" class="inputTextoDialog focusCampo" placeholder="Buscar Servicio">
                    <!-- <mat-autocomplete #actividad="matAutocomplete" [displayWith]="displayFnActividad" (optionSelected)="onSelectionChangeActividad($event)">
                        <mat-option *ngFor="let option of filteredOptionsActividad | async" [value]="option">
                            {{option.actividad | titlecase}}
                        </mat-option>
                    </mat-autocomplete> -->
                </div>
                <div class="flex flex-col gap-y-1 w-[168px]">
                    <span>Tipo Evento <b class="text-red-500">*</b></span>
                    <select class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]">
                        <option [value]="null" disabled selected></option>
                        <ng-container *ngFor="let opcion of listParamTipo, index as i">
                            <option [value]="opcion.idParametros">{{opcion.nombre | titlecase}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="bg-[#F5F8FA] w-[50px] h-[40px] flex flex-col items-center shrink-0">
                    <span>{{45}}</span>
                    <span>min</span>
                </div>
            </div>
            <div class="flex flex-row gap-x-3">
                <div class="flex w-full flex-col gap-y-1">
                    <span>Fecha</span>
                    <select formControlName="frmFecha" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                        <option value="" disabled selected>Seleccione una Fecha</option>
                        <ng-container *ngFor="let opcion of listaHorariosFiltrados, index as i">
                            <option [value]="opcion.diaFecha">{{(opcion.diaFecha | date:'EEEE dd') | titlecase}} de {{(opcion.diaFecha | date:'MMMM') | titlecase}} de {{opcion.diaFecha | date:'yyyy'}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="w-full">
                    <div class="flex flex-row gap-3 items-end">
                        <div class="flex w-full flex-col gap-y-1 w-[168px]">
                            <span>Desde</span>
                            <select formControlName="frmInicioHorario" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                                <option [value]="null" disabled selected></option>
                                <ng-container *ngFor="let opcion of listaRangosHorariosFiltrados, index as i">
                                    <option [value]="opcion.horaSeleccionable">{{opcion.horaSeleccionable | date:'hh:mm aa'}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="flex w-full flex-col gap-y-1 w-[168px]">
                            <span>Hasta</span>
                            <select formControlName="frmFinHorario" class="bg-slate-50 !pr-3 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[40px]" [ngClass]="ctrlPersonalizado.value || data.horarioFijo ? 'bg-[#DBDADE4D]' : null">
                                <option [value]="null" disabled selected></option>
                                <ng-container *ngFor="let opcion of listaLimitesHorarios, index as i">
                                    <option [value]="opcion.horaFin">{{opcion.horaFin | date:'hh:mm aa'}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="bg-[#F5F8FA] w-[50px] h-[40px] flex flex-col items-center shrink-0">
                            <span>{{2}}</span>
                            <span>Ses</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-end gap-x-3">
                <div class="grow flex flex-col gap-y-1">
                    <span>Ubicación</span>
                    <input type="text" class="inputTextoDialog focusCampo" placeholder="Lugar donde se llevara el evento">
                </div>
                <div class="w-[50px] h-[40px] flex items-center justify-center shrink-0">
                    <img src="assets/svg/icon-gray-location.svg" alt="">
                </div>
            </div>
            <div class="flex pt-2">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" [formControl]="ctrlPersonalizado" class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-[var(--color-CAM)] rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-cam"></div>
                    <span class="ms-3 text-sm font-medium">Programar para CIRAM</span>
                </label>
            </div>
            <div class="py-2 flex flex-col text-[#344563]" *ngIf="ctrlPersonalizado.value">
                <div class="grow flex flex-col gap-y-1">
                    <span>CIRAM</span>
                    <input type="text" class="inputTextoDialog focusCampo" placeholder="Buscar CIRAM">
                </div>
                <!-- <span class="font-bold">Se repite el</span>
                <div class="flex flex-col leading-[40px] max-h-[280px] overflow-auto">
                    <div class="flex flex-col" *ngFor="let diaSemana of data.semanaElegida">
                        <div class="flex flex-row gap-2.5" *ngIf="getControlDia(diaSemana.getDay()).value.length == 0">
                            <div class="w-full flex flex-row gap-2 px-3">
                                <span class="w-20">{{(diaSemana | date: 'EEEE') | titlecase}}</span>
                                <div class="flex flex-row items-center grow">
                                    <span>No disponible</span>
                                </div>
                                <div class="flex flex-row gap-3 items-center shrink-0">
                                    <img class="cursor-pointer" (click)="addControlToDate(diaSemana)" src="assets/svg/icon-plus-circle-outline.svg">
                                </div>
                            </div>
                            <div class="w-full flex flex-row justify-end items-center">
                                <div class="bg-[#FAFAFA] flex flex-row gap-2.5 px-2.5 leading-5">
                                    <span>-</span>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="getControlDia(diaSemana.getDay()).value.length != 0" [formArrayName]="diaSemana.getDay()">
                            <ng-container *ngFor="let dataForm of getControlDia(diaSemana.getDay()).controls, index as i">
                                <div class="flex flex-row gap-2.5 h-10" [formGroup]="getFormGroup(dataForm)">
                                    <div class="w-full flex flex-row gap-2 px-3">
                                        <div class="w-20">
                                            <span *ngIf="i == 0">{{(diaSemana | date: 'EEEE') | titlecase}}</span>
                                        </div>
                                        <div class="flex flex-row items-center grow bg-[#F5F8FA] rounded px-[18px] gap-2.5">
                                            <select formControlName="horaInicio" class="selectSmall">
                                                <option [value]="null" disabled selected></option>
                                                <ng-container *ngFor="let opcion of listaRangosHorariosFiltrados, index as i">
                                                    <option [value]="opcion.horaSeleccionable">{{opcion.horaSeleccionable | date:'hh:mm aa'}}</option>
                                                </ng-container>
                                            </select>
                                            <span>-</span>
                                            <span class="shrink-0 w-[76px]">{{dataForm.value['horaFin'] | date:'hh:mm aa'}}</span>
                                        </div>
                                        <div class="flex flex-row gap-3 items-center shrink-0">
                                            <img class="cursor-pointer" (click)="deleteElement(diaSemana.getDay(), i)" src="assets/svg/icon-restrict-delete.svg">
                                            <div class="w-6">
                                                <img class="cursor-pointer" *ngIf="i == 0" (click)="addControlToDate(diaSemana)" src="assets/svg/icon-plus-circle-outline.svg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full flex flex-row justify-end items-center leading-5">
                                        <div class="bg-[#FAFAFA] flex flex-row gap-2.5 px-2.5">
                                            <input formControlName="cantCupos" class="contadorNumber" type="number" min="1" max="100" pattern="\d*">
                                            <span>Cupos</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="flex justify-center gap-x-5 pt-5 border-t-[#D9D9D9] border-t-[0.0125rem] border-solid">
            <div class="w-full flex justify-end">
                <div class="relative rounded-md shadow-sm botonApariencia">
                    <app-btn color="white" (click)="onClose()">Cancelar
                    </app-btn>
                </div>
            </div>
            <div class="w-full flex">
                <div class="relative rounded-md shadow-sm botonApariencia">
                    <app-btn color="mezclado" (click)="onSave()">Guardar
                    </app-btn>
                </div>
            </div>
        </div>
    </div>
</div>