<div class="botonApariencia">
  <div class="px-4 py-3 bg-cam flex justify-between text-white rounded-t-md">
    <span>Editar Programa</span>
    <button (click)="onClose()"><esp-icon icon="faClose"></esp-icon></button>
  </div>

  <form [formGroup]="programaForm" (ngSubmit)="updatePrograma()" class="bg-white flex flex-col text-[#37474F] p-3">
    <div class="py-4">
      <div class="w-full flex flex-col gap-4">


      

        <div class="flex flex-col">
          <div class="relative">
            <div class="relative">
              <input
                type="text"
                name="idPrograma"
                formControlName="idPrograma"
                class="inputTextoDialog focusCampo !h-10 pr-7"
                id="idPrograma"
                espEstiloInput
              />
              <label espEstiloLabel for="idPrograma">ID Programa</label>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="relative">
            <div class="relative">
              <input
                type="text"
                name="nombrePrograma"
                formControlName="nombrePrograma"
                class="inputTextoDialog focusCampo !h-10 pr-7"
                id="nombrePrograma"
                espEstiloInput
                [ngClass]="{ 'border-red-500': programaForm.get('nombrePrograma')?.invalid && programaForm.get('nombrePrograma')?.touched }"
              />
              <label espEstiloLabel for="nombrePrograma">Nombre Programa</label>
            </div>

            <div *ngIf="programaForm.get('nombrePrograma')?.invalid && programaForm.get('nombrePrograma')?.touched">
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                El nombre del programa es obligatorio y no debe exceder 50 caracteres.
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="relative">
            <div class="relative">
              <input
                type="text"
                name="fechaCreacion"
                formControlName="fechaCreacion"
                class="inputTextoDialog focusCampo !h-10 pr-7"
                id="fechaCreacion"
                espEstiloInput
              />
              <label espEstiloLabel for="fechaCreacion">Fecha de Creación</label>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="relative">
            <div class="relative">
              <input
                type="text"
                name="fechaModificacion"
                formControlName="fechaModificacion"
                class="inputTextoDialog focusCampo !h-10 pr-7"
                id="fechaModificacion"
                espEstiloInput
              />
              <label espEstiloLabel for="fechaModificacion">Fecha de Modificación</label>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="relative">
            <div class="relative">
              <select
                name="activo"
                formControlName="activo"
                class="inputTextoDialog focusCampo !h-10 pr-7"
                id="activo"
                espEstiloInput
              >
                <option [value]="1">Sí</option>
                <option [value]="0">No</option>
              </select>
              <label espEstiloLabel for="activo">Activo</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-end gap-4 pt-6 pb-3 px-4 border-t border-[#F4F5F5]">
      <app-btn color="white" (click)="onClose()">Cancelar</app-btn>
      <app-btn type="submit" (click)="updatePrograma()" color="mezclado" [disabled]="isLoading">
        <span *ngIf="isLoading">Guardando...</span>
        <span *ngIf="!isLoading">Guardar Cambios</span>
      </app-btn>
    </div>
  </form>
</div>
