<div class="p-4">
<div class="div-mat-tab ">
  <div class="d-flex bg-ligth2 p-2 w-100">
    <div class="w-50 justify-content-start">
        <div class="d-flex">
        <a routerLink="/cams/redes" class="text-primary2 decorator-none"> 
        <span class="material-symbols-outlined text-s-15 pt-2">
            keyboard_backspace 
        </span>
        <span class="text-w-fine text-w-semibold text-s-15 pt-2">
            REGRESAR 
        </span>
        </a>
      </div>
    </div>
    <div class="w-50 d-flex justify-content-end">
      <div class="">
        <a routerLink="/cams/redes/edit/{{id}}" class="text-primary2 decorator-none">
        <span class="text-w-fine text-w-semibold text-s-15 pt-2">
            EDITAR UNIDAD OPERATIVA 
        </span>
        <span class="material-symbols-outlined text-s-15 pt-2">
            edit 
        </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="cards-contents d-flex w-100">
  <mat-card class="w-30 mt-3 ">
    <div class="d-block text-secondary ">
      <div class="">
        <div class="justify-content-center d-flex text">
          <span class="material-symbols-outlined text-s-5r">
            home_app_logo
          </span>
        </div>
        <div
        *ngIf="this.red?.nombre"
          class="justify-content-center d-flex text-s-18 text-uppercase text-w-semibold"
        >
        {{this.red.nombre}}
        </div>
        <div
          *ngIf="this.red?.redasiscod"
          class="mb-4 mt-1 justify-content-center d-flex text-s-15 text-uppercase text-w-semibold"
        >
          codigo {{this.red.redasiscod}} 
        </div>
      </div>
      <div class=" ">
        <div class="d-flex p-1"
          *ngIf="this.red?.tipo"
         > 
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Tipo</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{this.red.tipo === '1' ? 'NACIONAL': '' }}
            {{this.red.tipo === '2' ? 'PROVINCIA': '' }}
          </div>
        </div>
        <div class="d-flex bg-ligth2 p-1"
          *ngIf="this.red?.region"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Region</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.red.region}}</div>
        </div>
        <div class="d-flex p-1"
          *ngIf="this.red?.estado"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">estado</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.red.estado}}</div>
        </div>
        
      </div>
    </div>
  </mat-card>

<mat-card class="w-70 ml-30 mt-3">
    <div class="d-flex">

    <span class="mt-2 d-flex text-uppercase text-secondary text-s-18 text-w-semibold">
      historial&nbsp;&nbsp; 
    </span>
  <div class="d-block ">
    <div class="d-flex  " *ngIf="subBreadcrum1.url">
        <span class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2">
          <a routerLink="{{ subBreadcrum1.url }}" class="text-secondary decorator-none"> {{subBreadcrum1.title}}</a>
        </span>
      </div>

      <div class="d-flex pb-2" *ngIf="subBreadcrum2.url">
        <span class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2 ml-5">
          <a routerLink="{{ subBreadcrum2.url }}" class="text-secondary decorator-none"> {{subBreadcrum2.title}} </a>
        </span>
      </div>

      <div class="d-flex pb-2" *ngIf="subBreadcrum3.url">
        <span class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-secondary text-w-fine text-style-cursiva text-s-10 pt-2 ml-5">
          <a routerLink="{{ subBreadcrum3.url }}" class="text-secondary decorator-none"> {{subBreadcrum3.title}} </a>
        </span>
      </div>

    </div>

    </div>

    <div class="p-2">

    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
        mat-tab-link
        *ngFor="let link of subLinks"
        (click)="subActiveTab = link.url"
        routerLink="{{ link.url }}"
        [active]="subActiveTab == link.url"
      >
        {{ link.title }} 
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
    <router-outlet class=""></router-outlet>

    </div>
  </mat-card>
</div>

</div>