<div class="max-w-5xl mx-0 p-6 bg-white rounded-lg shadow-md pb-2">
    <h2 class="text-xl font-semibold mb-2">Perfil y visibilidad</h2>
    <div class="bg-[#057EC9] p-4 flex items-center justify-between" style="height: 180px;">
        <div class="flex items-center">
            <!-- Aquí puede ir contenido adicional si es necesario -->
        </div>
    </div>
    <div class="flex justify-end -mt-20 mr-10">
        <!--<input *ngIf="!imagenFoto" type="file" class="mt-2 p-3 block w-full border rounded">-->
        <div *ngIf="!imagenFoto" class="my-1 imagen w-32 h-32 rounded-full border-b-2 bg-gray-400"></div>
        <div *ngIf="!imagenFoto"
            class="my-1 w-14 h-14 mt-20 -ml-12 rounded-full border-b-2 flex items-center justify-center cursor-pointer">
            <div *ngIf="!imagenFoto" (click)="isImageFotoUpdate ? null : fileImagenFoto.click()"
                class="w-full h-full rounded-full bg-cam">
                <input hidden #fileImagenFoto type="file" name="Upload" accept="image/jpeg,image/png"
                    (change)="onChangeFileFoto(fileImagenFoto.files)">
                <div style="width: 35px; height: 35px;"
                    class="my-1 ml-3 mt-2 border-b-2 flex items-center justify-center"><img class="select-none"
                        src="assets/svg/camera.svg" /></div>

            </div>
        </div>
        <img *ngIf="imagenFoto" [src]="'data:image/JPEG;base64,' + imagenFoto"
            class="my-1 imagen w-32 h-32 rounded-full">
    </div>
    <h1 class="font-bold mt-4">{{nombreCompleto | capitalizar}}</h1>
    <div class="flex items-center justify-start space-x-4">
        <h1>La información básica de cada usuario sirve para poder identificar las acciones dentro de SCAM.</h1>
        <h1 class="text-[#057EC9] hover:text-blue-700 cursor-pointer">Más información</h1>
    </div>
    <div class="relative border-b-2 border-gray-200 py-1 bg-gray-200 mt-4">
        <span class="relative px-2 -translate-y-1/2 transform top-1/2 font-bold">
            Datos personales
        </span>
    </div>
    <div [formGroup]="formDatosPersonales">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
            <div class="">
                <label class="text-gray-700">Nombres</label>
                <input type="text" name="nombres"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmNombres">
            </div>
            <div>
                <label class="block text-gray-700">Apellidos</label>
                <input type="text"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmApellidos">
                <div
                    *ngIf="formDatosPersonales.controls.frmApellidos.touched && formDatosPersonales.controls.frmApellidos.invalid">
                    <p *ngIf="formDatosPersonales.controls.frmApellidos.hasError('pattern')"
                        class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Apellidos solo puede contar con Letras y Espacios
                    </p>
                </div>
            </div>
            <div>
                <label class="block text-gray-700">Celular</label>
                <input type="text"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmCelular" (keydown)="limitLength($event)" inputmode="numeric" pattern="[0-9]*">
            </div>
            <div>
                <label class="block text-gray-700">Correo electrónico</label>
                <input type="email"
                    class="space-x-5 border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmCorreo">
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <div class="w-4/6 my-1 mr-4">
                <label class="block text-gray-700">Dirección de residencia</label>
                <input type="text"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmDireccion">
            </div>
            <div class="w-2/6 my-1">
                <label class="block text-gray-700">Distrito</label>
                <input type="text" [formControl]="distrControl" [matAutocomplete]="auto" aria-expanded="true"
                    aria-owns="mat-autocomplete-0" class="inputTextoDialog focusCampo"
                    placeholder="Distrito - Provincia - Departamento">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnUbicacion"
                    (optionSelected)="onSelectionChangeJefe($event)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nombreUbicacion | titlecase}}
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="valid==true">
                    <p *ngIf="valid==true" class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Distrito es obligatorio
                    </p>
                </div>
            </div>
        </div>
        <div class="info-container flex items-center mt-5">

            <div class="w-1/3 mr-4">
                <label class="block text-gray-700 mb-1">Fecha Nacimiento</label>
                <mat-form-field style="position: absolute; visibility:hidden;">
                    <input #input matInput [matDatepicker]="picker">
                    <mat-datepicker #picker (closed)="actualizarDate(input.value, 1)"></mat-datepicker>
                </mat-form-field>
                <input type="text" name="search" formControlName="frmFechNacimiento" readonly (click)="picker.open()"
                    class="inputTextoDialog focusCampo !h-10 pr-7" placeholder="Fecha de Nacimiento">
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 z-10 !h-9 pointer-events-none">
                    <span class="text-gray-500 sm:text-sm">
                        <!--<img src="assets/svg/icon-calendar-simple.svg">-->
                    </span>
                </div>
                <div
                    *ngIf="formDatosPersonales.controls.frmFechNacimiento.touched && formDatosPersonales.controls.frmFechNacimiento.invalid">
                    <p *ngIf="formDatosPersonales.controls.frmFechNacimiento.hasError('required')"
                        class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Fecha Nacimiento es obligatorio
                    </p>
                </div>
            </div>
            <div class="w-1/3 my-1 mr-4">
                <div class="relative rounded-md shadow-sm">
                    <label class="block text-gray-700 mb-1">Estado Civil</label>
                    <select id="searchEstadoCivil" formControlName="frmEstadoCivil"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                        <option value="" disabled selected>Estado Civil</option>
                        <option *ngFor="let estadoCivil of opcionesEstadoCivil" [value]='estadoCivil.idParametros'>{{
                            estadoCivil.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="w-1/3 my-1">
                <div class="relative rounded-md shadow-sm">
                    <label class="block text-gray-700 mb-1">Genero</label>
                    <select id="searchGenero" formControlName="frmGenero"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                        <option value="" disabled selected>Genero</option>
                        <option *ngFor="let genero of opcionesGenero" [value]='genero.idParametros'>{{ genero.nombre }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <div class="w-1/3 my-1 mr-4">
                <div class="relative rounded-md shadow-sm">
                    <input type="text" name="search" [formControl]="frmCtrlNacionalidad"
                        [matAutocomplete]="uniNacionalidad"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                        placeholder="Nacionalidad">
                    <mat-autocomplete #uniNacionalidad="matAutocomplete" [displayWith]="displayFnNacionalidad"
                        (optionSelected)="onSelectionChangeNacional($event)">
                        <mat-option *ngFor="let option of opcionesNacionalidad" [value]="option">
                            {{option.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <!--<div *ngIf="frmCtrlUnidadOperativa.touched && frmCtrlUnidadOperativa.invalid">
                  <p *ngIf="frmCtrlUnidadOperativa.hasError('required')"
                    class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Seleccione una unidad operativa
                  </p>
                </div>-->
            </div>
            <div class="w-1/3 my-1 mr-4">
                <input type="text"
                    class="space-x-5 border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmTipoDoc" placeholder="Documento Nacional de Identidad *">
            </div>

            <div class="w-1/3 my-1">
                <input type="text"
                    class="space-x-5 border bg-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmNumDoc">
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <div class="w-1/3 my-1 mr-4">
                <div>
                    <label class="block text-gray-700 mb-1">Profesión</label>
                    <div class="relative rounded-md shadow-sm">
                        <select id="searchProfesion" formControlName="frmProfesion"
                            class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                            <option value="" disabled selected>Profesión</option>
                            <option *ngFor="let profesion of opcionesProfesion" [value]='profesion.idProfesion'>{{
                                profesion.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div
                    *ngIf="formDatosPersonales.controls.frmProfesion.touched && formDatosPersonales.controls.frmProfesion.invalid">
                    <p *ngIf="formDatosPersonales.controls.frmProfesion.hasError('required')"
                        class="font-medium text-red-500 text-xs mt-1 ml-1">
                        Profesión es obligatorio
                    </p>
                </div>
            </div>
            <div class="w-1/3 my-1 mr-4">
                <label class="block text-gray-700 mb-1">Colegiatura</label>
                <input type="text"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmColegiatura" placeholder="Número de Colegiatura">
            </div>

            <div class="w-1/3 my-1">
                <label class="block text-gray-700 mb-1">Especialidad</label>
                <input type="text"
                    class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]"
                    formControlName="frmEspecialidad" placeholder="Número de especialidad">
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <div class="w-1/6 my-1 ml-4">
                <label class="block text-gray-700">Firma:</label>
            </div>
            <div class="w-1/3 my-1 flex justify-start mt-4 -ml-12 cursor-pointer">
                <div *ngIf="!imagenFirma" (click)="isImageFotoUpdateFirma ? null : fileImagenFotoFirma.click()"
                    class="my-1 imagen w-32 h-16 border-b-2 bg-gray-200">
                    <input hidden #fileImagenFotoFirma type="file" name="Upload" accept="image/jpeg,image/png"
                        (change)="onChangeFileFotoFirma(fileImagenFotoFirma.files)">
                    <div style="width: 35px; height: 35px;"
                        class="my-1 ml-12 mt-2 border-b-2 flex items-center justify-center"><img class="select-none"
                            src="assets/svg/camera.svg" /></div>

                </div>
                <img *ngIf="imagenFirma" [src]="'data:image/JPEG;base64,' + imagenFirma" class="my-1 imagen w-32 h-32">
            </div>
        </div>
        <div class="flex justify-end mt-6">
            <app-btn class="botonApariencia flex" type="submit" color="mezclado" (click)="grabarDatosPersonales()">
                Guardar Cambios
            </app-btn>
        </div>
    </div>
  <div>