<div class="max-w-5xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold">Perfil y visibilidad</h2>
    <div class="bg-[#057EC9] p-4 flex items-center justify-between" style="height: 180px;">
        <!-- Left side with the big icon and banner text -->
        <div class="flex items-center">
            <!-- Insert content here -->
        </div>
        <!-- Right side content if needed -->
    </div>
    <h1 class="font-bold mt-4">{{nombreCompleto}}</h1>
    <div class="flex items-center justify-start space-x-4">
        <h1>La información básica de cada usuario sirve para poder identificar las acciones dentro de SCAM.</h1>
        <h1 class="text-[#057EC9] hover:text-blue-700 cursor-pointer">Más información</h1>
    </div>
    <div class="relative border-b-2 border-gray-200 py-1 bg-gray-200 mt-4">
        <span class="relative px-2 -translate-y-1/2 transform top-1/2 font-bold">
            Datos personales
        </span>
    </div>
    <div [formGroup]="formDatosPersonales">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
            <!-- Nombres -->
            <div>
                <label class="block text-gray-700">Nombres *</label>
                <input type="text" name="nombres" class="mt-2 p-3 block w-full border rounded"
                    formControlName="frmNombres">
            </div>

            <!-- Apellidos -->
            <div>
                <label class="block text-gray-700">Apellidos *</label>
                <input type="text" class="mt-2 p-3 block w-full border rounded" formControlName="frmApellidos">
            </div>

            <!-- Celular -->
            <div>
                <label class="block text-gray-700">Celular</label>
                <input type="text" class="mt-2 p-3 block w-full border rounded" formControlName="frmCelular">
            </div>

            <!-- Correo electrónico -->
            <div>
                <label class="block text-gray-700">Correo electrónico</label>
                <input type="email" class="mt-2 p-3 bg-gray-100 block w-full border rounded"
                    formControlName="frmCorreo">
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <!-- Dirección de residencia -->
            <div class="w-3/4 my-1 mr-4">
                <label class="block text-gray-700">Dirección de residencia</label>
                <input type="text" class="mt-2 p-3 block w-full border rounded" formControlName="frmDireccion">
            </div>

            <!-- Distrito -->
            <div class="w-1/4 my-1">
                <label class="block text-gray-700">Distrito</label>
                <input type="text" [formControl]="distrControl" [matAutocomplete]="auto" aria-expanded="true"
                    aria-owns="mat-autocomplete-0" class="inputTextoDialog focusCampo"
                    placeholder="Distrito - Provincia - Departamento">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnUbicacion"
                    (optionSelected)="onSelectionChangeJefe($event)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nombreUbicacion | titlecase}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <!-- Fecha de nacimiento -->
            <div class="w-1/3 mr-4">
                <input type="date" class="mt-2 p-3 block w-full border rounded" formControlName="frmFechNacimiento">
            </div>

            <!-- Estado civil -->
            <div class="w-1/3 my-1 mr-4">
                <div class="relative rounded-md shadow-sm">
                    <select id="searchEstadoCivil" formControlName="frmEstadoCivil"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                        <option value="" disabled selected>Estado Civil *</option>
                        <option *ngFor="let estadoCivil of opcionesEstadoCivil" [value]='estadoCivil.idParametros'>{{
                            estadoCivil.nombre}}
                        </option>
                        <!-- <option value="1">Registrado</option> -->
                    </select>
                </div>
            </div>

            <!-- Género -->
            <div class="w-1/3 my-1">
                <div class="relative rounded-md shadow-sm">
                    <select id="searchGenero" formControlName="frmGenero"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                        <option value="" disabled selected>Genero *</option>
                        <option *ngFor="let genero of opcionesGenero" [value]='genero.idParametros'>{{ genero.nombre }}
                        </option>
                        <!-- <option value="1">Registrado</option> -->
                    </select>
                </div>
            </div>
        </div>
        <div class="info-container flex items-center mt-5">
            <!-- Nacionalidad -->
            <div class="w-1/3 my-1 mr-4">
                <div class="relative rounded-md shadow-sm">
                    <select id="searchNacionalidad" formControlName="frmNacionalidad"
                        class="space-x-5 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full h-[42px]">
                        <option value="" disabled selected>Nacionalidad *</option>
                        <option *ngFor="let nacionalidad of opcionesNacionalidad" [value]='nacionalidad.descripcion'>{{
                            nacionalidad.descripcion |
                            titlecase}}
                        </option>
                        <!-- <option value="1">Registrado</option> -->
                    </select>
                </div>
            </div>

            <!-- Documento Nacional de Identidad -->
            <div class="w-1/3 my-1 mr-4">
                <input type="text" class="mt-2 p-3 bg-gray-100 block w-full border rounded" formControlName="frmTipoDoc"
                    placeholder="Documento Nacional de Identidad *">
            </div>

            <div class="w-1/3 my-1">
                <input type="text" class="mt-2 p-3 bg-gray-100 block w-full border rounded" placeholder="47787230">
            </div>
        </div>
        <!-- Firma -->
        <div class="md:col-span-2 mt-4">
            <label class="block text-gray-700">Firma</label>
            <input type="file" class="mt-2 p-3 block w-full border rounded">
        </div>
        <div class="flex justify-end mt-6">
            <app-btn class="botonApariencia flex" type="submit" color="mezclado" (click)="grabarDatosPersonales()">
                Guardar Cambios
            </app-btn>
        </div>
    </div>

    <h1 class="font-bold mt-4">Nivel Educativo</h1>
    <div class="relative border-b-2 border-gray-200 py-1 bg-gray-200 mt-4">
        <span class="relative px-2 -translate-y-1/2 transform top-1/2 font-bold">
            Datos sobre estudios realizados
        </span>
    </div>
    <form>
        <div>
            <select class="mt-2 p-3 block w-full border rounded mt-4">
                <option>Nivel de Educacion Actual</option>
            </select>
        </div>
        <div class="mt-4">
            <label class="block text-gray-700">Nombre de la institucion Educativa</label>
            <input type="text" class="mt-2 p-3 block w-full border rounded"
                placeholder="Nombre de la institucion Educativa">
        </div>
        <div>
            <select class="mt-2 p-3 block w-full border rounded mt-4">
                <option>Año de Graduación</option>
            </select>
        </div>

        <div class="flex justify-end mt-6">
            <button type="submit" class="px-6 py-3 bg-blue-600 text-white rounded bg-[#057EC9] focus:outline-none">
                Guardar cambios
            </button>
        </div>
    </form>
    <form>
        <h1 class="font-bold mt-4">Seguridad</h1>
        <div class="relative border-b-2 border-gray-200 py-1 bg-gray-200 mt-4">
            <span class="relative px-2 -translate-y-1/2 transform top-1/2 font-bold">
                Datos de seguridad
            </span>
        </div>
        <div class="mt-4">
            <label class="block text-gray-700">Contraseña actual</label>
            <input type="text" class="mt-2 p-3 block w-full border rounded">
        </div>
        <div class="mt-4">
            <label class="block text-gray-700">Nueva Contraseña</label>
            <input type="text" class="mt-2 p-3 block w-full border rounded">
        </div>
        <div class="mt-4">
            <label class="block text-gray-700">Repita la Nueva Contraseña</label>
            <input type="text" class="mt-2 p-3 block w-full border rounded">
        </div>
        <div class="flex justify-end mt-6">
            <button type="submit" class="px-6 py-3 bg-blue-600 text-white rounded bg-[#057EC9] focus:outline-none">
                Guardar cambios
            </button>
        </div>
    </form>
</div>