<form [formGroup]="form" novalidate class="space-y-4">
  <div class="space-y-2 block">
    <div class="pl-3 pr-3 pt-3">
      <div class="d-flex bg-ligth2 p-2 w-100">
        <div class="w-50 justify-content-start">
          <div class="d-flex">
            <a
              routerLink="../"
              class="text-primary2 decorator-none"
            >
              <span class="material-symbols-outlined text-s-15 pt-2">
                keyboard_backspace
              </span>
              <span class="text-w-fine text-w-semibold text-s-15 pt-2">
                REGRESAR
              </span>
            </a>
          </div>
        </div>
        <div class="w-50 d-flex justify-content-end space-x-2">
          <button
            mat-raised-button
            class="mat-btn-ligth2 text-uppercase"
            routerLink="../"
          >
            cancelar
          </button>
          <app-btn typeBtn="submit" color="sky" [loading]="status === 'loading'"
            >GUARDAR Y REGISTRAR OTRO
          </app-btn>
          <app-btn typeBtn="submit" color="sky" [loading]="status === 'loading'"
            >GUARDAR
          </app-btn>
        </div>
      </div>
    </div>
    <div class="bg-slate-50 flex ml-3 mr-3">
      <div class="w-30 ">
        <div class="ml-5 mt-2">
          <span class="text-s-17 text-sky-700 text-w-semibold">
          ASIGNAR TALLERISTA
          </span>
        </div>
        <div class="d-flex w-100">
<div class="imagen p-3">
          <span>
            <img class="img-logo" src="assets/uo-asignar.svg" />
          </span>
        </div>
        <div class="detalle ml-3 mt-2 pt-3">
          <div class="">
            <span class="text-s-12 text-slate-700 text-s-20">CIRAM CUSCO</span>
          </div>
          <div class="">
            <span class="text-s-12 text-slate-500">CODIGO: 2058464</span>
          </div>
        </div>
        </div>
        
      </div>
      <div class="w-70 pl-3 pr-3 pt-2 pb-2 d-flex">
        <div class="w-70 border-left-2-gray pl-3">
          <div>
            <span>Tallerista</span>
          </div>
          <div class="flex">
            <mat-form-field class="mat-full-width">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Búscar Tallerista" />
            </mat-form-field>
            <span class="mt-2 ml-2">
              <img class="img-logo cursor" src="assets/delete-tallerista.svg" />
            </span>
          </div>
        </div>
        <div class="w-30 ml-6 border-left-2-gray pl-3 items-end">
          <div>
            <span>Evento</span>
          </div>
          <div class="mt-1">
            <button mat-raised-button class="mat-btn-primary text-uppercase"
              (click)="loadModalAgregarEvento()"
            >
              Agregar evento
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="m-2 p-2 ">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombres" class="">
          <th mat-header-cell *matHeaderCellDef class="">DNI</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="justify-left"
            style="align-content: start"
          >
            <a
              class="decorator-none text-primary3 text-w-semibold"
              (click)="setLink2(element.nombres, element.guiid, element)"
              routerLink="/usuarios/show/{{ element.guiid }}"
            >
              {{ element.usuario }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Nombres</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombres }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cam">
          <th mat-header-cell *matHeaderCellDef>CAM</th>
          <td mat-cell *matCellDef="let element">CAM ALMENARA</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef>ROLES</th>
          <td mat-cell *matCellDef="let element">
            {{ element.rol }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tieneVigencia">
          <th mat-header-cell *matHeaderCellDef>Activo</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.tieneVigencia">
              <img class="img-logo" src="assets/userAzul.svg" />
            </span>

            <span *ngIf="element.tieneVigencia">
              <img class="img-logo" src="assets/userVerde.svg" />
            </span>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          [ngClass]="{ headerRow: true }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; index as i"
          [ngClass]="getClassRow(i)"
        ></tr>
        -
      </table>
    </div>
  </div>
</form>
