<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="saveEditCam()">
  <div class="div-mat-tab">
    <div class="d-flex bg-ligth2 p-2 w-100">
      <div class="w-50 justify-content-start">
        <div class="d-flex">
          <a routerLink="/cams/show/{{this.id}}" class="text-primary2 decorator-none">
            <span class="material-symbols-outlined text-s-15 pt-2">
              keyboard_backspace
            </span>
            <span class="text-w-fine text-w-semibold text-s-15 pt-2">
              <img class="" src="assets/regresar.svg" style="color: #0284c7; margin-left: 14px"/> 
              REGRESAR
            </span>
          </a>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end">

        <app-btn
          typeBtn="submit"
          color="sky"
          [loading]="status === 'loading'"
          >GUARDAR
        </app-btn>
     
      </div>
    </div>
  </div>

  <div class="cards-contents">
    <mat-card>
      <mat-card-title *ngIf="cam?.descripcion"
        class="text-secondary text-w-semibold text-uppercase text-s-20"
      >
        EDITAR CAM:  {{cam.descripcion}}</mat-card-title
      >

      <mat-card-content>
        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> CODIGO</mat-label>
            <input
              #nameInput
              formControlName="codigo"
              placeholder="Codigo CAM"
              matInput
            />
            <mat-hint
              *ngIf="
                form.controls.codigo.touched &&
                form.controls.codigo.invalid &&
                form.controls.codigo.hasError('required')
              "
              class="text-danger"
            >
              Codigo es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.codigo.touched &&
                form.controls.codigo.invalid &&
                form.controls.codigo.hasError('minlength')
              "
              class="text-danger"
            >
              Codigo inválido - Mínimo 1 Caracteres
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="p-1">
            <mat-label> DESCRIPCION</mat-label>
            <input
              #nameInput
              formControlName="descripcion"
              placeholder="Descripcion del CAM"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.descripcion.touched &&
                form.controls.descripcion.invalid &&
                form.controls.descripcion.hasError('required')
              "
              class="text-danger"
            >
              Descripcion es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.descripcion.touched &&
                form.controls.descripcion.invalid &&
                form.controls.descripcion.hasError('minlength')
              "
              class="text-danger"
            >
              Descripcion inválida - Mínimo 3 Caracteres
            </mat-hint>
          </mat-form-field>

        </div>

        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> CELULAR</mat-label>
            <input
              #nameInput
              formControlName="celular"
              placeholder="CELULAR"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.celular.touched &&
                form.controls.celular.invalid &&
                form.controls.celular.hasError('required')
              "
              class="text-danger "
            >
              Celular es obligatorio.
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.celular.touched &&
                form.controls.celular.invalid &&
                form.controls.celular.hasError('minlength')
              "
              class="text-danger pl-5"
            >
              Celular inválido, mínimo 7 Caracteres.
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.celular.touched &&
                form.controls.celular.invalid &&
                form.controls.celular.hasError('pattern')
              "
              class="text-danger pl-5"
            >
              Solo numeros.
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="p-1">
            <mat-label> EMAIL</mat-label>
            <input
              #nameInput
              formControlName="email"
              placeholder="CORREO ELECTRÓNICO"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.email.touched &&
                form.controls.email.invalid &&
                form.controls.email.hasError('required')
              "
              class="text-danger"
            >
              Correo electrónico es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.email.touched &&
                form.controls.email.invalid &&
                form.controls.email.hasError('email')
              "
              class="text-danger"
            >
              Correo electrónico inválido
            </mat-hint>
          </mat-form-field>
        </div>

      <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> FECHA INSCRIPCION - dd/mm/YYYY</mat-label>

            <input
            matInput
            #nameInput
            formControlName="fechaInscripcion"
            [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-hint
              *ngIf="
                form.controls.fechaInscripcion.touched &&
                form.controls.fechaInscripcion.hasError('required')
              "
              class="text-danger pl-5"
            >
              Fecha es obligatorio.
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="p-1">
            <mat-label> DIRECCIÓN</mat-label>
            <input
              #nameInput
              formControlName="direccion"
              placeholder="DIRECCIÓN"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.direccion.touched &&
                form.controls.direccion.invalid &&
                form.controls.direccion.hasError('required')
              "
              class="text-danger "
            >
              Dirección es obligatorio
            </mat-hint>
          </mat-form-field>
        </div>

      <div class="div-content-form">
      <mat-form-field *ngIf="redes ">
        <mat-label> RED ASISTENCIAL </mat-label>
          <mat-select placeholder="RED ASISTENCIAL"  [(ngModel)]="red.idred"  formControlName="red">
            <mat-option *ngFor="let red of redes" [value]="red.idred">
              {{ red.nombre}}
            </mat-option>
          </mat-select>
          <mat-hint
              *ngIf="
                form.controls.red.touched &&
                form.controls.red.invalid &&
                form.controls.red.hasError('required')
              "
              class="text-danger "
            >
              Red es obligatorio
            </mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="ubigeos ">
          <mat-label> DISTRITO </mat-label>
          <mat-select placeholder="UBIGEO" [(ngModel)]="ubigeo.idUbigeo" formControlName="ubigeo" >
            <mat-option *ngFor="let ubigeo of ubigeos" [value]="ubigeo.idUbigeo">
              {{ ubigeo.descDis }}
            </mat-option>
          </mat-select>
          <mat-hint
              *ngIf="
                form.controls.ubigeo.touched &&
                form.controls.ubigeo.invalid &&
                form.controls.ubigeo.hasError('required')
              "
              class="text-danger "
            >
              UBIGEO es obligatorio
            </mat-hint>
        </mat-form-field>
      </div>


      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title
        class="text-secondary text-w-semibold text-uppercase text-s-12"
      >
        Información adicional </mat-card-title
      >

        <div class="d-block text-secondary">
        <div class="d-flex p-1" *ngIf="this.cam?.fecCreacion"> 
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Fecha creación</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{this.cam.fecCreacion}}
          </div>
        </div>

        <div class="d-flex bg-ligth2 p-1" *ngIf="this.cam?.userCreacion" >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Usuario registro</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.cam.userCreacion}}</div>div>
        </div>

        <div class="d-flex p-1" *ngIf="this.cam?.fecModificacion" > 
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Fecha de ultima modificación</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{this.cam.fecModificacion}}
          </div>
        </div>

        <div class="d-flex p-1 bg-ligth2" *ngIf="this.cam?.userModificacion"  > 
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Usuario ultima modificación</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{this.cam.userModificacion}}
          </div>
        </div>

      </div>

    </mat-card>
  </div>
</form>

