<div class="mat-dialog-padding">
  <div class="headerDialog">
    <span>ACTIVAR USUARIO</span>
    <button (click)="onNoClick()"><esp-icon icon="faClose"></esp-icon></button>
  </div>
  <div class="body text-gray-700 text-base">
    <form [formGroup]="form" novalidate (ngSubmit)="activaUsuarioYAsignaRoles()">
      <div class="px-2.5 pt-2.5">
        <div class="flex gap-2.5 items-center uppercase px-2.5 h-10">
          <b>Juan Alberto Dorado Rivera</b>
          <span>DNI <b>23855637</b></span>
        </div>
      </div>
      <div class="flex flex-col px-2.5 gap-2.5">
        <span class="p-2.5">Asignar fecha de servicio</span>
        <div class="flex p-2.5 gap-[1.875rem]">
          <div inline-datepicker data-date="02/25/2022"></div>
        <div class="relative rounded-md h-10 shadow-sm">
          <input type="text" name="searchdate" id="searchDate" placeholder="dd-mm-yyyy" readonly class="inputTextoDialog focusCampo pr-7">
          <div class="pointer-events-none right-0 absolute inset-y-0 flex items-center pr-3">
            <span datepicker class="text-gray-500 sm:text-sm">
                <esp-icon icon="faCalendarAlt"></esp-icon>
            </span>
          </div>
        </div>
        </div>
        <span class="p-2.5">Asignar un Rol y centro laboral</span>
        <div class="flex p-2.5 gap-[1.875rem]"></div>
      </div>
      <!-- <div class="flex w-full detailUser bg-slate-100 justify-content-rigth space-x-5 p-2">
        <span class="font-semibold text-sm ml-7"> {{ data.user.nombres }}</span>
        <span class="font-semibold text-sm">- DNI {{ data.user.numDoc }}</span>
      </div> -->

      <!-- <div class="detailTiempoVigencia bg-slate-50 p-3 space-x-5 mt-2">
        <div class="font-semibold text-xs ml-5">
          <span>VIGENCIA DEL SERVICIO</span>
        </div>
        <div class="flex w-full mt-2 space-x-5">
          <div class="flex w-50">
            <mat-form-field class="flex w-full">
              <textarea
                matInput
                formControlName="observaciones"
                placeholder="Observaciones"
              ></textarea>
              <mat-hint
                *ngIf="
                  form.controls.observaciones.touched &&
                  form.controls.observaciones.invalid &&
                  form.controls.observaciones.hasError('required')
                "
                class="text-danger"
              >
                Observaciones es obligatorio
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="flex w-50">
            <mat-form-field class="flex w-full">
              <mat-label>Rango de la vigencia</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input
                  matStartDate
                  placeholder="INICIO DE VIGENCIA"
                  formControlName="fechaInicio"
                />
                <input
                  matEndDate
                  placeholder="FIN DE VIGENCIA"
                  formControlName="fechaFin"
                />
              </mat-date-range-input>
              <mat-hint
                *ngIf="
                  (form.controls.fechaInicio.touched &&
                    form.controls.fechaInicio.invalid &&
                    form.controls.fechaInicio.hasError('required')) ||
                  (form.controls.fechaFin.touched &&
                    form.controls.fechaFin.invalid &&
                    form.controls.fechaFin.hasError('required'))
                "
                class="text-danger"
              >
                El rango de fecha es obligatorio
              </mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="rangePicker"
                class="float-left"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancelar</button>
                  <button
                    mat-raised-button
                    color="primary"
                    matDateRangePickerApply
                  >
                    Aplicar
                  </button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="detailRoles bg-slate-50 p-3 space-x-5 mt-2">
        <div class="text-base font-semibold ml-5">
          <span>ROLES DE USUARIO</span>
        </div>
        <div class="mt-2">
          <div class="flex">
            <mat-form-field *ngIf="roles">
              <mat-label> ROL DE USUARIO </mat-label>
              <mat-select
                placeholder="ROLES DE USUARIO"
                [(ngModel)]="roles.codigo"
                formControlName="rol"
              >
                <mat-option *ngFor="let rol of roles" [value]="rol.codigo">
                  {{ rol.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="
                  form.controls.rol.touched &&
                  form.controls.rol.invalid &&
                  form.controls.rol.hasError('required')
                "
                class="text-danger"
              >
                Rol es obligatorio
              </mat-hint>
            </mat-form-field>
            
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="">
          <app-btn typeBtn="submit" color="sky" [loading]="status === 'loading'" >ACTIVAR USUARIO
          </app-btn>
        </div>
      </div> -->
    </form>
  </div>
</div>
