<div class="div-mat-tab">
  <div class="d-flex bg-ligth2 p-2 w-100">
    <div class="w-50 justify-content-start">
        <div class="d-flex">
        <a routerLink="/cams" class="text-primary2 decorator-none"> 
        <span class="material-symbols-outlined text-s-15 pt-2">
            keyboard_backspace 
        </span>
        <span class="text-w-fine text-w-semibold text-s-15 pt-2">
            REGRESAR 
        </span>
        </a>
      </div>
    </div>
    <div class="w-50 d-flex justify-content-end">
      <div class="">
        <a routerLink="/cams/cirams/edit/{{id}}" class="text-primary2 decorator-none"> 
        <span class="text-w-fine text-w-semibold text-s-15 pt-2">
            EDITAR CIRAM 
        </span>
        <span class="material-symbols-outlined text-s-15 pt-2">
            edit 
        </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="cards-contents">
  <mat-card>
    <div class="d-block text-secondary">
      <div class="">
        <div class="justify-content-center d-flex text">
          <span class="material-symbols-outlined text-s-5r">
            home_app_logo
          </span>
        </div>
        <div
        *ngIf="this.ciram?.descripcion"
          class="justify-content-center d-flex text-s-18 text-uppercase text-w-semibold"
        >
        {{this.ciram.descripcion}}
        </div>
        <div
          *ngIf="this.ciram?.codigo"
          class="mb-4 mt-1 justify-content-center d-flex text-s-15 text-uppercase text-w-semibold"
        >
          codigo {{this.ciram.codigo}} 
        </div>
      </div>
      <div class="">
        <div class="d-flex p-1"
          *ngIf="this.ciram?.tipo"
         > 
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Tipo</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{this.ciram.tipo === '1' ? 'CIRAM': '' }}
            {{this.ciram.tipo === '2' ? 'CIRAM': '' }}
          </div>
        </div>
        <div class="d-flex bg-ligth2 p-1"
          *ngIf="this.ciram?.celular"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Celular</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.celular }}</div>
        </div>
        <div class="d-flex p-1"
          *ngIf="this.ciram?.email"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Correo</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.email }}</div>
        </div>
        <div class="d-flex p-1 bg-ligth2"
          *ngIf="this.ciram?.fechaInscripcion"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">
            Fecha de inscripción
          </div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.fechaInscripcion}}</div>
        </div>
        <div class="d-flex p-1" 
          *ngIf="this.ciram?.direccion"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Dirección</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.direccion}}</div>
        </div>
        <div class="d-flex p-1 bg-ligth2"
          *ngIf="this.ciram?.ubigeo?.descDis"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">DISTRITO</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.ubigeo.descDis}}</div>
        </div>
        <div class="d-flex p-1"
          *ngIf="this.ciram?.ubigeo?.descProv"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Provincia</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.ubigeo.descProv}}</div>
        </div>
        <div class="d-flex p-1 bg-ligth2"
          *ngIf="this.ciram?.ubigeo?.descDep"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Región</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.ubigeo.descDep}}</div>
        </div>
        <div class="d-flex p-1"
          *ngIf="this.ciram?.cam?.red?.nombre"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">Red</div>
          <div class="w-50 text-s-14 text-uppercase">
            {{ this.ciram.cam.red.nombre }} 
          </div>
        </div>
        <div class="d-flex p-1 bg-ligth2"
          *ngIf="this.ciram?.fecCreacion"
         >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">
            fecha registro
          </div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.fecCreacion}}</div>
        </div>
        <div class="d-flex p-1"
          *ngIf="this.ciram?.estado"
        >
          <div class="w-50 text-w-bold text-s-11 text-uppercase">estado</div>
          <div class="w-50 text-s-14 text-uppercase">{{this.ciram.estado.toString() === '1' ? 'ACTIVO' : 'NO ACTIVO'}}</div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div>
    <div class="text-uppercase text-secondary text-s-18 text-w-semibold">
      historial 
    </div>

  <div class="d-flex">

      <div class="d-flex pb-2" *ngIf="subBreadcrum1.url">

        <span class="text-secondary text-w-fine text-style-cursiva text-s-12 pt-2">
          <a routerLink="{{ subBreadcrum1.url }}" class="text-secondary decorator-none"> {{subBreadcrum1.title}}</a>
        </span>
      </div>

      <div class="d-flex pb-2" *ngIf="subBreadcrum2.url">
        <span class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-secondary text-w-fine text-style-cursiva text-s-12 pt-2 ml-5">
          <a routerLink="{{ subBreadcrum2.url }}" class="text-secondary decorator-none"> {{subBreadcrum2.title}} </a>
        </span>
      </div>

      <div class="d-flex pb-2" *ngIf="subBreadcrum3.url">
        <span class="text-secondary material-symbols-outlined text-s-20 pt-1 ml-5">
          / 
        </span>

        <span class="text-secondary text-w-fine text-style-cursiva text-s-12 pt-2 ml-5">
          <a routerLink="{{ subBreadcrum3.url }}" class="text-secondary decorator-none"> {{subBreadcrum3.title}} </a>
        </span>
      </div>

      
    </div>

    </div>



    <div class="">

    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
        mat-tab-link
        *ngFor="let link of subLinks"
        (click)="subActiveTab = link.url"
        routerLink="{{ link.url }}"
        [active]="subActiveTab == link.url"
      >
        {{ link.title }} 
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
    <router-outlet></router-outlet>

    </div>
  </mat-card>
</div>


