

.imagen{
    width: 60px;
    height: 75px;
    justify-self: center;
  }

  .scrollbarra {
    width: 100%;
    max-height: 46vh;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 5px 0 5px 5px;
    overflow-y: auto;
  }
  
  .scrollbarra::-webkit-scrollbar {
      width: 10px;
  }
   
  .scrollbarra::-webkit-scrollbar-track {
      background: #D4D4D4;
  }
  .scrollbarra::-webkit-scrollbar-thumb {
      background: var(--color-CAM-black-alt);
  }
   
  .scrollbarra::-webkit-scrollbar-thumb:hover {
      background: #28364d;
  }

  .info-container {
    display: flex; /* Usar display flex para alinear los elementos horizontalmente */
    align-items: center; /* Alinear verticalmente al centro */
    margin-top: -2px;
  }