
<esp-opciones-botones [rutaRegreso]="'../../..'" [listOpciones]="opcionesBotones" (firstFunction)="Notas()" (secondFunction)="EvalAfiliado()"></esp-opciones-botones>

<!--<div class="px-4 py-3 bg-white w-full mt-3 grid botonApariencia" *ngIf="!dataAfiliado">
  <div class="text-gray-600 w-full text-center">
      <span class="py-1 font-bold text-2xl">
          <fa-icon class="mr-2" [icon]="faSpinner" [pulse]="true"></fa-icon>
          Obteniendo datos...
      </span>
  </div>
</div>-->
<!--<div *ngIf="dataAfiliado" class="bg-white botonApariencia">-->
<div class="bg-white botonApariencia">
  <div class="flex flex-row justify-between"> 
    <p class="text-s-26p pl-6 pt-2 text-[var(--color-CAM-black-alt)] my-0 font-medium">Ficha de Afiliado</p>
    <p class="text-end pt-2 pr-6 text-s-16p text-secondary my-0">N° de Historia 
      <br><span class="text-s-20p text-primary2 text-[var(--color-CAM)]">{{dataFicha.numHistoria ? dataFicha.numHistoria : '00000000001'}}</span>
    </p>
  </div>
  
  <div class="flex flex-row gap-[1.25rem] text-[#37474F] pr-[10px] pb-[20px]">
    <div class="w-[360px] shrink-0 border-gradient-2">
        <div class="grid text-center relative justify-center">
            <p class=" py-1 px-3 my-2 mx-1 anios absolute right-0 text-white text-xl bg-cam">{{edadPersona}} Años</p>
            <img class="my-2 imagen" src='data:image/jpeg;base64,{{dataAfiliado.fotoBase64}}'>
            <div class="flex flex-col gap-1 py-2 !leading-5">
              <p class="pt-1 bordColorEstablecido font-bold text-2xl m-1 text-color-primary2 text-sky-600 " style="line-height: 10px;">{{dataAfiliado.nombres | titlecase}}</p>
              <p class="font-medium text-lg m-0">{{dataAfiliado.apellidos | titlecase}}</p>
              <span class="font-thin">{{tipoDoc == '1' ? 'DNI' : 'CE'}} {{numDoc}}</span>
            </div>
        </div>
        <div class="overflow-y mt-0 font-thin scrollbarra border-gradient" >
            <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-medium text-s-18p text-w-500 my-2 mt-2">Datos Personales</p>
            <div class="flex flex-row items-center gap-[0.5rem]">
              <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 my-1 mx-0"> Fecha Nacimiento </p> 
              <p class="flex w-1/2 flex-col additional-text my-1"> {{dataAfiliado.fecNac}} </p>
            </div>
  
            <div class="flex flex-row items-center gap-[0.5rem]">
              <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 my-1 mx-0"> Sexo </p> 
              <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAfiliado.sexo | titlecase}} </p>
            </div>          
  
            <div class="flex flex-row items-center gap-[0.5rem]">
              <p class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 my-1 mx-0"> Estado Civil </p> 
              <p class="flex w-1/2 flex-col additional-text my-1 text-s-16r text-w-300"> {{dataAfiliado.estCivil | titlecase}} </p>
            </div>          
   
            <p class="flex w-2/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 my-1 mx-0">Lugar de Nacimiento</p>
            <p class="flex w-2/2 flex-col additional-text my-0 text-s-16r text-w-300"> {{dataAfiliado.lugarNac | titlecase}}</p>
  
            <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-medium text-s-18p text-w-500 my-2">Datos de Contacto</p>
            <div class="flex flex-col gap-[0.25rem]">
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Dirección Actual</p>
                <span class="text-s-16r">{{dataAfiliado.direccion | titlecase}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Distrito / Provincia / Departamento</p>
                <span class="text-s-16r">{{dataAfiliado.distrito | titlecase}} / {{dataAfiliado.provincia | titlecase}} / {{dataAfiliado.departamento | titlecase}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Correo</p>
                <span class="text-s-16r">{{dataAfiliado.correo}} </span>
              </div>
              <div class="flex flex-row items-center gap-[0.5rem]">
                <span class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 mx-0"> Teléfono </span> 
                <span class="flex w-1/2 flex-col additional-text"> {{dataAfiliado.telefono ? dataAfiliado.telefono : '-'}} </span>
              </div>
              <div class="flex flex-row items-center gap-[0.5rem]">
                <span class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 mx-0"> Celular </span> 
                <span class="flex w-1/2 flex-col additional-text"> {{dataAfiliado.celular ? dataAfiliado.celular : '-'}} </span>
              </div>
            </div>
  
            <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-medium text-s-18p text-w-500 my-2">Datos de afiliación CAM</p>
            <div class="flex flex-col gap-[0.25rem]">
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Afiliado a</p>
                <span class="text-s-16r">{{dataAfiliado.afiliadoAlCentro ? (dataAfiliado.afiliadoAlCentro | titlecase): '-'}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Por</p>
                <span class="text-s-16r">{{dataAfiliado.afiliadoPor ? (dataAfiliado.afiliadoPor | titlecase): '-'}} </span>
              </div>
              <div class="flex flex-row items-center gap-[0.5rem]">
                <span class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 mx-0"> Desde </span> 
                <span class="flex w-1/2 flex-col additional-text"> {{dataAfiliado.afiliadoDesde ? dataAfiliado.afiliadoDesde : '-'}} </span>
              </div>
              <div class="flex flex-row items-center gap-[0.5rem]">
                <span class="flex w-1/2 flex-col text-s-16r py-1 bg-slate-100 text-w-500 mx-0"> Estado </span> 
                <span class="flex w-1/2 flex-col additional-text"> {{dataAfiliado.afiliadoEstado ? dataAfiliado.afiliadoEstado : '-'}} </span>
              </div>
            </div>

            <p class="py-1 border-l-4 border-[#057EC9] pl-2 text-sky-600 font-medium text-s-18p text-w-500 my-2">Datos del Seguro</p>
            <div class="flex flex-col gap-[0.25rem]">
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Tipo de Asegurado</p>
                <span class="text-s-16r">{{dataAfiliado.tipoAsegurado | titlecase}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Nombre del Seguro</p>
                <span class="text-s-16r">{{dataAfiliado.nombreSeguro | titlecase}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">IPRESS de Adscripcion</p>
                <span class="text-s-16r">{{dataAfiliado.centroAdscripcion}} </span>
              </div>
              <div class="flex flex-col gap-[0.5rem]">
                <p class="py-1 my-0 bg-slate-100 text-s-16r text-w-500">Red Asistencial</p>
                <span class="text-s-16r">{{dataAfiliado.redAdscripcion}} </span>
              </div>
            </div>
        </div>
    </div>
    
    <div class="grow pt-[10px]">
      <esp-menu-opciones [links]="links" [setColorTab]="'var(--color-CAM)'" [showBottomLine]="false"></esp-menu-opciones>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>