/* You can add global styles to this file, and also import other style files */
/*@import "/node_modules/bootstrap/dist/css/bootstrap.css";*/
/*
@import '@angular/cdk/overlay-prebuilt.css';
*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f4fcfd !important;
}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mat-btn-primary {
  background: #075985;
  color: #fff;
}

.mat-btn-secondary {
  background: #64748b;
  color: #fff;
}

.mat-btn-success {
  background: #15803d;
  color: #fff;
}

.mat-btn-info {
  background: #06b6d4;
  color: #fff;
}

.mat-btn-warning {
  background: #f97316;
  color: #fff;
}

.mat-btn-danger {
  background: #b91c1c;
  color: #fff;
}

.mat-btn-ligth {
  background: #cbd5e1;
  color: #1f2937;
}

.mat-btn-sky{
  color: #fff;
  background: #075985;
}

.bg-primary {
  background: #075985;
}

.bg-secondary {
  background: #64748b;
}

.bg-success {
  background: #15803d;
}

.bg-info {
  background: #06b6d4;
}

.bg-warning {
  background: #f97316;
}

.bg-danger {
  background: #b91c1c;
}

.bg-ligth {
  background: #cbd5e1;
}

.bg-ligth2 {
  background: #f1f5f9;
}

.bg-ligth3 {
  background: #f0fcfe;
}

.bg-warning-ligth {
  background: #f8fafc;
}


.bg-ligth4 {
  background: #f3fcff;
}

.matform-btn {
  margin-top: 0.45rem !important;
  font-size: 16px;
  height: 45px;
}

.matform-btn {
  margin-top: 0.45rem !important;
  font-size: 16px;
  height: 45px;
}
.bg-side {
  background-color: #f8fafc;
}

.text-primary3 {
  color: #0179be;
}

.text-primary2 {
  color: #0c4a6e;
}
.text-primary {
  color: #075985;
}

.text-secondary {
  color: #64748b;
}

.text-success {
  color: #15803d;
}

.text-info {
  color: #06b6d4;
}

.text-warning {
  color: #f97316;
}

.text-danger {
  color: #b91c1c;
}

.text-ligth {
  color: #cbd5e1;
}

.text-sky {
  color: #075985;
}

.text-white {
  color: white;
}

.text-w-bold {
  font-weight: 700;
}
.text-w-fine {
  font-weight: 200;
}
.text-w-normal {
  font-weight: 400;
}
.text-w-semibold {
  font-weight: 590;
}

.text-style-cursiva {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-s-1r {
  font-size: 1rem;
}
.text-s-2r {
  font-size: 2rem;
}
.text-s-3r {
  font-size: 3rem;
}
.text-s-4r {
  font-size: 4rem;
}
.text-s-5r {
  font-size: 5rem;
}
.text-s-6r {
  font-size: 6rem;
}
.text-s-7r {
  font-size: 7rem;
}
.text-s-8r {
  font-size: 8rem;
}
.text-s-9r {
  font-size: 9rem;
}
.text-s-10r {
  font-size: 10rem;
}

.text-s-5 {
  font-size: 5px;
}
.text-s-6 {
  font-size: 6px;
}
.text-s-7 {
  font-size: 7px;
}
.text-s-8 {
  font-size: 8px;
}
.text-s-9 {
  font-size: 9px;
}
.text-s-10 {
  font-size: 10px;
}
.text-s-11 {
  font-size: 11px;
}
.text-s-12 {
  font-size: 12px;
}
.text-s-13 {
  font-size: 13px;
}
.text-s-14 {
  font-size: 14px;
}
.text-s-15 {
  font-size: 15px;
}
.text-s-16 {
  font-size: 16px;
}
.text-s-17 {
  font-size: 17px;
}
.text-s-18 {
  font-size: 18px;
}
.text-s-19 {
  font-size: 19px;
}
.text-s-20 {
  font-size: 20px;
}
.text-s-21 {
  font-size: 21px;
}
.text-s-22 {
  font-size: 22px;
}
.text-s-23 {
  font-size: 23px;
}
.text-s-24 {
  font-size: 24px;
}
.text-s-25 {
  font-size: 25px;
}

.m-1 {
  margin: 1px;
}
.m-2 {
  margin: 2px;
}
.m-3 {
  margin: 3px;
}
.m-4 {
  margin: 4px;
}
.m-5 {
  margin: 5px;
}
.m-6 {
  margin: 6px;
}
.m-7 {
  margin: 7px;
}
.m-8 {
  margin: 8px;
}
.m-9 {
  margin: 9px;
}
.m-10 {
  margin: 10px;
}
.m-11 {
  margin: 11px;
}



.m-5 {
  margin: 5px;
}
.m-5 {
  margin: 5px;
}


.mt-5 {
  margin-top: 5px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-1 {
  margin-top: 1px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-1 {
  margin-bottom: 1px;
}

.ml-5 {
  margin-left: 5px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-1 {
  margin-left: 1px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-3 {
  margin-right: 3px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-1 {
  margin-right: 1px;
}

.p-1 {
  padding: 1px;
}
.p-2 {
  padding: 2px;
}
.p-3 {
  padding: 3px;
}
.p-4 {
  padding: 4px;
}
.p-5 {
  padding: 5px;
}

.p-6 {
  padding: 6px;
}

.p-7 {
  padding: 7px;
}

.p-8 {
  padding: 8px;
}

.p-9 {
  padding: 9px;
}

.p-10 {
  padding: 10px;
}

.p-11 {
  padding: 11px;
}

.pt-5 {
  padding-top: 5px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-3 {
  padding-top: 3px;
}
.pt-2 {
  padding-top: 2px;
}
.pt-1 {
  padding-top: 1px;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-3 {
  padding-bottom: 3px;
}
.pb-2 {
  padding-bottom: 2px;
}
.pb-1 {
  padding-bottom: 1px;
}


.pl-11 {
  padding-left: 11px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-9 {
  padding-left: 9px;
}
.pl-8{
  padding-left: 8px;
}
.pl-7 {
  padding-left: 7px;
}
.pl-6 {
  padding-left: 6px;
}

.pl-5 {
  padding-left: 5px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-3 {
  padding-left: 3px;
}
.pl-2 {
  padding-left: 2px;
}
.pl-1 {
  padding-left: 1px;
}

.pr-5 {
  padding-right: 5px;
}
.pr-4 {
  padding-right: 4px;
}
.pr-3 {
  padding-right: 3px;
}
.pr-2 {
  padding-right: 2px;
}
.pr-1 {
  padding-right: 1px;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}

.cursor {
  cursor: pointer;
}
.none {
  cursor: none;
}
.decorator-none {
  text-decoration: none;
}

.align-content-flex-start {
  align-content: flex-start;
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}

.w-100px {
  width: 100px;
}
.w-150px {
  width: 150px;
}
.w-200px {
  width: 200px;
}
.w-250px {
  width: 250px;
}
.w-300px {
  width: 300px;
}
.w-350px {
  width: 350px;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

/* 800 */
.customer-btn-bg-success {
  background-color: #166534;
}

/* 800 */
.customer-btn-border-success {
  border-style: solid;
  border-width: 2px;
  border-color: #166534;
}

/* 600 */
.customer-btn-bg-success:hover {
  background-color: #16a34a;
}

/* 600 */
.customer-btn-border-success:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #16a34a;
}

/* 600 */
.customer-btn-bg-success:focus {
  background-color: #16a34a;
}

/* 600 */
.customer-btn-border-success:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #16a34a;
}

/** 900 */
.customer-btn-bg-success:active {
  background-color: #14532d;
}

/** 900 */
.customer-btn-border-success:active {
  border-style: solid;
  border-width: 2px;
  border-color: #14532d;
}

.customer-btn-text-success {
  color: white;
}

/** PRIMARY **/
/* 800 */
.customer-btn-bg-primary {
  background-color: #1e40af;
}

/* 800 */
.customer-btn-border-primary {
  border-style: solid;
  border-width: 2px;
  border-color: #1e40af;
}

/* 600 */
.customer-btn-bg-primary:hover {
  background-color: #2563eb;
}

/* 600 */
.customer-btn-border-primary:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #2563eb;
}

/* 600 */
.customer-btn-bg-primary:focus {
  background-color: #2563eb;
}

/* 600 */
.customer-btn-border-primary:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #2563eb;
}

/** 900 */
.customer-btn-bg-primary:active {
  background-color: #1e3a8a;
}

/** 900 */
.customer-btn-border-primary:active {
  border-style: solid;
  border-width: 2px;
  border-color: #1e3a8a;
}

.customer-btn-text-primary {
  color: white;
}

/** DANGER **/
/* 800 */
.customer-btn-bg-danger {
  background-color: #9a3412;
}

/* 800 */
.customer-btn-border-danger {
  border-style: solid;
  border-width: 2px;
  border-color: #9a3412;
}

/* 600 */
.customer-btn-bg-danger:hover {
  background-color: #ea580c;
}

/* 600 */
.customer-btn-border-danger:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #ea580c;
}

/* 600 */
.customer-btn-bg-danger:focus {
  background-color: #ea580c;
}

/* 600 */
.customer-btn-border-danger:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #ea580c;
}

/** 900 */
.customer-btn-bg-danger:active {
  background-color: #7c2d12;
}

/** 900 */
.customer-btn-border-danger:active {
  border-style: solid;
  border-width: 2px;
  border-color: #7c2d12;
}

.customer-btn-text-danger {
  color: white;
}

/** secondary **/
/* 800 */
.customer-btn-bg-secondary {
  background-color: #1e293b;
}

/* 800 */
.customer-btn-border-secondary {
  border-style: solid;
  border-width: 2px;
  border-color: #1e293b;
}

/* 600 */
.customer-btn-bg-secondary:hover {
  background-color: #475569;
}

/* 600 */
.customer-btn-border-secondary:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #475569;
}

/* 600 */
.customer-btn-bg-secondary:focus {
  background-color: #475569;
}

/* 600 */
.customer-btn-border-secondary:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #475569;
}

/** 900 */
.customer-btn-bg-secondary:active {
  background-color: #111827;
}

/** 900 */
.customer-btn-border-secondary:active {
  border-style: solid;
  border-width: 2px;
  border-color: #111827;
}

.customer-btn-text-secondary {
  color: white;
}

/** light **/
/* 200 */
.customer-btn-bg-light {
  background-color: #e2e8f0;
}

/* 200 */
.customer-btn-border-light {
  border-style: solid;
  border-width: 2px;
  border-color: #e2e8f0;
}

/* 500 */
.customer-btn-bg-light:hover {
  background-color: #64748b;
  color: white;
}

/* 500 */
.customer-btn-border-light:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #64748b;
  color: white;
}

/* 500 */
.customer-btn-bg-light:focus {
  background-color: #64748b;
}

/* 500 */
.customer-btn-border-light:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #64748b;
}

/** 300 */
.customer-btn-bg-light:active {
  background-color: #cbd5e1;
  color: #475569;
}

/** 300 */
.customer-btn-border-light:active {
  border-style: solid;
  border-width: 2px;
  border-color: #cbd5e1;
  color: #475569;
}

.customer-btn-text-light {
  color: #475569;
}

/** sky **/
/* 800 */
.customer-btn-bg-sky {
  background-color: #075985;
}

/* 800 */
.customer-btn-border-sky {
  border-style: solid;
  border-width: 2px;
  border-color: #075985;
}

/* 800-0.5 */
.customer-btn-border-sky-0-5 {
  border-style: solid;
  border-width: 0.5px;
  border-color: #075985;
}

/* 600 */
.customer-btn-bg-sky:hover {
  background-color: #0284c7;
}

/* 600 */
.customer-btn-border-sky:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #0284c7;
}

/* 600 */
.customer-btn-bg-sky:focus {
  background-color: #0284c7;
}

/* 600 */
.customer-btn-border-sky:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #0284c7;
}

/** 900 */
.customer-btn-bg-sky:active {
  background-color: #0c4a6e;
}

/** 900 */
.customer-btn-border-sky:active {
  border-style: solid;
  border-width: 2px;
  border-color: #0c4a6e;
}

.customer-btn-text-sky {
  color: white;
}

.radius-2 {
  border-radius: 2px;
}
.radius-4 {
  border-radius: 4px;
}
.radius-6 {
  border-radius: 6px;
}
.radius-8 {
  border-radius: 8px;
}

.mat-divider-vertical {
  height: 80px;
  border-top: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9da0a6;
}

.mat-divider.mat-divider-inset {
  margin-left: 1px;
}

.mat-divider.mat-divider-vertical {
    border-top: 0;
    border-right-width: 0px;
    border-right-style: none;
}

.border-left-2{
  border-left: 1px solid #f97316
}

.border-left-2-sky{
  border-left: 1px solid #075985;
}

.heigth-fit{
  height: fit-content;
}