<div class="mat-dialog-padding">
  <div class="head bg-sky-900 p-2 flex w-full">
    <div class="w-50">
      <span class="text-s-18 text-white font-medium text-base ml-5"
        >AGREGAR UN EVENTO</span
      >
    </div>
    <div class="w-50 items-end flex justify-end p-1">
      <span (click)="onNoClick()" class="cursor">
        <img class="img-logo" src="assets/close.svg" />
      </span>
    </div>
  </div>
  <div class="body p-4">
    <form [formGroup]="form" novalidate class="space-y-4">
      <div
        class="flex w-full detailUser bg-slate-100 justify-content-rigth space-x-5 p-2"
      >
        <span class="font-semibold text-sm">
          UNIDAD OPERATIVA: {{ data.uo.descripcion }}</span
        >
      </div>

      <div class="detailRoles bg-slate-50 p-2 mt-2">
        <div class="mt-2 block">
          <div class="flex p-2">
            <div class="w-50">
              <span class="text-s-16 text-slate-800">TIPO DE EVENTO</span>
            </div>
            <div class="w-50">
              <div>
                <select
                  id="countries"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option selected>TALLER</option>
                  <option value="1">TALLER 1</option>
                  <option value="2">TALLEr 2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="">
            <mat-form-field class="mat-full-width w-full">
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Búscar Tallerista" />
            </mat-form-field>
          </div>
          <div class="flex">
            <div class="w-50">
              <mat-form-field class="p-1 w-full">
                <mat-label> FECHA DE INICIO - dd/mm/YYYY</mat-label>
                <input matInput #nameInput [matDatepicker]="picker" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-hint *ngIf="false" class="text-danger pl-5">
                  Fecha es obligatorio.
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="w-50">
              <div class="mt-2">
                <select
                  id="countries"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option selected>MODALIDAD</option>
                  <option value="1">MODALIDAD 1</option>
                  <option value="2">MODALIDAD 2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="">
          <app-btn typeBtn="submit" color="sky" [loading]="status === 'loading'"
            >GUARDAR CAMBIOS
          </app-btn>
        </div>
      </div>
    </form>
  </div>
</div>
