<div class="div-dialog-form">
  <!-- <div>
          <img src="assets/img/cam_login.png" alt="">
      </div> -->
  <mat-dialog-content class="div-dialog-form_content">
    <h1> {{data?.title}} </h1>
    <h2>Se ha enviado un código de activación al correo:</h2>
    <p> {{data?.resp}} </p>
    <h2>Ingrese los siguientes datos para el cambio de contraseña:</h2>
    <form [formGroup]="form">
      <mat-form-field class="full-width-input">
        <mat-label>Código de activación</mat-label>
        <input type="text" formControlName="codigoCtrl" matInput required />
        <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
        <!-- <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">
              Mínimo 8 dígitos
            </mat-error> -->
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Nueva contraseña</mat-label>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon> {{ hide ? "visibility_off" : "visibility" }} </mat-icon>
        </button>
        <input
          type="password"
          formControlName="nuevaPasswCtrl"
          matInput
          [type]="hide ? 'password' : 'text'"
          required
        />
        <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
        <!-- <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">
              Mínimo 8 dígitos
            </mat-error> -->
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="btn-dialog">
      <button
        (click)="cambiarPassword()"
        mat-raised-button
        [disabled]="form.invalid || loading"
        class="btn-mat-primary"
        cdkFocusInitial
      >
        {{ loading ? "Validando..." : "Cambiar contraseña" }}
      </button>
    </div>
    <div class="btn-dialog">
      <button mat-raised-button mat-dialog-close>Cancelar</button>
    </div>
  </mat-dialog-actions>
</div>
