<div class="flex flex-col gap-5 py-[18px]" *ngIf="dataActivacion">
    <div class="flex flex-col gap-2.5">
        <span class="subTitulo"> Activación Vigente</span>
        <div>
            <div class="grid grid-cols-9 gap-1 border-b-2 border-gray-300 pb-2 text-[14px] filasPseudoTabla">
              <span class="col-span-2">Usuario que activa</span>
              <span>Fecha Inicio</span>
              <span>Fecha Fin</span>
              <span>Expiración</span>
              <span>Rol</span>
              <span class="col-span-2">Centro</span>
              <span>Estado</span>
            </div>
            <div *ngIf="dataActivacion.length == 0" class="w-full h-3/4 flex items-center">
              <div class="m-auto w-fit text-center py-6">
                <img class="m-auto" src="assets/svg/empty-data.svg" alt="">
                <h3 class="text-gray-500 mt-2 font-light">No existen registros aun.</h3>
              </div>
            </div>
            <div *ngIf="dataActivacion.length > 0" class="overflow-auto max-h-[201px]">
              <div class="dataPseudoTabla" *ngFor="let data of dataActivacion, index as i">
                <span class="text-[#008BD2] col-span-2">{{data.usuario}}</span>
                <span>{{data.fechaInicio | date:'dd/MM/yyyy'}}</span>
                <span>{{data.fechaFin | date:'dd/MM/yyyy'}}</span>
                <span class="px-0.5 rounded py-1 !text-white botonApariencia" [ngClass]="data.diasExpiracion <= 90 ? 'bg-[#DC2626]' : (data.diasExpiracion <= 180 ? 'bg-[#F59E0B]' : 'bg-[#0CCE6B]')">Quedan {{data.diasExpiracion}} días</span>
                <span>{{data.rol | titlecase}}</span>
                <span class="col-span-2">{{data.unidadOperativa}}</span>
                <span [ngClass]="data.estado === 'ACTIVO' ? 'text-green-500':'text-red-500'">{{data.estado | titlecase}}</span>
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="idUsuario">
        <span class="subTitulo"> Contratos</span>
        <esp-opciones-busqueda 
          [showDateFilter]="true"
          [setFilterDateOptionSelected]="'var(--color-CAM-Mezclado)'" 
          [setFilterDateTextColour]="'#057EC9'"
          [filterDateAppearance]="2"
          (sendDateFilterWithCeros)="formBuscar.get('frmSearchDate')?.setValue($event); getContratos()"
          [setFilterDateSelectionBg]="'#008BD2'"
          [setFilterDateButtonBg]="'#008BD2'"
          [setDateSelectedDefault]="9"
          [showSearch]="true"
          (searchInputValue)="formBuscar.get('frmSearch')?.setValue($event.toUpperCase()); getContratos()"
          [searchInputPlaceHolder]="'Buscar contrato'"
          [showFirstDisplayFilter]="true"
          [firstDisplayFilterPlaceholder]="{'indicador': false, 'placeholder': 'Estado'}"
          (firstDisplayFilterSendValue)="formBuscar.get('frmSearchEstado')?.setValue($event); getContratos()"
        ></esp-opciones-busqueda>
        <div class="pt-2">
            <div class="grid grid-cols-6 gap-1 border-b-2 border-gray-300 pb-2 text-[14px] filasPseudoTabla">
              <span class="col-span-2">Origen del Contratado</span>
              <span>N° de Contrato</span>
              <span>Fecha Registro</span>
              <span>Estado</span>
              <span>Opc</span>
            </div>            
            <div *ngIf="dataContratos.length == 0" class="w-full h-3/4 flex items-center">
              <div class="m-auto w-fit text-center py-6">
                <img class="m-auto" src="assets/svg/empty-data.svg" alt="">
                <h3 class="text-gray-500 mt-2 font-light">No existen registros aun.</h3>
              </div>
            </div>
            <div *ngIf="dataContratos.length > 0" class="overflow-auto max-h-[201px]">
              <div class="dataPseudoTablaContratos" *ngFor="let data of dataContratos, index as i">
                <span class="col-span-2">{{data.origenContrato === 'DESDE_RED' ? 'Contrato desde la RED' : 'Contratado por el CAM'}}</span>
                <span class="text-[var(--color-CAM)]">{{data.numOc}}</span>
                <span>{{data.fechaReg | date:'dd/MM/yyyy'}}</span>
                <span [ngClass]="data.estado === 'CONFIRMADO' ? 'text-green-500':'text-red-500'">{{data.estado | titlecase}}</span>
                <div class="text-center self-center text-[20px]">
                    <esp-icon icon="faEllipsis" class="cursor-pointer" [cdkMenuTriggerFor]="optionsSidenav"></esp-icon>
                </div>
                <ng-template #optionsSidenav>
                    <div class="botonApariencia bg-white !text-[var(--color-black-alt)] text-sm" cdkMenu>
                        <div class="p-1 flex flex-col gap-px"cdkMenuGroup>
                            <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem>
                                <div class="text-[16px]">
                                    <esp-icon [icon]="'faEdit'"></esp-icon>
                                </div>
                                <span>Editar</span>
                            </div>
                            <!-- <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem (click)="downloadFile(contrato)">
                                <div class="text-[16px]">
                                    <esp-icon [icon]="'faDownload'"></esp-icon>
                                </div>
                                <span>Descargar OC</span>
                            </div>
                            <div class="flex flex-row items-center gap-2 hover:bg-[#E9E9E9] px-2 py-1.5 outline-none cursor-pointer rounded" cdkMenuItem (click)="deleteItem(contrato)">
                                <div class="text-[16px]">
                                    <esp-icon [icon]="'faTrashCan'"></esp-icon>
                                </div>
                                <span>Eliminar</span>
                            </div> -->
                        </div>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>
        
    </div>
    <!-- <div class="flex flex-col">
        <p class="subtituloMarcado"> Talleres</p>
        <div class="pl-2.5 py-2.5">
            <ul class="Lista-Opciones-Marcar">
                <li *ngFor="let proceso of opcionesProcesos, index as i">
                    <input type="checkbox" [id]="'proceso_'+proceso.procesoId" [value]="proceso.procesoId" class="peer focusCampo">
                    <label [for]="'proceso_'+proceso.procesoId" class="hover:text-gray-600 hover:bg-gray-50">                           
                        <span class="text-base">{{proceso.nombre}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div> -->
</div>