<mat-card style="margin: 30px;" class="example-card">

  <form [formGroup]="formDatosTallerista">

    <div fxLayout="row" fxLayoutAlign="end center">

      <mat-label class="color-label">Tallerista: </mat-label>
      <mat-form-field class="" appearance="outline">
        <mat-select formControlName="tallerista">
          <mat-option *ngFor="let item of talleristas" [value]="item">
            {{item.nombres}} {{item.apePaterno}} {{item.apeMaterno}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-card-title class="tutulo">Registro de asistencia de talleres</mat-card-title>

    <br>

    <mat-label class="color-label">Nombre del taller: </mat-label>
    <mat-form-field class="container" appearance="outline">
      <mat-select formControlName="taller">
        <mat-option *ngFor="let item of talleres" [value]="item">
          {{item.codTaller}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <!-- ------------------------------ FORMULARIO 1 ------------------------------ -->

    <!--
    <div [hidden]="true">
      <mat-form-field class="container">
        <mat-label>ID</mat-label>
        <input matInput type="text" placeholder="ID" >
      </mat-form-field>
    </div> -->

    <mat-label class="color-label">Modalidad: </mat-label>
    <mat-form-field class="">
      <input matInput type="text" placeholder="" formControlName="modalidad">
    </mat-form-field>

    <br>

    <mat-label class="color-label">Fecha de Registro: </mat-label>
    <mat-form-field class="container" appearance="outline">
      <mat-label></mat-label>
      <input matInput [matDatepicker]="pickerStartDate" formControlName="fechaRegistro">
      <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button type="button" color="primary" [disabled]="formDatosTallerista.invalid"
      (click)="buscarTaller()">Buscar</button>

  </form>

  <br>

  <form [formGroup]="formTallerDet">

    <label class="color-label">Hora del taller: </label>

    <mat-radio-group class="color-label" formControlName="horaTaller">
      <mat-radio-button class="date_space" *ngFor="let item of tallerDetHoras" [value]="item">
        {{item.horaIni | date: 'shortTime'}} - {{item.horaFin | date: 'shortTime'}}
      </mat-radio-button>
      <label class="date_space"></label>
    </mat-radio-group>

  </form>

  <br><br>

  <form [formGroup]="formAsegurado">

    <mat-label class="color-label">Tipo de Doc: </mat-label>
    <mat-form-field class="" appearance="outline">
      <mat-select formControlName="tipoDoc">
        <mat-option *ngFor="let item of tipoDocumento" [value]="item">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-label class="color-label">Tipo Doc: </mat-label>
    <mat-form-field class="container" appearance="outline">
      <input matInput type="number" placeholder="" formControlName="tipoDoc">
    </mat-form-field> -->

    <mat-label class="color-label">Nro. Doc: </mat-label>
    <mat-form-field class="container" appearance="outline">
      <input matInput type="number" placeholder="" formControlName="numDoc">
    </mat-form-field>

    <button mat-raised-button type="button" color="primary" [disabled]="tipoDoc.invalid || numDoc.invalid"
      (click)="buscarAsegurado()">Buscar</button>

    <br>

    <div [hidden]="true">
      <mat-label class="color-label">Asegurado: </mat-label>
      <mat-form-field class="container">
        <input matInput type="text" placeholder="" formControlName="asegurado">
      </mat-form-field>
    </div>

    <mat-label class="color-label">Asegurado: </mat-label>
    <mat-form-field class="container">
      <input matInput type="text" placeholder="" disabled value="{{nombreApellido}}">
    </mat-form-field>

    <button mat-raised-button type="button" color="primary"
      [disabled]="formDatosTallerista.invalid || formTallerDet.invalid || asegurado.invalid"
      (click)="agregar()">Agregar</button>

  </form>

  <br> <br>

  <h2 class="participantes">Participantes</h2>

  <!-- ------------------------------ TABLA ------------------------------ -->
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="numero">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="fondo-azul"> </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoDoc">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="fondo-azul"> Tipo de Doc. </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.asegurado.tipoDocumento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numDoc">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="fondo-azul"> Nro de Doc. </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.asegurado.numDoc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="fondo-azul"> Nombre </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">
        {{element.asegurado.nombres}} {{element.asegurado.apellidoPaterno}} {{element.asegurado.apellidoMaterno}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell mat-header-cell *matHeaderCellDef class="fondo-azul"> </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element; let i = index"> <button mat-flat-button
          (click)="eliminar(i)">Eliminar</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button type="button" color="primary" [disabled]="dataSource.data.length == 0"
      (click)="guardarAsistencia()">Guardar Asistencia</button>
    <button mat-raised-button type="button" color="primary" routerLink="/home">Salir</button>
  </div>


</mat-card>
