<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="saveRole()">
  <div class="div-mat-tab">
    <div class="d-flex bg-ligth2 p-2 w-100">
      <div class="w-50 justify-content-start">
        <div class="d-flex">
          <a routerLink="/usuarios/roles" class="text-primary2 decorator-none">
            <span class="material-symbols-outlined text-s-15 pt-2">
              keyboard_backspace
            </span>
            <span class="text-w-fine text-w-semibold text-s-15 pt-2">
              REGRESAR
            </span>
          </a>
        </div>
      </div>
      <div class="w-50 d-flex justify-content-end">
        <app-btn
          typeBtn="submit"
          color="success"
          [loading]="status === 'loading'"
          >GUARDAR
        </app-btn>
      </div>
    </div>
  </div>

  <div class="cards-contents">
    <mat-card>
      <mat-card-title
        class="text-secondary text-w-semibold text-uppercase text-s-20"
      >
        NUEVO ROL
      </mat-card-title>

      <mat-card-content>
        <div class="div-content-form">
          <mat-form-field class="p-1">
            <mat-label> NOMBRE</mat-label>
            <input
              #nameInput
              formControlName="nombre"
              placeholder="NOMBRE"
              matInput
              type="text"
            />
            <mat-hint
              *ngIf="
                form.controls.nombre.touched &&
                form.controls.nombre.invalid &&
                form.controls.nombre.hasError('required')
              "
              class="text-danger"
            >
              Nombre es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.nombre.touched &&
                form.controls.nombre.invalid &&
                form.controls.nombre.hasError('minlength')
              "
              class="text-danger"
            >
              Nombre inválido - Mínimo 6 Caracteres
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="p-1">
            <mat-label> CODIGO</mat-label>
            <input
              #nameInput
              formControlName="codigo"
              placeholder="Codigo CAM"
              matInput
              type="email"
            />
            <mat-hint
              *ngIf="
                form.controls.codigo.touched &&
                form.controls.codigo.invalid &&
                form.controls.codigo.hasError('required')
              "
              class="text-danger"
            >
              Codigo es obligatorio
            </mat-hint>
            <mat-hint
              *ngIf="
                form.controls.codigo.touched &&
                form.controls.codigo.invalid &&
                form.controls.codigo.hasError('minlength')
              "
              class="text-danger"
            >
              Código inválido - Mínimo 6 Caracteres
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title
        class="text-secondary text-w-semibold text-uppercase text-s-20"
      >
        Información adicional</mat-card-title
      >
      <div *ngIf="false" class="div-img-pre">
        <!--
                <img [src]="false" alt="" />
                -->
      </div>
    </mat-card>
  </div>
</form>
