<div *ngIf="titulo" class="titulo"><span>{{tituloReflejado.tituloOpcional ? tituloReflejado.tituloOpcional : titulo}}</span></div>
<nav mat-tab-nav-bar class="border-b" [tabPanel]="tabPanel" [ngStyle]="{'border-bottom-style': (showBottomLine ? 'solid' : 'none')}">
  <a class="tabsSubTemas"
    mat-tab-link
    *ngFor="let link of links"
    (click)="activeTab = link.url; tituloReflejado = link"
    routerLink="{{ link.url }}"
    [active]="activeTab == link.url"
  >
    {{ link.title }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>