<div class="px-4 py-3 bg-primary-700 flex justify-between text-white">
    <b *ngIf="data.edicion">Editar Dirección</b>
    <b *ngIf="!data.edicion">Nueva Dirección</b>
    <button (click)="onClose()"><esp-icon icon="faClose"></esp-icon></button>
</div>
<div class="px-4 py-3 bg-white" [formGroup]="formDireccion">
    <span class="text-[#37474F] font-bold" *ngIf="data.edicion">Actualizar Datos de la Dirección</span>
    <span class="text-[#37474F] font-bold" *ngIf="!data.edicion">Registrar Datos de la Nueva Dirección</span>
    <ul class="grid w-full gap-3 md:grid-cols-1 mb-2">
        <li>
            <div class="mt-3 rounded-md shadow-sm">
            <select formControlName="frmNombreDireccion"
                class="bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focusCampo block w-full">
                <option [selected]="true" disabled>¿Nombre de esta dirección? (Casa - Trabajo - Otros)</option>
                <!-- <option *ngFor="let opcion of opcionesDireccion" [selected]="opcion.selected">{{opcion.valor}}</option> -->
                <ng-container *ngFor="let opcion of listaDirecciones">
                    <option *ngIf="opcion.valor2 !== 'RENIEC'" [selected]="opcion.nombre === formDireccion.value.frmNombreDireccion">{{opcion.nombre | titlecase}}</option>
                </ng-container>
            </select>
            </div>
            <div *ngIf="formDireccion.controls.frmNombreDireccion.touched && formDireccion.controls.frmNombreDireccion.invalid">
                <p *ngIf="formDireccion.controls.frmNombreDireccion.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                    Seleccione un nombre para la ubicación
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmDireccion"
            class="inputTextoDialog focusCampo"
            placeholder="Dirección">
            
            <div *ngIf="formDireccion.controls.frmDireccion.touched && formDireccion.controls.frmDireccion.invalid">
                <p *ngIf="formDireccion.controls.frmDireccion.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                La dirección es obligatoria
                </p>
            </div>
        </li>
        <li>
            <input type="text" formControlName="frmPiso"
            class="inputTextoDialog focusCampo"
            placeholder="Piso / Apartamento">
        </li>
        <li>
            <input type="text" [formControl]="distrControl" [matAutocomplete]="auto" aria-expanded="true" aria-owns="mat-autocomplete-0"
            class="inputTextoDialog focusCampo"
            placeholder="Distrito - Provincia - Departamento">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnUbicacion" (optionSelected)="onSelectionChangeJefe($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.nombreUbicacion | titlecase}}
            </mat-option>
            </mat-autocomplete>
            <p *ngIf="showErrorSelect" class="font-medium text-red-500 text-xs mt-1 ml-1">
            Debe seleccionar una de las opciones brindadas
            </p>
            <div *ngIf="distrControl.touched && distrControl.invalid">
                <p *ngIf="distrControl.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
                </p>
            </div>
        </li>
    </ul>
    <div class="flex justify-center space-x-2 relative">
    <div class="w-1/4">
        <div class="relative mt-2 rounded-md shadow-sm botonApariencia">
            <app-btn color="white" (click)="onClose()">Cancelar
            </app-btn>
        </div>
    </div>
    <div class="w-1/4">
        <div class="relative mt-2 rounded-md shadow-sm botonApariencia">
            <app-btn typeBtn="submit" color="mezclado" (click)="onSave()">Guardar
            </app-btn>
        </div>
    </div>
    <div class="text-red-600 absolute right-0 inset-y-0 flex content-center flex-wrap">
        <esp-icon icon="faTrashCan" *ngIf="data.edicion" class="cursor-pointer" (click)="onEliminate()"></esp-icon>
    </div>
    </div>
</div>